Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

latest stuff
  client/src/components/atoms/Sets/SetTitle.tsx
  client/src/components/organisms/Cards/CardCompact.tsx
  client/src/components/organisms/Cards/CardDetailsModal.tsx
  client/src/components/organisms/Cards/CardDisplayResponsive.tsx
  src/App.MtgDiscovery.GraphQL/appsettings.Local.json
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

untrack
  .gitignore
  src/App.MtgDiscovery.GraphQL/appsettings.Local.json
Due: .pipelines/deploy/backend-pipeline.yml

binder page
  client/DEBUG_DRAWER_INSTRUCTIONS.md
  client/DRAWER_FIX_ANALYSIS.md
  client/src/App.tsx
  client/src/components/atoms/Binder/PageTab.tsx
  client/src/components/atoms/Binder/index.ts
  client/src/components/atoms/Icons.tsx
  client/src/components/atoms/Sets/SetCodeBadge.tsx
  client/src/components/atoms/Sets/SetTitle.tsx
  client/src/components/atoms/ToggleButton.tsx
  client/src/components/atoms/ToggleButtonGroup.tsx
  client/src/components/atoms/index.ts
  client/src/components/atoms/shared/CollectionProgressBar.tsx
  client/src/components/atoms/shared/SetDateBadge.tsx
  client/src/components/atoms/types.ts
  client/src/components/molecules/Binder/BinderSlot.tsx
  client/src/components/molecules/Binder/index.ts
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/molecules/shared/CollectionStatsSummary.tsx
  client/src/components/organisms/Binder/BinderControls.tsx
  client/src/components/organisms/Binder/BinderPageGrid.tsx
  client/src/components/organisms/Binder/BinderPageTabs.tsx
  client/src/components/organisms/Binder/BinderView.tsx
  client/src/components/organisms/Binder/index.ts
  client/src/components/organisms/Cards/CardDetailsModal.tsx
  client/src/components/organisms/Sets/SetPageHeader.tsx
  client/src/components/pages/BinderPage.tsx
  client/src/components/pages/index.ts
  client/src/hooks/useBinderNavigation.ts
  client/src/hooks/useBinderPageData.ts
Due: .pipelines/deploy/frontend-pipeline.yml

getting change badge
  client/src/components/atoms/Cards/LastDeltaBadge.tsx
  client/src/components/atoms/Cards/index.ts
  client/src/components/molecules/shared/MobileFilterBar.tsx
  client/src/components/organisms/Cards/MtgCard.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/hooks/useLastDelta.ts
  client/src/utils/directDomOverlay.ts
  client/src/utils/globalCardEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

WISHLIST
  .gitignore
  src/App.MtgDiscovery.GraphQL/appsettings.Development.json
  src/App.MtgDiscovery.GraphQL/appsettings.Production.json
Due: .pipelines/deploy/backend-pipeline.yml

mappers fixed
  src/Lib.Aggregator.UserWishlistCards/Commands/Mappers/IUserWishlistCardDetailsExtToOufMapper.cs
  src/Lib.Aggregator.UserWishlistCards/Commands/Mappers/IUserWishlistCardExtToOufEntityMapper.cs
  src/Lib.Aggregator.UserWishlistCards/Queries/Mappers/IUserWishlistCardsByIdsItrToXfrMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

git silly
  src/Lib.Aggregator.UserWishlistCards/Queries/Mappers/ICollectionUserWishlistCardExtToOufMapper.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Mappers/IAddUserWishlistCardArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Mappers/IUserWishlistCardDetailsArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserWishlistCards/IGetUserWishlistEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

wishlist and revamped set
  client/src/components/atoms/Sets/SetTypeAccent.tsx
  client/src/components/atoms/Sets/index.ts
  client/src/components/atoms/shared/CollectionProgressBar.tsx
  client/src/components/atoms/shared/ProgressRing.tsx
  client/src/components/atoms/shared/index.ts
  client/src/components/molecules/Cards/QuickEntryKeysFab.tsx
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/molecules/shared/CollectionStatsSummary.tsx
  client/src/components/organisms/Sets/SetCollectionPanel.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/WishlistPage.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/apollo-client.ts
  client/src/graphql/queries/sets.ts
  client/src/graphql/queries/wishlist.ts
  client/src/hooks/useArtistCardsData.ts
  client/src/hooks/useBinderPageData.ts
  client/src/hooks/useMtgCardMemo.ts
  client/src/hooks/useSetCollectionProgress.ts
  client/src/hooks/useSetPageData.ts
  client/src/hooks/useUrlFilterState.ts
  client/src/hooks/useWishlistUpdates.ts
  client/src/types/collection.ts
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserWishlistCards/WishlistItemCountValidator.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

card entry tally
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/organisms/Sets/SetPageHeader.tsx
  client/src/hooks/useSetGroupToggle.ts
  src/Lib.Adapter.UserSetCards/Commands/Integrators/UserSetCardIntegrator.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

set icon
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/hooks/useMtgCardCollectionActions.ts
  client/src/types/collection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

adjust icon size
  client/src/components/molecules/Sets/MtgSetCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

binder and wishlist fixing
  client/src/components/atoms/Binder/PageTab.tsx
  client/src/components/molecules/Binder/BinderSlot.tsx
  client/src/components/organisms/Binder/BinderPageGrid.tsx
  client/src/components/organisms/Binder/BinderPageTabs.tsx
  client/src/components/organisms/Binder/BinderView.tsx
  client/src/components/organisms/Sets/SetCollectionPanel.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/BinderPage.tsx
  client/src/graphql/queries/wishlist.ts
  client/src/hooks/useSetGroupToggle.ts
  client/src/hooks/useUrlState.ts
  client/src/main.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

image scraper
  .gitignore
  src/Cli.Sealed.ImageScraper/COMING_SOON.png
  src/Cli.Sealed.ImageScraper/Cli.Sealed.ImageScraper.csproj
  src/Cli.Sealed.ImageScraper/Dashboard/IImageScraperDashboard.cs
  src/Cli.Sealed.ImageScraper/Dashboard/RazorConsoleImageScraperDashboard.cs
  src/Cli.Sealed.ImageScraper/Dashboard/RazorUI/ImageScraperDashboard.razor
  src/Cli.Sealed.ImageScraper/Dashboard/RazorUI/ImageScraperDashboardState.cs
  src/Cli.Sealed.ImageScraper/Dashboard/RazorUI/_Imports.razor
  src/Cli.Sealed.ImageScraper/Downloading/IImageDownloader.cs
  src/Cli.Sealed.ImageScraper/Downloading/ImageDownloader.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/CardMarketImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/CardTraderImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/IImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/TcgPlayerImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageScraperApplication.cs
  src/Cli.Sealed.ImageScraper/Logging/ISkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/Logging/SkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/MTGO_REDEMPTION.png
  src/Cli.Sealed.ImageScraper/MTGO_REDEMPTION_FOIL.png
  src/Cli.Sealed.ImageScraper/Models/DownloadResult.cs
  src/Cli.Sealed.ImageScraper/Models/ImageSize.cs
  src/Cli.Sealed.ImageScraper/Models/SealedProduct.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/AllPrintingsDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/MtgJsonIdentifiersDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/MtgJsonSealedProductDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/MtgJsonSetDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/IMtgJsonCache.cs
  src/Cli.Sealed.ImageScraper/MtgJson/IMtgJsonFetcher.cs
  src/Cli.Sealed.ImageScraper/MtgJson/MtgJsonCache.cs
  src/Cli.Sealed.ImageScraper/MtgJson/MtgJsonFetcher.cs
  src/Cli.Sealed.ImageScraper/MtgoRedemption/IMtgoRedemptionImageGenerator.cs
  src/Cli.Sealed.ImageScraper/MtgoRedemption/MtgoRedemptionImageGenerator.cs
  src/Cli.Sealed.ImageScraper/Orchestration/IImageScraperOrchestrator.cs
  src/Cli.Sealed.ImageScraper/Orchestration/ImageScraperOrchestrator.cs
  src/Cli.Sealed.ImageScraper/Program.cs
  src/Cli.Sealed.ImageScraper/appsettings.json
  src/Directory.Packages.props
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

sealed ingestion
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Cli.Sealed.ImageScraper/COMING_SOON.jpg
  src/Cli.Sealed.ImageScraper/COMING_SOON.png
  src/Cli.Sealed.ImageScraper/Cli.Sealed.ImageScraper.csproj
  src/Cli.Sealed.ImageScraper/Logging/ISkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/Logging/SkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/Models/SealedProduct.cs
  src/Cli.Sealed.ImageScraper/MtgJson/MtgJsonFetcher.cs
  src/Cli.Sealed.ImageScraper/Orchestration/ImageScraperOrchestrator.cs
  src/Cli.Sealed.Ingestion/Cli.Sealed.Ingestion.csproj
  src/Cli.Sealed.Ingestion/Dashboard/IIngestionDashboard.cs
  src/Cli.Sealed.Ingestion/Dashboard/RazorConsoleIngestionDashboard.cs
  src/Cli.Sealed.Ingestion/Dashboard/RazorUI/IngestionDashboard.razor
  src/Cli.Sealed.Ingestion/Dashboard/RazorUI/IngestionDashboardState.cs
  src/Cli.Sealed.Ingestion/Dtos/AllPrintingsDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonIdentifiersDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonPurchaseUrlsDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonSealedProductDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonSetDto.cs
  src/Cli.Sealed.Ingestion/Ingestion/ISealedProductIngestionService.cs
  src/Cli.Sealed.Ingestion/Ingestion/SealedProductIngestionService.cs
  src/Cli.Sealed.Ingestion/Program.cs
  src/Cli.Sealed.Ingestion/SealedProductIngestionApplication.cs
  src/Cli.Sealed.Ingestion/appsettings.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/SealedProductExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/SealedProductsScribe.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/Definitions/SealedProductsCosmosContainerDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/SealedProductsCosmosContainer.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Primitives/SealedProductItemsCosmosContainerName.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

ignore update
  .gitignore
Due: none

pre impl
  SEALED_PRODUCTS_PLAN.md
  SEALED_PRODUCTS_TASKS.md
Due: none

feat(sealed-products): Task 1.1 - Create SealedProductsBySetIdArgs
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/Args/SealedProductsBySetIdArgs.cs
  task-1.1-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

feat(sealed-products): Task 1.2 - Create SealedProductsBySetIdQueryDefinition
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/SealedProductsBySetIdQueryDefinition.cs
  task-1.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

feat(sealed-products): Task 1.3 - Create SealedProductsInquisitor
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitors/SealedProductsInquisitor.cs
  task-1.3-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

feat(sealed-products): Task 1.4 - Create SealedProductsBySetIdInquisition
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/SealedProductsBySetIdInquisition.cs
  task-1.4-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

feat(sealed-products): Task 1.5 - Create SealedProductsGopher
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Gophers/SealedProductsGopher.cs
  task-1.5-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 2.1: Create ISealedProductsBySetCodeArgEntity interface
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Shared.DataModels/Entities/Args/SealedProducts/ISealedProductsBySetCodeArgEntity.cs
  task-2.1-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 2.2: Create ISealedProductItrEntity interface
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Shared.DataModels/Entities/Itrs/SealedProducts/ISealedProductItrEntity.cs
  task-2.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 2.3: Create ISealedProductsBySetCodeItrEntity interface
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Shared.DataModels/Entities/Itrs/SealedProducts/ISealedProductsBySetCodeItrEntity.cs
  task-2.3-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 2.4: Create ISealedProductOufEntity interface
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Shared.DataModels/Entities/Oufs/SealedProducts/ISealedProductOufEntity.cs
  task-2.4-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.1: Create Lib.Adapter.SealedProducts project
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Lib.Adapter.SealedProducts.csproj
  src/MtgDiscoveryVibe.sln
  task-3.1-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.2: Create SealedProductsAdapterException
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Exceptions/SealedProductsAdapterException.cs
  task-3.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.3: Create SealedProductsBySetCode Xfr Entity
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Entities/ISealedProductsBySetCodeXfrEntity.cs
  src/Lib.Adapter.SealedProducts/Apis/Entities/SealedProductsBySetCodeXfrEntity.cs
  task-3.3-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.4: Create SealedProductOufEntity implementation
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Entities/SealedProductOufEntity.cs
  task-3.4-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.5: Create SealedProductExtToOufMapper
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Queries/Mappers/ISealedProductExtToOufMapper.cs
  src/Lib.Adapter.SealedProducts/Queries/Mappers/SealedProductExtToOufMapper.cs
  task-3.5-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.6: Create SealedProductsBySetCodeAdapter
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Queries/ISealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Apis/Queries/SealedProductsBySetCodeAdapter.cs
  task-3.6-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.7: Create SealedProductsAdapterService
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Entities/ISealedProductsBySetCodeXfrEntity.cs
  src/Lib.Adapter.SealedProducts/Apis/ISealedProductsAdapterService.cs
  src/Lib.Adapter.SealedProducts/Apis/SealedProductsAdapterService.cs
  task-3.7-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 4.1: Create Lib.Aggregator.SealedProducts project
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Aggregator.SealedProducts/Lib.Aggregator.SealedProducts.csproj
  src/MtgDiscoveryVibe.sln
  task-4.1-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 4.2: Create SealedProductsBySetCode ItrToXfr Mapper
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Aggregator.SealedProducts/Queries/Entities/SetCodeXfrEntity.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/ISealedProductsBySetCodeItrToXfrMapper.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/SealedProductsBySetCodeItrToXfrMapper.cs
  task-4.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Fix mappers to implement ICreateMapper interface
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Queries/SealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Queries/Mappers/ISealedProductExtToOufMapper.cs
  src/Lib.Adapter.SealedProducts/Queries/Mappers/SealedProductExtToOufMapper.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/ISealedProductsBySetCodeItrToXfrMapper.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/SealedProductsBySetCodeItrToXfrMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

Fix ISealedProductsBySetCodeAdapter to extend IOperationResponseService
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Queries/ISealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Apis/Queries/SealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Apis/SealedProductsAdapterService.cs
Due: .pipelines/deploy/backend-pipeline.yml

Complete Aggregator Layer (Tasks 4.3-4.4)
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Aggregator.SealedProducts/Apis/ISealedProductsAggregatorService.cs
  src/Lib.Aggregator.SealedProducts/Apis/Queries/ISealedProductsBySetCodeAggregator.cs
  src/Lib.Aggregator.SealedProducts/Apis/Queries/SealedProductsBySetCodeAggregator.cs
  src/Lib.Aggregator.SealedProducts/Apis/SealedProductsAggregatorService.cs
  src/Lib.Aggregator.SealedProducts/Exceptions/SealedProductsAggregatorException.cs
Due: .pipelines/deploy/backend-pipeline.yml

Complete Domain Layer (Tasks 5.1-5.3)
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Domain.SealedProducts/Apis/ISealedProductsDomainService.cs
  src/Lib.Domain.SealedProducts/Apis/SealedProductsDomainService.cs
  src/Lib.Domain.SealedProducts/Lib.Domain.SealedProducts.csproj
  src/Lib.Domain.SealedProducts/Queries/ISealedProductsBySetCodeDomainService.cs
  src/Lib.Domain.SealedProducts/Queries/SealedProductsBySetCodeDomainService.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

Add Entry Layer for sealed products (Phase 6)
  SEALED_PRODUCTS_TASKS.md
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/ISealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/SealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/Itrs/SealedProducts/SealedProductsBySetCodeItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Lib.MtgDiscovery.Entry.csproj
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/CollectionSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ICollectionSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ISealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ISealedProductsBySetCodeArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/SealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/SealedProductsBySetCodeArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/HasValidSetCodeSealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/ISealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/IsNotNullSealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/SealedProductsBySetCodeArgEntityValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/ISealedProductsBySetCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/SealedProductsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml
