Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

.pipelines/deploy/backend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push Container
    jobs:
    - job: BuildContainer
      displayName: Build .NET Container Image
      steps:
      - template: ../shared/resource-names.yml
        parameters:
          environment: shared
          includeShared: true
  ...

.pipelines/deploy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: BuildReact
      displayName: Build React Application
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

binder pages looking good.
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Binder/BinderControls.tsx
  client/src/components/organisms/Binder/BinderPageGrid.tsx
  client/src/components/organisms/Binder/BinderPageTabs.tsx
  client/src/components/organisms/Binder/BinderView.tsx
  client/src/hooks/useUrlState.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add shared data model interfaces for sealed product collection
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Oufs/UserSealedProducts/IUserSealedProductOufEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add aggregator layer for sealed product collection tracking
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Lib.Aggregator.UserSealedProducts.csproj
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add Cosmos operators for sealed product collection tracking
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Gophers/UserSealedProductsGopher.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitors/UserSealedProductsInquisitor.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Janitors/UserSealedProductsJanitor.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add adapter layer for sealed product collection tracking
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Exceptions/UserSealedProductsAdapterException.cs
  src/Lib.Adapter.UserSealedProducts/Lib.Adapter.UserSealedProducts.csproj
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: apply MicroObjects patterns to sealed product adapters
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-2.7 - Entry Layer for User Sealed Products
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/UserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/AddUserSealedProductArgValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidCountDeltaAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidProductUuidAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidSetIdAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidUserIdAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/IAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/AddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/IAddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/AddUserSealedProductResultOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/UserSealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/CollectionUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ICollectionUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/IUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/IUserSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/HasValidUserIdItrValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/IUserIdItrValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/UserIdItrValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/IUserSealedProductsByUserIdEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/UserSealedProductsByUserIdEntryService.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/AddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserIdItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-2.4, TASK-2.5, TASK-2.6 - Adapter, Aggregator, and Domain layers
  .http/getSealedProductsBySetCode.http
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/IUserSealedProductReadPointMapper.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/UserSealedProductReadPointMapper.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/IAddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Lib.Domain.UserSealedProducts.csproj
  src/Lib.Domain.UserSealedProducts/Queries/IUserSealedProductsByUserIdDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IAddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserIdItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Oufs/UserSealedProducts/UserSealedProductOufEntity.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-3.4 - useSealedProductCollection Hook
  client/src/hooks/useSealedProductCollection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fix: CRITICAL security fixes for TASK-2.8 GraphQL layer
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/AddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/IAddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductServerArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Args/UserSealedProducts/AddUserSealedProductArgEntityInputType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/AddUserSealedProductResponseModelUnionType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/AddUserSealedProductSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/SealedProducts/SealedProductType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/UserSealedProducts/AddUserSealedProductResultOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserSealedProductsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Schemas/ApiMutationExtensions.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/AddUserSealedProductArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/IAddUserSealedProductArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductClientArgEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-3.3 - GraphQL Mutation and Query Files
  client/src/graphql/mutations/sealedProducts.ts
  client/src/graphql/queries/sealedProducts.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.6 - SealedProductGrid and SetPage Integration
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/hooks/useSealedProductsData.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.2 - Sealed Collection Badge Component
  client/src/components/atoms/Sealed/SealedCollectionBadge.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.5 - SealedProductCard Collection UI Integration
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.1 - Sealed Product Collection Entry Component
  client/src/components/molecules/Sealed/SealedProductCollectionEntry.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

fix: make UserSealedProductsByUserIdXfrArgs public
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: resolve build accessibility errors for user sealed products
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/UserSealedProductReadPointMapper.cs
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.MtgDiscovery.Entry/Lib.MtgDiscovery.Entry.csproj
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

fix: make adapter implementations public and fix IDE0021 warnings
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: correct using statements and property access in UserSealedProducts layers
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: restructure Lib.Aggregator.UserSealedProducts to match UserCards pattern
  src/Lib.Aggregator.UserSealedProducts/Apis/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsCommandAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsQueryAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/UserSealedProductsCommandAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

docs: add HTTP test files for UserSealedProducts feature
  .http/README_UserSealedProducts.md
  .http/addUserSealedProduct.http
  .http/getSealedProductsBySetCode.http
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/getUserSealedProducts.http
Due: none

refactor: restructure Lib.Adapter.UserSealedProducts to match established patterns
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsCommandAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsQueryAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/UserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/UserSealedProductsCommandAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsQueryAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: correct GraphQL layer UserSealedProducts integration
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/UserSealedProductsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: update Entry layer to use composite UserSealedProductsDomainService
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/AddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/UserSealedProductsByUserIdEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: create public aggregator wrapper classes in Apis folder
  src/Lib.Aggregator.UserSealedProducts/Apis/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: move aggregator interfaces to Apis folder for public access
  src/Lib.Aggregator.UserSealedProducts/Apis/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add collectionId parameter for user sealed products
  .http/README_UserSealedProducts.md
  .http/addUserSealedProduct.http
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/getUserSealedProducts.http
  client/src/hooks/useSealedProductCollection.ts
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/AddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/SealedProducts/GetSealedProductsBySetCodeArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductServerArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSealedProductExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsQueryAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/UserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/UserSealedProductItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/UserSealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductItrToOutMapper.cs
  src/Lib.Shared.DataModels/Entities/Args/SealedProducts/ISealedProductsBySetCodeArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductClientArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/AddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IAddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserSealedProductItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

refactor: restructure Lib.Domain.UserSealedProducts to match UserCards pattern
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsCommandDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsQueryDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/UserSealedProductsDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/UserSealedProductsCommandDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsQueryDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

sealed display w/quantity
  client/src/App.tsx
  client/src/components/atoms/Sealed/SealedCollectionBadge.tsx
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Sealed/SealedProductCollectionEntry.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
  client/src/contexts/SealedCollectionContext.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/mutations/sealedProducts.ts
  client/src/graphql/queries/sealedProducts.ts
  client/src/hooks/useSealedProductCollection.ts
  client/src/hooks/useSealedProductCollectionActions.ts
  client/src/hooks/useSealedProductCollectionEntry.ts
  client/src/hooks/useSealedProductGridNavigation.ts
  client/src/hooks/useSealedProductInteractions.ts
  client/src/hooks/useSealedProductsData.ts
  client/src/utils/directSealedProductOverlay.ts
  client/src/utils/globalSealedProductEntryHandler.ts
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Enrichments/IUserSealedProductEnrichment.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Enrichments/UserSealedProductEnrichment.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Integrators/IUserSealedProductIntegrator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Integrators/UserSealedProductIntegrator.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/SealedProductsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

feat: add HTTP test environment setup and fix GraphQL mutation field names
  .http/.env.example
  .http/.gitignore
  .http/README_UserSealedProducts.md
  client/src/graphql/mutations/sealedProducts.ts
Due: .pipelines/deploy/frontend-pipeline.yml

sealed tracked
  client/src/components/atoms/Sealed/LastDeltaBadge.tsx
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Sealed/SealedCollectionSummary.tsx
  client/src/components/molecules/Sealed/SealedProductOverlay.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
  client/src/contexts/SealedCollectionContext.tsx
  client/src/hooks/useSealedProductsData.ts
  client/src/types/sealedProduct.ts
Due: .pipelines/deploy/frontend-pipeline.yml

https
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/sdl.http
Due: none

better sealed and collection overly
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Binder/BinderSlot.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.MIGRATION.md
  client/src/components/molecules/Cards/CollectionEntryOverlay.README.md
  client/src/components/molecules/Cards/CollectionEntryOverlay.example.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.tsx
  client/src/components/molecules/Cards/MIGRATION_GUIDE.md
  client/src/components/molecules/Cards/index.ts
  client/src/components/organisms/Cards/MtgCard.tsx
  client/src/hooks/useCardCollectionEntry.ts
  client/src/hooks/useMtgCardCollectionActions.ts
  client/src/hooks/useSealedProductCollectionActions.ts
  client/src/hooks/useSealedProductCollectionEntry.ts
  client/src/utils/directDomOverlay.ts
  client/src/utils/globalCardEntryHandler.ts
  client/src/utils/globalSealedProductEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

wishlist toggle
  client/src/components/atoms/Binder/PageTab.tsx
  client/src/components/molecules/shared/CollectorFiltersSection.tsx
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/useSetPageData.ts
  client/src/types/filters.ts
  client/src/utils/cardUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fix enter trigger
  client/src/components/molecules/shared/SearchInput.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

sealed product push
  .cosmosConfig/CosmosReload/Run-SealedProductItemsDMT.ps1
  .cosmosConfig/CosmosReload/dmt-SealedProductItems.json
Due: none

more spec
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none

archiving
  .docs/.archived/code-review-refactoring-report.md
  .docs/.archived/custom-images-fallback-plan.md
  .docs/.archived/refactoring-plan.md
Due: none

always show counts
  client/src/components/molecules/Binder/BinderSlot.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml
