Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

.pipelines/deploy/backend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push Container
    jobs:
    - job: BuildContainer
      displayName: Build .NET Container Image
      steps:
      - template: ../shared/resource-names.yml
        parameters:
          environment: shared
          includeShared: true
  ...

.pipelines/deploy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: BuildReact
      displayName: Build React Application
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

deployment changes
  .pipelines/scripts/create-infrastructure.sh
  StandaloneGroupingsScraper/scryfall_set_groupings.json
  client/.env.development
  client/.env.production
  client/deploy.sh
  client/src/graphql/apollo-client.ts
  create-app-insights.sh
  deploy-backend.sh
  docs/convention-prep-implementation-guide.md
  src/App.MtgDiscovery.GraphQL/App.MtgDiscovery.GraphQL.csproj
  src/App.MtgDiscovery.GraphQL/AppMtgDiscoveryGraphQlProgram.cs
  src/App.MtgDiscovery.GraphQL/Properties/launchSettings.json
  src/App.MtgDiscovery.GraphQL/Startup.cs
  src/App.MtgDiscovery.GraphQL/appsettings.Development.json
  src/App.MtgDiscovery.GraphQL/appsettings.Local.json
  src/App.MtgDiscovery.GraphQL/appsettings.Production.json
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
  src/Lib.Cosmos/Adapters/CosmosEntraAuthGenesisDevice.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

test
  client/src/types/set.ts
Due: .pipelines/deploy/frontend-pipeline.yml

add finish selection to groups
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/hooks/useSetGroupToggle.ts
  client/src/types/collection.ts
  client/src/utils/mockFinishCounts.ts
Due: .pipelines/deploy/frontend-pipeline.yml

ui updates
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/graphql/queries/sets.ts
  client/src/graphql/queries/userCards.ts
  client/src/hooks/useSetGroupToggle.ts
Due: .pipelines/deploy/frontend-pipeline.yml

ui updates
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/components/organisms/SetPageHeader.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
Due: .pipelines/deploy/frontend-pipeline.yml

ingestion with group counts
  src/Lib.Scryfall.Ingestion/BulkIngestionOrchestrator.cs
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
  src/Lib.Scryfall.Ingestion/Services/SetGroupingsLoader.cs
Due: .pipelines/deploy/backend-pipeline.yml

set info works
  .http/getSetByCodeWithGroupings.http
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/queries/sets.ts
  client/src/hooks/useSetGroupToggle.ts
  src/App.MtgDiscovery.GraphQL/Entities/Types/Sets/SetGroupingFinishCountsType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Sets/SetGroupingOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Schemas/SetSchemaExtensions.cs
  src/Example.Scryfall.BulkIngestion/appsettings.json
  src/Lib.Adapter.Sets/Entities/SetGroupingItrEntity.cs
  src/Lib.Aggregator.Sets/Models/FinishCountsOufEntity.cs
  src/Lib.Aggregator.Sets/Models/SetGroupingItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/Sets/FinishCountsOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/Sets/SetGroupingOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/SetItemOufToOutMapper.cs
  src/Lib.Shared.DataModels/Entities/Itrs/IFinishCountsOufEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/ISetGroupingItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

scraper updates
  StandaloneGroupingsScraper/Program.cs
  StandaloneGroupingsScraper/scryfall_set_groupings.json
  src/Example.Scryfall.BulkIngestion/appsettings.json
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
Due: .pipelines/deploy/backend-pipeline.yml

add CollectionStatsSummary component for displaying collection statistics
  client/src/components/atoms/shared/CollectionProgressBar.tsx
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/molecules/shared/CollectionStatsSummary.tsx
  client/src/components/molecules/shared/index.ts
  client/src/components/pages/AllSetsPage.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/queries/sets.ts
  client/src/types/set.ts
Due: .pipelines/deploy/frontend-pipeline.yml

update CollectionStatsSummary styles for better alignment and responsiveness; add UserSetCardCollectingCounts interface for detailed card counts
  client/src/components/molecules/shared/CollectionStatsSummary.tsx
  client/src/types/collection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor completion sorting logic to use detailed counts and finishes for improved accuracy
  client/src/components/pages/AllSetsPage.tsx
  client/src/hooks/useUrlFilterState.ts
Due: .pipelines/deploy/frontend-pipeline.yml

Refactor ErrorBoundary props interface and improve code consistency
  client/src/components/ErrorBoundary.tsx
  client/src/components/atoms/Cards/SetLink.tsx
  client/src/components/atoms/shared/PriceDisplay.tsx
  client/src/components/molecules/Cards/ArtistInfo.tsx
  client/src/components/molecules/Cards/ArtistLinks.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionSummaryI18n.tsx
  client/src/components/molecules/Cards/MtgCardCollectionActions.tsx
  client/src/components/molecules/Cards/MtgCardStyles.tsx
  client/src/components/molecules/Cards/index.ts
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/molecules/Sets/MtgSetCardWithCollection.tsx
  client/src/components/organisms/SetCollectionGroups.tsx
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/components/organisms/index.ts
  client/src/hooks/useCardCollectionEntry.ts
  client/src/hooks/useCardCollectionEntry3.ts
  client/src/types/collection.ts
  client/src/utils/artistUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

code review cleanup
  src/App.MtgDiscovery.GraphQL/Authentication/AuthUserArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Startup.cs
  src/Lib.Universal/Http/MonoStateHttpClient.cs
  src/TestConvenience.Core/Extensions/ObjectJsonExtensions.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor error boundary imports to use unified AppErrorBoundary component for improved error handling consistency
  client/src/App.tsx
  client/src/components/index.ts
  client/src/components/molecules/shared/ExternalLinkIcon.tsx
  client/src/components/molecules/shared/ModalContainer.tsx
  client/src/components/molecules/shared/MultiSelectDropdown.tsx
  client/src/components/organisms/AllPrintingsDisplay.tsx
  client/src/components/organisms/ArtistPageCardDisplay.tsx
  client/src/components/organisms/ArtistPageFilters.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/CardGrid.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/components/organisms/SetPageCardDisplay.tsx
  client/src/components/organisms/SetPageFilters.tsx
  client/src/components/organisms/SetPageHeader.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/utils/ErrorBoundaries.tsx
  client/src/components/utils/ErrorBoundary.tsx
  client/src/main.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Implement Set Page Components and Functionality
  client/src/components/molecules/Cards/CardImage.tsx
  client/src/components/molecules/Cards/index.ts
  client/src/components/organisms/Artists/ArtistPageCardDisplay.tsx
  client/src/components/organisms/Artists/ArtistPageFilters.tsx
  client/src/components/organisms/Artists/ArtistPageHeader.tsx
  client/src/components/organisms/Artists/ArtistSearchResults.tsx
  client/src/components/organisms/Cards/AllPrintingsDisplay.tsx
  client/src/components/organisms/Cards/CardCompact.tsx
  client/src/components/organisms/Cards/CardDetailsModal.tsx
  client/src/components/organisms/Cards/CardDisplayResponsive.tsx
  client/src/components/organisms/Cards/CardFilterPanel.tsx
  client/src/components/organisms/Cards/CardGrid.tsx
  client/src/components/organisms/Cards/CardGroup.tsx
  client/src/components/organisms/Cards/CardImageDisplay.tsx
  client/src/components/organisms/Cards/CardSearchResults.tsx
  client/src/components/organisms/Cards/MtgCard.tsx
  client/src/components/organisms/Cards/RelatedCardsDisplay.tsx
  client/src/components/organisms/Sets/SetCollectionGroups.tsx
  client/src/components/organisms/Sets/SetCollectionPanel.tsx
  client/src/components/organisms/Sets/SetPageCardDisplay.tsx
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/organisms/Sets/SetPageHeader.tsx
  client/src/components/organisms/index.ts
  client/src/components/organisms/shared/Footer.tsx
  client/src/components/organisms/shared/Header.tsx
  client/src/components/organisms/shared/LanguagePrompt.tsx
  client/src/components/organisms/shared/NotificationToastStack.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/CardSearchPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/components/templates/Layout.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/hooks/useMtgCardCollectionActions.ts
  client/src/hooks/useMtgCardInteractions.ts
  client/src/hooks/useMtgCardMemo.ts
  client/src/hooks/useMtgCardStyles.ts
Due: .pipelines/deploy/frontend-pipeline.yml

chore: Remove outdated Responsive Mobile Specification document
  RESPONSIVE_MOBILE_SPECIFICATION.md
Due: none

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml
