Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

Replace toggle switch with Binder View button
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add Entry Layer for sealed products (Phase 6)
  SEALED_PRODUCTS_TASKS.md
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/ISealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/SealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/Itrs/SealedProducts/SealedProductsBySetCodeItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Lib.MtgDiscovery.Entry.csproj
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/CollectionSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ICollectionSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ISealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ISealedProductsBySetCodeArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/SealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/SealedProductsBySetCodeArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/HasValidSetCodeSealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/ISealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/IsNotNullSealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/SealedProductsBySetCodeArgEntityValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/ISealedProductsBySetCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/SealedProductsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: apply MicroObjects patterns to sealed product adapters
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: make UserSealedProductsByUserIdXfrArgs public
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add aggregator layer for sealed product collection tracking
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Lib.Aggregator.UserSealedProducts.csproj
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add collectionId parameter for user sealed products
  .http/README_UserSealedProducts.md
  .http/addUserSealedProduct.http
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/getUserSealedProducts.http
  client/src/hooks/useSealedProductCollection.ts
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/AddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/SealedProducts/GetSealedProductsBySetCodeArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductServerArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSealedProductExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsQueryAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/UserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/UserSealedProductItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/UserSealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductItrToOutMapper.cs
  src/Lib.Shared.DataModels/Entities/Args/SealedProducts/ISealedProductsBySetCodeArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductClientArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/AddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IAddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserSealedProductItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.6 - SealedProductGrid and SetPage Integration
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/hooks/useSealedProductsData.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-2.7 - Entry Layer for User Sealed Products
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/UserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/AddUserSealedProductArgValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidCountDeltaAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidProductUuidAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidSetIdAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidUserIdAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/IAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/AddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/IAddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/AddUserSealedProductResultOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/UserSealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/CollectionUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ICollectionUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/IUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/IUserSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/HasValidUserIdItrValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/IUserIdItrValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/UserIdItrValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/IUserSealedProductsByUserIdEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/UserSealedProductsByUserIdEntryService.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/AddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserIdItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

better sealed and collection overly
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Binder/BinderSlot.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.MIGRATION.md
  client/src/components/molecules/Cards/CollectionEntryOverlay.README.md
  client/src/components/molecules/Cards/CollectionEntryOverlay.example.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.tsx
  client/src/components/molecules/Cards/MIGRATION_GUIDE.md
  client/src/components/molecules/Cards/index.ts
  client/src/components/organisms/Cards/MtgCard.tsx
  client/src/hooks/useCardCollectionEntry.ts
  client/src/hooks/useMtgCardCollectionActions.ts
  client/src/hooks/useSealedProductCollectionActions.ts
  client/src/hooks/useSealedProductCollectionEntry.ts
  client/src/utils/directDomOverlay.ts
  client/src/utils/globalCardEntryHandler.ts
  client/src/utils/globalSealedProductEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fix: correct GraphQL layer UserSealedProducts integration
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/UserSealedProductsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

wishlist toggle
  client/src/components/atoms/Binder/PageTab.tsx
  client/src/components/molecules/shared/CollectorFiltersSection.tsx
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/useSetPageData.ts
  client/src/types/filters.ts
  client/src/utils/cardUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

https
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/sdl.http
Due: none

feat: Complete TASK-3.3 - GraphQL Mutation and Query Files
  client/src/graphql/mutations/sealedProducts.ts
  client/src/graphql/queries/sealedProducts.ts
Due: .pipelines/deploy/frontend-pipeline.yml

moving ai docs around.
  docs/CACHING_DESIGN.md
  docs/SEALED_PRODUCTS_PLAN.md
  docs/SEALED_PRODUCTS_TASKS.md
  docs/task-1.1-codereview.md
  docs/task-1.2-codereview.md
  docs/task-1.3-codereview.md
  docs/task-1.4-codereview.md
  docs/task-1.5-codereview.md
  docs/task-2.1-codereview.md
  docs/task-2.2-codereview.md
  docs/task-2.3-codereview.md
  docs/task-2.4-codereview.md
  docs/task-3.1-codereview.md
  docs/task-3.2-codereview.md
  docs/task-3.3-codereview.md
  docs/task-3.4-codereview.md
  docs/task-3.5-codereview.md
  docs/task-3.6-codereview.md
  docs/task-3.7-codereview.md
  docs/task-4.1-codereview.md
  docs/task-4.2-codereview.md
Due: none

sealed display w/quantity
  client/src/App.tsx
  client/src/components/atoms/Sealed/SealedCollectionBadge.tsx
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Sealed/SealedProductCollectionEntry.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
  client/src/contexts/SealedCollectionContext.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/mutations/sealedProducts.ts
  client/src/graphql/queries/sealedProducts.ts
  client/src/hooks/useSealedProductCollection.ts
  client/src/hooks/useSealedProductCollectionActions.ts
  client/src/hooks/useSealedProductCollectionEntry.ts
  client/src/hooks/useSealedProductGridNavigation.ts
  client/src/hooks/useSealedProductInteractions.ts
  client/src/hooks/useSealedProductsData.ts
  client/src/utils/directSealedProductOverlay.ts
  client/src/utils/globalSealedProductEntryHandler.ts
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Enrichments/IUserSealedProductEnrichment.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Enrichments/UserSealedProductEnrichment.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Integrators/IUserSealedProductIntegrator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Integrators/UserSealedProductIntegrator.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/SealedProductsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

refactor: restructure Lib.Domain.UserSealedProducts to match UserCards pattern
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsCommandDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsQueryDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/UserSealedProductsDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/UserSealedProductsCommandDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsQueryDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: create public aggregator wrapper classes in Apis folder
  src/Lib.Aggregator.UserSealedProducts/Apis/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: resolve build accessibility errors for user sealed products
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/UserSealedProductReadPointMapper.cs
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.MtgDiscovery.Entry/Lib.MtgDiscovery.Entry.csproj
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

fix: make adapter implementations public and fix IDE0021 warnings
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

remove cache file
  .gitignore
Due: none

docs: add HTTP test files for UserSealedProducts feature
  .http/README_UserSealedProducts.md
  .http/addUserSealedProduct.http
  .http/getSealedProductsBySetCode.http
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/getUserSealedProducts.http
Due: none

more docs
  CACHING_DESIGN.md
  SEALED_PRODUCTS_PLAN.md
  SEALED_PRODUCTS_TASKS.md
  task-1.1-codereview.md
  task-1.2-codereview.md
  task-1.3-codereview.md
  task-1.4-codereview.md
  task-1.5-codereview.md
  task-2.1-codereview.md
  task-2.2-codereview.md
  task-2.3-codereview.md
  task-2.4-codereview.md
  task-3.1-codereview.md
  task-3.2-codereview.md
  task-3.3-codereview.md
  task-3.4-codereview.md
  task-3.5-codereview.md
  task-3.6-codereview.md
  task-3.7-codereview.md
  task-4.1-codereview.md
  task-4.2-codereview.md
Due: none

refactor: restructure Lib.Aggregator.UserSealedProducts to match UserCards pattern
  src/Lib.Aggregator.UserSealedProducts/Apis/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsCommandAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsQueryAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/UserSealedProductsCommandAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-3.5 - SealedProductCard Collection UI Integration
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

fix: update Entry layer to use composite UserSealedProductsDomainService
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/AddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/UserSealedProductsByUserIdEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

sealed tracked
  client/src/components/atoms/Sealed/LastDeltaBadge.tsx
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Sealed/SealedCollectionSummary.tsx
  client/src/components/molecules/Sealed/SealedProductOverlay.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
  client/src/contexts/SealedCollectionContext.tsx
  client/src/hooks/useSealedProductsData.ts
  client/src/types/sealedProduct.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fix: move aggregator interfaces to Apis folder for public access
  src/Lib.Aggregator.UserSealedProducts/Apis/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-3.1 - Sealed Product Collection Entry Component
  client/src/components/molecules/Sealed/SealedProductCollectionEntry.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: restructure Lib.Adapter.UserSealedProducts to match established patterns
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsCommandAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsQueryAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/UserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/UserSealedProductsCommandAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsQueryAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: CRITICAL security fixes for TASK-2.8 GraphQL layer
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/AddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/IAddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductServerArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Args/UserSealedProducts/AddUserSealedProductArgEntityInputType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/AddUserSealedProductResponseModelUnionType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/AddUserSealedProductSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/SealedProducts/SealedProductType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/UserSealedProducts/AddUserSealedProductResultOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserSealedProductsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Schemas/ApiMutationExtensions.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/AddUserSealedProductArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/IAddUserSealedProductArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductClientArgEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: correct using statements and property access in UserSealedProducts layers
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-3.4 - useSealedProductCollection Hook
  client/src/hooks/useSealedProductCollection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add HTTP test environment setup and fix GraphQL mutation field names
  .http/.env.example
  .http/.gitignore
  .http/README_UserSealedProducts.md
  client/src/graphql/mutations/sealedProducts.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-2.4, TASK-2.5, TASK-2.6 - Adapter, Aggregator, and Domain layers
  .http/getSealedProductsBySetCode.http
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/IUserSealedProductReadPointMapper.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/UserSealedProductReadPointMapper.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/IAddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Lib.Domain.UserSealedProducts.csproj
  src/Lib.Domain.UserSealedProducts/Queries/IUserSealedProductsByUserIdDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IAddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserIdItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Oufs/UserSealedProducts/UserSealedProductOufEntity.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-3.2 - Sealed Collection Badge Component
  client/src/components/atoms/Sealed/SealedCollectionBadge.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

planned work details
  client/FRONTEND_ARCHITECTURE_REVIEW.md
  client/FRONTEND_REFACTORING_PLAN.md
  docs/code-review-refactoring-report.md
  docs/fast-add-plan.md
  docs/refactoring-plan.md
  docs/tasks/custom-images-fallback-plan.md
Due: .pipelines/deploy/frontend-pipeline.yml

sln fix
  docs/client/DEBUG_DRAWER_INSTRUCTIONS.md
  docs/client/DRAWER_FIX_ANALYSIS.md
  docs/client/FRONTEND_ARCHITECTURE_REVIEW.md
  docs/client/FRONTEND_REFACTORING_PLAN.md
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

file moves
  .docs/.archived/CACHING_DESIGN.md
  .docs/.archived/DEBUG_DRAWER_INSTRUCTIONS.md
  .docs/.archived/DRAWER_FIX_ANALYSIS.md
  .docs/.archived/FRONTEND_ARCHITECTURE_REVIEW.md
  .docs/.archived/FRONTEND_REFACTORING_PLAN.md
  .docs/.archived/MOBILE_FIRST_REDESIGN.md
  .docs/.archived/Mobile-Implementation-Guide.md
  .docs/.archived/SEALED_PRODUCTS_PLAN.md
  .docs/.archived/SEALED_PRODUCTS_TASKS.md
  .docs/.archived/SET_GROUPING_DESIGN.md
  .docs/.archived/convention-prep-implementation-guide.md
  .docs/.archived/task-1.1-codereview.md
  .docs/.archived/task-1.2-codereview.md
  .docs/.archived/task-1.3-codereview.md
  .docs/.archived/task-1.4-codereview.md
  .docs/.archived/task-1.5-codereview.md
  .docs/.archived/task-2.1-codereview.md
  .docs/.archived/task-2.2-codereview.md
  .docs/.archived/task-2.3-codereview.md
  .docs/.archived/task-2.4-codereview.md
  .docs/.archived/task-3.1-codereview.md
  .docs/.archived/task-3.2-codereview.md
  .docs/.archived/task-3.3-codereview.md
  .docs/.archived/task-3.4-codereview.md
  .docs/.archived/task-3.5-codereview.md
  .docs/.archived/task-3.6-codereview.md
  .docs/.archived/task-3.7-codereview.md
  .docs/.archived/task-4.1-codereview.md
  .docs/.archived/task-4.2-codereview.md
  .docs/Accessibility-Implementation-Plan.md
  .docs/COLLECTION_IDENTITY_ARCHITECTURE.md
  .docs/auth-refactoring-plan.md
  .docs/code-review-refactoring-report.md
  .docs/custom-images-fallback-plan.md
  .docs/fast-add-plan.md
  .docs/i18n-Implementation-Plan.md
  .docs/refactoring-plan.md
  docs/SEALED_PRODUCTS_PLAN.md
Due: none
