Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

update user cards
  src/Lib.Domain.UserCards/Apis/UserCardsDomainService.cs
  src/Lib.Domain.UserCards/Commands/AddUserCardDomainService.cs
  src/Lib.Domain.UserCards/Commands/CommandUserCardsDomainService.cs
  src/Lib.Domain.UserCards/Commands/IAddUserCardDomainService.cs
  src/Lib.Domain.UserCards/Commands/UserCardsCommandDomainService.cs
  src/Lib.Domain.UserCards/Queries/IUserCardDomainService.cs
  src/Lib.Domain.UserCards/Queries/IUserCardsByArtistDomainService.cs
  src/Lib.Domain.UserCards/Queries/IUserCardsByIdsDomainService.cs
  src/Lib.Domain.UserCards/Queries/IUserCardsByNameDomainService.cs
  src/Lib.Domain.UserCards/Queries/IUserCardsBySetDomainService.cs
  src/Lib.Domain.UserCards/Queries/QueryUserCardsDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsByArtistDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsByIdsDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsByNameDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsBySetDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsQueryDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

agg artists to execute
  src/Lib.Aggregator.Artists/Apis/ArtistAggregatorService.cs
  src/Lib.Aggregator.Artists/Apis/IArtistAggregatorService.cs
  src/Lib.Aggregator.Artists/Apis/IArtistsQueryAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/ArtistSearch/ArtistSearchAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/ArtistSearch/IArtistSearchAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/ArtistsQueryAggregator.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtist/CardsByArtistAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtist/ICardsByArtistAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtistName/CardsByArtistNameAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtistName/ICardsByArtistNameAggregatorService.cs
Due: .pipelines/deploy/backend-pipeline.yml

removing docs
  CLAUDE.sessions.md
  CODE_REVIEW_FIXES_APPLIED.md
  CODE_REVIEW_REPORT.md
  COLLECTION_UPDATE_VALIDATION.md
  UserSetCards_Collection_Design.md
Due: none

domain sets migrate
  src/Lib.Domain.Sets/Apis/ISetDomainService.cs
  src/Lib.Domain.Sets/Apis/ISetsQueryDomainService.cs
  src/Lib.Domain.Sets/Apis/SetDomainService.cs
  src/Lib.Domain.Sets/Queries/AllSetsDomainService.cs
  src/Lib.Domain.Sets/Queries/IAllSetsDomainService.cs
  src/Lib.Domain.Sets/Queries/ISetsByCodeDomainService.cs
  src/Lib.Domain.Sets/Queries/ISetsDomainService.cs
  src/Lib.Domain.Sets/Queries/QuerySetDomainService.cs
  src/Lib.Domain.Sets/Queries/SetsByCodeDomainService.cs
  src/Lib.Domain.Sets/Queries/SetsDomainService.cs
  src/Lib.Domain.Sets/Queries/SetsQueryDomainService.cs
  src/Lib.MtgDiscovery.Entry/Entities/NoArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Entities/NoArgsItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/INoArgsArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/NoArgsArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/AllSetsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/IAllSetsEntryService.cs
  src/Lib.Shared.DataModels/Entities/Args/INoArgsArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/INoArgsItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

move interface to shared location
  src/Lib.MtgDiscovery.Entry/Apis/IOperationResponseService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Artists/IArtistSearchEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Artists/ICardsByArtistEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Artists/ICardsByArtistNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardNameSearchEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardsByIdsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardsByNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardsBySetCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/IAllSetsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/ISetsByCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/ISetsByIdsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/User/IRegisterUserEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserCards/IUserCardEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserCards/IUserCardsByIdsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserCards/IUserCardsBySetEntryService.cs
  src/Lib.Shared.Invocation/Services/IOperationResponseService.cs
Due: .pipelines/deploy/backend-pipeline.yml

agg cards to execute
  src/Lib.Aggregator.Cards/Apis/CardAggregatorService.cs
  src/Lib.Aggregator.Cards/Apis/ICardAggregatorService.cs
  src/Lib.Aggregator.Cards/Apis/ICardsQueryAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardNameSearch/CardNameSearchAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardNameSearch/ICardNameSearchAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByIds/CardsByIdsAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByIds/ICardsByIdsAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByName/CardsByNameAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByName/ICardsByNameAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsBySetCode/CardsBySetCodeAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsBySetCode/ICardsBySetCodeAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

Implement user registration services and interfaces
  src/Lib.Domain.User/Apis/IUserCommandDomainService.cs
  src/Lib.Domain.User/Apis/IUserDomainService.cs
  src/Lib.Domain.User/Apis/UserDomainService.cs
  src/Lib.Domain.User/Commands/CommandUserDomainService.cs
  src/Lib.Domain.User/Commands/IRegisterUserDomainService.cs
  src/Lib.Domain.User/Commands/RegisterUserDomainService.cs
  src/Lib.Domain.User/Commands/UserCommandDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

correct inheritance
  src/Lib.Domain.Artists/Apis/IArtistDomainService.cs
  src/Lib.Domain.Cards/Apis/ICardDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix auth request
  client/src/hooks/user/useUserSync.ts
Due: .pipelines/deploy/frontend-pipeline.yml

agg sets to execute
  src/Lib.Aggregator.Sets/Apis/ISetAggregatorService.cs
  src/Lib.Aggregator.Sets/Apis/ISetsQueryAggregatorService.cs
  src/Lib.Aggregator.Sets/Apis/SetAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/AllSets/AllSetsAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/AllSets/IAllSetsAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsByCode/ISetsByCodeAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsByCode/SetsByCodeAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsById/ISetsByIdAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsById/SetsByIdAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

agg user to execute
  src/Lib.Aggregator.User/Apis/IUserAggregatorService.cs
  src/Lib.Aggregator.User/Apis/IUserCommandAggregatorService.cs
  src/Lib.Aggregator.User/Apis/UserAggregatorService.cs
  src/Lib.Aggregator.User/Commands/RegisterUser/IRegisterUserAggregatorService.cs
  src/Lib.Aggregator.User/Commands/RegisterUser/RegisterUserAggregatorService.cs
  src/Lib.Aggregator.User/Commands/UserCommandAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor CardAllPrintingsPage component; remove handleBackClick and streamline button navigation
  client/src/components/pages/CardAllPrintingsPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

agg usersetcards to execute
  src/Lib.Aggregator.UserSetCards/Commands/AddSetGroup/AddSetGroupAggregatorService.cs
  src/Lib.Aggregator.UserSetCards/Commands/AddSetGroup/IAddSetGroupAggregatorService.cs
  src/Lib.Aggregator.UserSetCards/Commands/UserSetCardsCommandAggregator.cs
  src/Lib.Aggregator.UserSetCards/Queries/GetUserSetCard/GetUserSetCardAggregatorService.cs
  src/Lib.Aggregator.UserSetCards/Queries/GetUserSetCard/IGetUserSetCardAggregatorService.cs
  src/Lib.Aggregator.UserSetCards/Queries/UserSetCardsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

add LoadingModal and FilterControlsWithLoading components; implement useMinimumLoadingTime hook
  client/src/components/molecules/feedback/LoadingModal.tsx
  client/src/components/molecules/feedback/index.ts
  client/src/components/molecules/shared/DebouncedSearchInput.tsx
  client/src/components/molecules/shared/FilterControlsWithLoading.tsx
  client/src/components/molecules/shared/index.ts
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/useArtistCardsData.ts
  client/src/hooks/useMinimumLoadingTime.ts
  client/src/hooks/useSetPageData.ts
  client/src/hooks/user/useUserSync.ts
Due: .pipelines/deploy/frontend-pipeline.yml

package files... i think
  client/package-lock.json
  client/package.json
Due: .pipelines/deploy/frontend-pipeline.yml

agg user cards to execute
  src/Lib.Aggregator.UserCards/Commands/AddUserCard/AddUserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Commands/AddUserCard/IAddUserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Commands/UserCardsCommandAggregator.cs
  src/Lib.Aggregator.UserCards/Queries/UserCard/IUserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCard/UserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByArtist/IUserCardsByArtistAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByArtist/UserCardsByArtistAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByIds/IUserCardsByIdsAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByIds/UserCardsByIdsAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByName/IUserCardsByNameAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByName/UserCardsByNameAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsBySet/IUserCardsBySetAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsBySet/UserCardsBySetAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Refactor domain services to use ILogger for improved logging capabilities
  src/Lib.Domain.Artists/Queries/ArtistSearchDomainService.cs
  src/Lib.Domain.Artists/Queries/ArtistsQueryDomainService.cs
  src/Lib.Domain.Artists/Queries/CardsByArtistDomainService.cs
  src/Lib.Domain.Artists/Queries/CardsByArtistNameDomainService.cs
  src/Lib.Domain.Cards/Queries/CardNameSearchDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsByIdsDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsByNameDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsBySetCodeDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsQueryDomainService.cs
  src/Lib.Domain.Sets/Queries/AllSetsDomainService.cs
  src/Lib.Domain.Sets/Queries/SetsByCodeDomainService.cs
  src/Lib.Domain.Sets/Queries/SetsDomainService.cs
  src/Lib.Domain.Sets/Queries/SetsQueryDomainService.cs
  src/Lib.Domain.User/Commands/RegisterUserDomainService.cs
  src/Lib.Domain.User/Commands/UserCommandDomainService.cs
  src/Lib.Domain.UserCards/Commands/AddUserCardDomainService.cs
  src/Lib.Domain.UserCards/Commands/UserCardsCommandDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsByArtistDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsByIdsDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsByNameDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsBySetDomainService.cs
  src/Lib.Domain.UserCards/Queries/UserCardsQueryDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

remaining adapters to execute
  src/Lib.Adapter.Artists/Queries/ArtistsQueryAdapter.cs
  src/Lib.Adapter.Artists/Queries/CardsByArtistIdAdapter.cs
  src/Lib.Adapter.Artists/Queries/CardsByArtistNameAdapter.cs
  src/Lib.Adapter.Artists/Queries/ICardsByArtistIdAdapter.cs
  src/Lib.Adapter.Artists/Queries/ICardsByArtistNameAdapter.cs
  src/Lib.Adapter.Artists/Queries/ISearchArtistsAdapter.cs
  src/Lib.Adapter.Artists/Queries/SearchArtistsAdapter.cs
  src/Lib.Adapter.Cards/Queries/CardsByIdsAdapter.cs
  src/Lib.Adapter.Cards/Queries/CardsByNameAdapter.cs
  src/Lib.Adapter.Cards/Queries/CardsBySetCodeAdapter.cs
  src/Lib.Adapter.Cards/Queries/CardsQueryAdapter.cs
  src/Lib.Adapter.Cards/Queries/ICardsByIdsAdapter.cs
  src/Lib.Adapter.Cards/Queries/ICardsByNameAdapter.cs
  src/Lib.Adapter.Cards/Queries/ICardsBySetCodeAdapter.cs
  src/Lib.Adapter.Cards/Queries/ISearchCardNamesAdapter.cs
  src/Lib.Adapter.Cards/Queries/SearchCardNamesAdapter.cs
  src/Lib.Adapter.User/Commands/IRegisterUserAdapter.cs
  src/Lib.Adapter.User/Commands/RegisterUserAdapter.cs
  src/Lib.Adapter.User/Commands/UserCommandAdapter.cs
Due: .pipelines/deploy/backend-pipeline.yml

adapter usesetcard to execute
  src/Lib.Adapter.UserSetCards/Commands/AddCardToSetAdapter.cs
  src/Lib.Adapter.UserSetCards/Commands/AddSetGroupToUserSetCardAdapter.cs
  src/Lib.Adapter.UserSetCards/Commands/IAddCardToSetAdapter.cs
  src/Lib.Adapter.UserSetCards/Commands/IAddSetGroupToUserSetCardAdapter.cs
  src/Lib.Adapter.UserSetCards/Commands/UserSetCardsCommandAdapter.cs
  src/Lib.Adapter.UserSetCards/Queries/GetUserSetCardAdapter.cs
  src/Lib.Adapter.UserSetCards/Queries/IGetUserSetCardAdapter.cs
  src/Lib.Adapter.UserSetCards/Queries/UserSetCardsQueryAdapter.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: Rename methods for consistency in user set card queries
  src/App.MtgDiscovery.GraphQL/Queries/AllUserSetCardsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/UserSetCardsQueryMethods.cs
  src/Lib.Aggregator.UserSetCards/Apis/IUserSetCardsQueryAggregator.cs
  src/Lib.Aggregator.UserSetCards/Apis/UserSetCardsAggregatorService.cs
  src/Lib.Aggregator.UserSetCards/Queries/UserSetCardsQueryAggregator.cs
  src/Lib.Domain.UserSetCards/Apis/IUserSetCardsQueryDomainService.cs
  src/Lib.Domain.UserSetCards/Apis/UserSetCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Queries/QueryUserSetCardsDomainService.cs
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSetCardsQueryEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSetCards/AllUserSetCardsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSetCards/UserSetCardEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSetCards/UserSetCardsQueryEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

adapter usercards to execute
  src/Lib.Adapter.UserCards/Commands/AddUserCardAdapter.cs
  src/Lib.Adapter.UserCards/Commands/IAddUserCardAdapter.cs
  src/Lib.Adapter.UserCards/Commands/UserCardsCommandAdapter.cs
  src/Lib.Adapter.UserCards/Queries/IUserCardAdapter.cs
  src/Lib.Adapter.UserCards/Queries/IUserCardsByArtistAdapter.cs
  src/Lib.Adapter.UserCards/Queries/IUserCardsByIdsAdapter.cs
  src/Lib.Adapter.UserCards/Queries/IUserCardsByNameAdapter.cs
  src/Lib.Adapter.UserCards/Queries/IUserCardsBySetAdapter.cs
  src/Lib.Adapter.UserCards/Queries/UserCardAdapter.cs
  src/Lib.Adapter.UserCards/Queries/UserCardsByArtistAdapter.cs
  src/Lib.Adapter.UserCards/Queries/UserCardsByIdsAdapter.cs
  src/Lib.Adapter.UserCards/Queries/UserCardsByNameAdapter.cs
  src/Lib.Adapter.UserCards/Queries/UserCardsBySetAdapter.cs
  src/Lib.Adapter.UserCards/Queries/UserCardsQueryAdapter.cs
Due: .pipelines/deploy/backend-pipeline.yml

adapter sets to execute
  src/Lib.Adapter.Sets/Apis/ISetQueryAdapter.cs
  src/Lib.Adapter.Sets/Apis/SetAdapterService.cs
  src/Lib.Adapter.Sets/Queries/AllSetsAdapter.cs
  src/Lib.Adapter.Sets/Queries/IAllSetsAdapter.cs
  src/Lib.Adapter.Sets/Queries/ISetsByCodesAdapter.cs
  src/Lib.Adapter.Sets/Queries/ISetsByIdsAdapter.cs
  src/Lib.Adapter.Sets/Queries/SetsByCodesAdapter.cs
  src/Lib.Adapter.Sets/Queries/SetsByIdsAdapter.cs
  src/Lib.Adapter.Sets/Queries/SetsQueryAdapter.cs
  src/Lib.Aggregator.Sets/Queries/AllSets/AllSetsAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/Entities/NoArgsXfrEntity.cs
  src/Lib.Aggregator.Sets/Queries/Mappers/INoArgsItrToXfrMapper.cs
  src/Lib.Aggregator.Sets/Queries/Mappers/NoArgsItrToXfrMapper.cs
  src/Lib.Domain.Sets/Queries/AllSetsDomainService.cs
  src/Lib.Shared.DataModels/Entities/Xfrs/INoArgsXfrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Implement SetCodes and SetIds argument entities for improved query handling
  .http/set-queries.http
  src/App.MtgDiscovery.GraphQL/Entities/Args/SetCodesArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/SetIdsArgEntity.cs
  src/Lib.MtgDiscovery.Entry/Apis/ISetCodesArgEntity.cs
  src/Lib.MtgDiscovery.Entry/Apis/ISetIdsArgEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/SetsByCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/SetsByIdsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

chore: update component interfaces and types for consistency
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/molecules/shared/CollectorFiltersSection.tsx
  client/src/components/molecules/shared/SortDropdown.tsx
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/graphql/queries/sets.ts
  client/src/hooks/useSetGroupToggle.ts
  client/src/hooks/useSetPageData.ts
  client/src/hooks/useUrlFilterState.ts
  client/src/types/filters.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: clean up unused imports and improve code structure
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/graphql/queries/sets.ts
  client/src/types/collection.ts
  client/src/types/set.ts
Due: .pipelines/deploy/frontend-pipeline.yml

preview build
  .gitignore
  client/.env.preview
  client/.env.production
  client/deploy.sh
  client/package.json
  client/staticwebapp.config.json
Due: .pipelines/deploy/frontend-pipeline.yml

aca checks
  src/App.MtgDiscovery.GraphQL/Startup.cs
Due: .pipelines/deploy/backend-pipeline.yml

added transations and error handling
  client/src/components/ErrorBoundary.tsx
  client/src/graphql/apollo-client.ts
  client/src/utils/__tests__/badgeFormatters.test.ts
  client/src/utils/badgeFormatters.ts
  client/src/utils/networkErrorHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

pipeline fun
  .pipelines/deploy/backend-pipeline.yml
  .pipelines/infra/steps/create-environment.yml
  .pipelines/scripts/Create-Infrastructure.ps1
  .pipelines/scripts/README.md
  .pipelines/scripts/create-infrastructure.sh
  .pipelines/vars/dev.yaml
  .pipelines/vars/prod.yaml
Due: .pipelines/deploy/backend-pipeline.yml

AI Infra Dance 01
  .pipelines/README.md
  .pipelines/SECURITY.md
  .pipelines/SERVICE_PRINCIPALS.md
  .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml
  .pipelines/deploy/steps/verify-deployment.yml
  .pipelines/infra/infrastructure-pipeline.yml
  .pipelines/infra/steps/create-environment.yml
  .pipelines/infra/steps/create-shared.yml
  .pipelines/shared/get-resource-info.yml
  .pipelines/shared/resource-names.yml
  .pipelines/vars/consts.yaml
  .pipelines/vars/dev.yaml
  .pipelines/vars/prod.yaml
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

deployment changes
  .pipelines/scripts/create-infrastructure.sh
  StandaloneGroupingsScraper/scryfall_set_groupings.json
  client/.env.development
  client/.env.production
  client/deploy.sh
  client/src/graphql/apollo-client.ts
  create-app-insights.sh
  deploy-backend.sh
  docs/convention-prep-implementation-guide.md
  src/App.MtgDiscovery.GraphQL/App.MtgDiscovery.GraphQL.csproj
  src/App.MtgDiscovery.GraphQL/AppMtgDiscoveryGraphQlProgram.cs
  src/App.MtgDiscovery.GraphQL/Properties/launchSettings.json
  src/App.MtgDiscovery.GraphQL/Startup.cs
  src/App.MtgDiscovery.GraphQL/appsettings.Development.json
  src/App.MtgDiscovery.GraphQL/appsettings.Local.json
  src/App.MtgDiscovery.GraphQL/appsettings.Production.json
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
  src/Lib.Cosmos/Adapters/CosmosEntraAuthGenesisDevice.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

ui updates
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/graphql/queries/sets.ts
  client/src/graphql/queries/userCards.ts
  client/src/hooks/useSetGroupToggle.ts
Due: .pipelines/deploy/frontend-pipeline.yml

add finish selection to groups
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/hooks/useSetGroupToggle.ts
  client/src/types/collection.ts
  client/src/utils/mockFinishCounts.ts
Due: .pipelines/deploy/frontend-pipeline.yml

test
  client/src/types/set.ts
Due: .pipelines/deploy/frontend-pipeline.yml

ingestion with group counts
  src/Lib.Scryfall.Ingestion/BulkIngestionOrchestrator.cs
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
  src/Lib.Scryfall.Ingestion/Services/SetGroupingsLoader.cs
Due: .pipelines/deploy/backend-pipeline.yml
