Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

Add GraphQL Layer for sealed products (Phase 7)
  SEALED_PRODUCTS_TASKS.md
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/GetSealedProductsBySetCodeArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/IGetSealedProductsBySetCodeArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/SealedProducts/GetSealedProductsBySetCodeArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/SealedProductsResponseModelUnionType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/SealedProductsSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/SealedProducts/SealedProductType.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Schemas/SealedProductsSchemaExtensions.cs
  src/App.MtgDiscovery.GraphQL/Startup.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add .http file for sealedProductsBySetCode query
  .http/getSealedProductsBySetCode.http
Due: none

Add matching category exclusions to sealed product ingestion
  src/Cli.Sealed.Ingestion/SealedProductIngestionApplication.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add frontend components for sealed products display
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/atoms/Sealed/index.ts
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/organisms/Sealed/index.ts
  client/src/components/pages/SetPage.tsx
  client/src/graphql/queries/sealedProducts.ts
  client/src/hooks/useSealedProductsData.ts
  src/App.MtgDiscovery.GraphQL/appsettings.json
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Fix Apollo Client import path in useSealedProductsData hook
  client/src/hooks/useSealedProductsData.ts
Due: .pipelines/deploy/frontend-pipeline.yml

Improve SetPage tabs and sealed product display
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move results summary into Cards tab only
  client/src/components/pages/SetPage.tsx
  client/src/components/templates/SetPageTemplate.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add URL-based tab selection and center sealed product cards
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Fix sealed product grid centering using flexbox
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Improve sealed products UX - Phase 1 visual enhancements
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move tabs closer to header and restrict Binder View to Cards tab
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move Binder View inside Cards tab
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Simplify mobile/tablet sealed product cards
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move purchase links to bottom-right of image overlay
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Position purchase links at bottom-right of entire card
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add position relative to card container for purchase links
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Top-align sealed product name and exclude subset category
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  src/Cli.Sealed.ImageScraper/Orchestration/ImageScraperOrchestrator.cs
  src/Cli.Sealed.Ingestion/SealedProductIngestionApplication.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Reduce spacing between product name and purchase links
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move Binder View toggle above filter/sort controls
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Remove results summary to save vertical space
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Replace toggle switch with Binder View button
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Fix Binder View button labels to match mobile
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Revert: Move Show Card Groups toggle back to original position
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move Binder View button inside Cards tab above filters
  client/src/components/organisms/Sets/SetPageHeader.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add Binder as a third tab instead of separate page
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Fix duplicate hasCollector declaration
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

binder pages looking good.
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Binder/BinderControls.tsx
  client/src/components/organisms/Binder/BinderPageGrid.tsx
  client/src/components/organisms/Binder/BinderPageTabs.tsx
  client/src/components/organisms/Binder/BinderView.tsx
  client/src/hooks/useUrlState.ts
Due: .pipelines/deploy/frontend-pipeline.yml

sealed tweaks
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/atoms/shared/ItemDateBadge.tsx
  client/src/components/atoms/shared/index.ts
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add Cosmos DB schema and container for sealed product collection
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSealedProductExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/Definitions/UserSealedProductsCosmosContainerDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/UserSealedProductsCosmosContainer.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Primitives/UserSealedProductsCosmosContainerName.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add Cosmos operators for sealed product collection tracking
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Gophers/UserSealedProductsGopher.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitors/UserSealedProductsInquisitor.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Janitors/UserSealedProductsJanitor.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add shared data model interfaces for sealed product collection
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Oufs/UserSealedProducts/IUserSealedProductOufEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add adapter layer for sealed product collection tracking
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Exceptions/UserSealedProductsAdapterException.cs
  src/Lib.Adapter.UserSealedProducts/Lib.Adapter.UserSealedProducts.csproj
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: apply MicroObjects patterns to sealed product adapters
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add aggregator layer for sealed product collection tracking
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Lib.Aggregator.UserSealedProducts.csproj
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-2.4, TASK-2.5, TASK-2.6 - Adapter, Aggregator, and Domain layers
  .http/getSealedProductsBySetCode.http
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/IUserSealedProductReadPointMapper.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/UserSealedProductReadPointMapper.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/IAddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Lib.Domain.UserSealedProducts.csproj
  src/Lib.Domain.UserSealedProducts/Queries/IUserSealedProductsByUserIdDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IAddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserIdItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Oufs/UserSealedProducts/UserSealedProductOufEntity.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-2.7 - Entry Layer for User Sealed Products
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/UserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/AddUserSealedProductArgValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidCountDeltaAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidProductUuidAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidSetIdAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/HasValidUserIdAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Actions/Validators/UserSealedProducts/IAddUserSealedProductArgValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/AddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/IAddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/AddUserSealedProductResultOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/UserSealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/CollectionUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ICollectionUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/IUserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/IUserSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductItrToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/HasValidUserIdItrValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/IUserIdItrValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/UserSealedProducts/UserIdItrValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/IUserSealedProductsByUserIdEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/UserSealedProductsByUserIdEntryService.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/AddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserIdItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: CRITICAL security fixes for TASK-2.8 GraphQL layer
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/AddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/IAddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductServerArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Args/UserSealedProducts/AddUserSealedProductArgEntityInputType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/AddUserSealedProductResponseModelUnionType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/AddUserSealedProductSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/SealedProducts/SealedProductType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/UserSealedProducts/AddUserSealedProductResultOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserSealedProductsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Schemas/ApiMutationExtensions.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/AddUserSealedProductArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/IAddUserSealedProductArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductClientArgEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Complete TASK-3.1 - Sealed Product Collection Entry Component
  client/src/components/molecules/Sealed/SealedProductCollectionEntry.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.2 - Sealed Collection Badge Component
  client/src/components/atoms/Sealed/SealedCollectionBadge.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.3 - GraphQL Mutation and Query Files
  client/src/graphql/mutations/sealedProducts.ts
  client/src/graphql/queries/sealedProducts.ts
Due: .pipelines/deploy/frontend-pipeline.yml
