Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

missed some
  src/Lib.MtgDiscovery.Entry/Queries/Artists/CardsByArtistEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Artists/CardsByArtistNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/CardsByNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/CardsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add Gophers for Artist and Card Name Trigrams
  StandaloneGroupingsScraper/scryfall_set_groupings.json
  src/Example.Scryfall.BulkIngestion/appsettings.json
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Gophers/ArtistNameTrigramsGopher.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Gophers/CardNameTrigramsGopher.cs
  src/Lib.Cosmos/Apis/CosmosEntity.cs
  src/Lib.Scryfall.Ingestion/Apis/Collections/FilteredScryfallSetCollection.cs
  src/Lib.Scryfall.Ingestion/Apis/Configuration/IBulkProcessingConfiguration.cs
  src/Lib.Scryfall.Ingestion/Configuration/ConfigBulkProcessingConfiguration.cs
  src/Lib.Scryfall.Ingestion/Configuration/DefaultBulkProcessingConfiguration.cs
  src/Lib.Scryfall.Ingestion/Configurations/ConfigReleasedAfterDate.cs
  src/Lib.Scryfall.Ingestion/Configurations/ConfigScryfallProcessingConfig.cs
  src/Lib.Scryfall.Ingestion/Configurations/IScryfallProcessingConfig.cs
  src/Lib.Scryfall.Ingestion/Configurations/ReleasedAfterDate.cs
  src/Lib.Scryfall.Ingestion/Filters/ReleasedAfterDateFilter.cs
  src/Lib.Scryfall.Ingestion/Pipeline/ArtistsPipelineService.cs
  src/Lib.Scryfall.Ingestion/Pipeline/CardsPipelineService.cs
  src/Lib.Scryfall.Ingestion/Pipeline/SetsPipelineService.cs
  src/Lib.Scryfall.Ingestion/Pipeline/TrigramsPipelineService.cs
Due: .pipelines/deploy/backend-pipeline.yml

user info and collector card
  .http/addCardToCollection-mutation.http
  .http/userInfo-query.http
  src/App.MtgDiscovery.GraphQL/Authentication/AuthUserArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserCards/AddUserCardArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Args/UserCards/AddCardToCollectionArgEntityInputType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/User/UserInfoOutEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/User/UserInfoOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/ErrorHandling/HttpStatusCodeErrorFilter.cs
  src/App.MtgDiscovery.GraphQL/Queries/UserInfoQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Schemas/ApiQueryExtensions.cs
  src/App.MtgDiscovery.GraphQL/Startup.cs
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Lib.MtgDiscovery.Entry/Commands/Mappers/AddUserCardArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Commands/Mappers/IAddUserCardArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/AddCardToCollectionEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/IAddCardToCollectionEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/AddCardToCollectionArgEntityValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemCountValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemFinishValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemNotNullValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemSpecialValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/IAddCardToCollectionArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Entities/AddCardToCollectionArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/IAddCardToCollectionArgsEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/IAddUserCardArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/IAuthUserArgEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add SetGroupId property to user card entities for aggregation support
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserCards/UserCardDetailsArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Args/UserCards/CollectedItemArgEntityInputType.cs
  src/Lib.Adapter.UserCards.Tests/Fakes/UserCardDetailsXfrEntityFake.cs
  src/Lib.Adapter.UserCards/Apis/Entities/IUserCardDetailsXfrEntity.cs
  src/Lib.Adapter.UserCards/Commands/UserCardsCommandAdapter.cs
  src/Lib.Aggregator.UserCards/Commands/Entities/UserCardDetailsXfrEntity.cs
  src/Lib.Aggregator.UserCards/Commands/Mappers/UserCardDetailsItrToXfrMapper.cs
  src/Lib.Aggregator.UserCards/Entities/UserCardDetailsItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Commands/Entities/UserCardDetailsItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Commands/Mappers/UserCardDetailsArgToItrMapper.cs
  src/Lib.Shared.DataModels/Entities/Args/IUserCardDetailsArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/IUserCardDetailsItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

adding grouping to card
  src/Lib.Scryfall.Ingestion/Mappers/CardItemDynamicToExtMapper.cs
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
Due: .pipelines/deploy/backend-pipeline.yml

adding userSetCards base items
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Entities/UserSetCardFinishGroupExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Entities/UserSetCardGroupExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSetCardExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Gophers/UserSetCardsGopher.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSetCardsScribe.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/Definitions/UserSetCardsCosmosContainerDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/UserSetCardsCosmosContainer.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Primitives/UserSetCardsCosmosContainerName.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor card entity types for improved structure and maintainability
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallCardOutEntityType.cs
  src/Lib.Aggregator.Cards.Tests/Fakes/CardItemItrEntityFake.cs
  src/Lib.Aggregator.Scryfall.Shared/Entities/CardItemItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/CardItemOufToOutMapper.cs
  src/Lib.Shared.DataModels/Entities/Itrs/ICardItemItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Outs/Cards/CardItemOutEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

locking at 0
  src/Lib.Adapter.UserCards/Commands/UserCardsCommandAdapter.cs
Due: .pipelines/deploy/backend-pipeline.yml

enhance ScryfallCard to support card enrichment with grouping matcher
  src/Lib.Scryfall.Ingestion/Mappers/CardItemDynamicToExtMapper.cs
  src/Lib.Scryfall.Ingestion/Models/ScryfallCard.cs
Due: .pipelines/deploy/backend-pipeline.yml

UserSetCard adapter implementation. Adding a couple new patterns, IResolver and IIntegrator
  src/.editorconfig
  src/Lib.Adapter.UserSetCards/Apis/Entities/IAddCardToSetXfrEntity.cs
  src/Lib.Adapter.UserSetCards/Apis/IUserSetCardsCommandAdapter.cs
  src/Lib.Adapter.UserSetCards/Apis/UserSetCardsAdapterService.cs
  src/Lib.Adapter.UserSetCards/Commands/Integrators/IUserSetCardIntegrator.cs
  src/Lib.Adapter.UserSetCards/Commands/Integrators/UserSetCardIntegrator.cs
  src/Lib.Adapter.UserSetCards/Commands/Mappers/AddCardToSetXfrToExtMapper.cs
  src/Lib.Adapter.UserSetCards/Commands/Mappers/IAddCardToSetXfrToExtMapper.cs
  src/Lib.Adapter.UserSetCards/Commands/Resolvers/IUserSetCardGroupResolver.cs
  src/Lib.Adapter.UserSetCards/Commands/Resolvers/IUserSetCardResolver.cs
  src/Lib.Adapter.UserSetCards/Commands/Resolvers/UserSetCardGroupResolver.cs
  src/Lib.Adapter.UserSetCards/Commands/Resolvers/UserSetCardResolver.cs
  src/Lib.Adapter.UserSetCards/Commands/UserSetCardsCommandAdapter.cs
  src/Lib.Adapter.UserSetCards/Exceptions/UserSetCardsAdapterException.cs
  src/Lib.Adapter.UserSetCards/Queries/UserSetCardsQueryAdapter.cs
  src/Lib.Cosmos/Lib.Cosmos.csproj
  src/Lib.Cosmos/Resolvers/ICosmosResolver.cs
  src/Lib.Shared.Abstractions/Integrators/IIntegrator.cs
  src/Lib.Shared.Abstractions/Resolvers/IResolver.cs
Due: .pipelines/deploy/backend-pipeline.yml

missed rename
  src/Lib.Aggregator.Cards.Tests/Queries/CardAggregatorOperationsTests.cs
Due: .pipelines/deploy/backend-pipeline.yml

setup usersetcards adapater
  .http/card-queries.http
  CODING_CRITERIA.md
  src/App.MtgDiscovery.GraphQL/Entities/Types/Args/UserCards/AddCardToCollectionArgEntityInputType.cs
  src/Directory.Build.props
  src/Lib.Adapter.Cards/Queries/CardCosmosQueryAdapter.cs
  src/Lib.Adapter.UserSetCards/Apis/Entities/IUserSetCardFinishGroupXfrEntity.cs
  src/Lib.Adapter.UserSetCards/Apis/Entities/IUserSetCardGetXfrEntity.cs
  src/Lib.Adapter.UserSetCards/Apis/Entities/IUserSetCardGroupXfrEntity.cs
  src/Lib.Adapter.UserSetCards/Apis/Entities/IUserSetCardUpsertXfrEntity.cs
  src/Lib.Adapter.UserSetCards/Apis/IUserSetCardsAdapterService.cs
  src/Lib.Adapter.UserSetCards/Apis/IUserSetCardsCommandAdapter.cs
  src/Lib.Adapter.UserSetCards/Apis/IUserSetCardsQueryAdapter.cs
  src/Lib.Adapter.UserSetCards/Apis/UserSetCardsAdapterService.cs
  src/Lib.Adapter.UserSetCards/Commands/Mappers/IUserSetCardsUpsertXfrToExtMapper.cs
  src/Lib.Adapter.UserSetCards/Commands/Mappers/UserSetCardsUpsertXfrToExtMapper.cs
  src/Lib.Adapter.UserSetCards/Commands/UserSetCardsCommandAdapter.cs
  src/Lib.Adapter.UserSetCards/Exceptions/UserSetCardsAdapterException.cs
  src/Lib.Adapter.UserSetCards/Lib.Adapter.UserSetCards.csproj
  src/Lib.Adapter.UserSetCards/Queries/Mappers/IUserSetCardsGetXfrToExtMapper.cs
  src/Lib.Adapter.UserSetCards/Queries/Mappers/UserSetCardsGetXfrToExtMapper.cs
  src/Lib.Adapter.UserSetCards/Queries/UserSetCardsQueryAdapter.cs
  src/Lib.Scryfall.Ingestion.Tests/Internal/Collections/ScryfallCardDtoTransformerTests.cs
  src/Lib.Scryfall.Ingestion/Models/ScryfallCard.cs
  src/Lib.Shared.Invocation.Tests/Requests/ValidatorOperationExceptionTests.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

Implement Cosmos DB query and command adapters for Cards, Sets, Users, and UserCards
  src/Lib.Adapter.Artists/Apis/ArtistAdapterService.cs
  src/Lib.Adapter.Artists/Queries/ArtistsQueryAdapter.cs
  src/Lib.Adapter.Cards/Apis/CardAdapterService.cs
  src/Lib.Adapter.Cards/Queries/CardsQueryAdapter.cs
  src/Lib.Adapter.Sets/Apis/SetAdapterService.cs
  src/Lib.Adapter.Sets/Queries/SetsQueryAdapter.cs
  src/Lib.Adapter.User/Apis/UserAdapterService.cs
  src/Lib.Adapter.User/Commands/UserCommandAdapter.cs
  src/Lib.Aggregator.Artists/Apis/ArtistAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/ArtistsQueryAggregator.cs
  src/Lib.Aggregator.Cards/Apis/CardAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsQueryAggregator.cs
  src/Lib.Aggregator.Sets/Apis/SetAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsQueryAggregator.cs
  src/Lib.Aggregator.User/Apis/UserAggregatorService.cs
  src/Lib.Aggregator.User/Commands/UserCommandAggregator.cs
  src/Lib.Aggregator.UserCards/Apis/UserCardsAggregatorService.cs
  src/Lib.Aggregator.UserCards/Commands/UserCardsCommandAggregator.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor classes to be sealed for improved encapsulation and performance
  src/.editorconfig
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallAllPartsOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallCardFaceOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallCardOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallImageUrisOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallLegalitiesOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallPreviewOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallPricesOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallPurchaseUrisOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallRelatedUrisOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/SetResponseModelUnionType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/SetsSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Startup.cs
  src/Example.LibCosmos/Program.cs
  src/Example.Scryfall.ApiDemo/Program.cs
  src/Example.Scryfall.BulkIngestion/Program.cs
  src/Example.Scryfall.CosmosIngestion/Program.cs
  src/Example.Scryfall.FilterTest/Program.cs
  src/Lib.Adapter.UserCards.Tests/Apis/UserCardsAdapterServiceTests.cs
  src/Lib.Adapter.UserCards/Queries/UserCardsQueryAdapter.cs
  src/Lib.Aggregator.Cards.Tests/Queries/Mappers/QueryCardsIdsToReadPointItemsMapperTests.cs
  src/Lib.Aggregator.Scryfall.Shared/Entities/CardItemItrEntity.cs
  src/Lib.Aggregator.UserCards/Commands/Mappers/UserCardExtToItrEntityMapper.cs
  src/Lib.Aggregator.UserCards/Queries/Mappers/UserCardExtToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/ICardEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/ISetEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/AddCardToCollectionEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/AddCardToCollectionArgEntityValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/CardsByIdsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/CardItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/IUserCardsByIdsArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/SetEntryService.cs
  src/Lib.Scryfall.Ingestion/Apis/Collections/FilteredScryfallSetCollection.cs
  src/Lib.Scryfall.Ingestion/Filters/ForeignSetFilter.cs
  src/Lib.Scryfall.Ingestion/Services/MonoStateSetGroupingsLoader.cs
  src/Lib.Shared.Invocation.Tests/Exceptions/OperationExceptionTests.cs
  src/Lib.Shared.Invocation.Tests/Requests/ValidatorFailedOperationResponseTests.cs
  src/Lib.Shared.Invocation.Tests/Requests/ValidatorOperationExceptionTests.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor constructors to use expression-bodied members for improved conciseness
  src/Lib.Cosmos.Tests/Fakes/CosmosConnectionModeFake.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosPreferredRegionsFake.cs
  src/Lib.Cosmos/Adapters/CosmosArmClientAdapter.cs
  src/Lib.Cosmos/Adapters/CosmosGenesisClientAdapter.cs
  src/Lib.Cosmos/Adapters/MonoStateCosmosClientAdapter.cs
  src/Lib.Cosmos/Apis/ConfigCosmosConfiguration.cs
  src/Lib.Cosmos/Apis/Ids/ProvidedCosmosItemId.cs
  src/Lib.Cosmos/Apis/Ids/ProvidedPartitionKeyValue.cs
  src/Lib.Cosmos/Configurations/ConfigCosmosAccountConfig.cs
  src/Lib.Cosmos/Configurations/ConfigCosmosContainerConfig.cs
  src/Lib.Domain.Cards/QueryCardsIds.cs
  src/Lib.Domain.UserCards/Apis/UserCardsDomainService.cs
  src/Lib.MtgDiscovery.Entry/Commands/Mappers/AddUserCardArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCardsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemCountValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemNotNullValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/ValidatorWithResponse.cs
  src/Lib.MtgDiscovery.Entry/Queries/ArtistEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/CardEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor using directives for improved organization and consistency across entity and service files
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallAllPartsOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallCardFaceOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallCardOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallImageUrisOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallLegalitiesOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallPreviewOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallPricesOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallPurchaseUrisOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Cards/ScryfallRelatedUrisOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/CardNameSearchResultsSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/CardsByArtistSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/CardsSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/SetsSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Sets/CollectorNumberRangeOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Sets/GroupingFiltersOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Sets/ScryfallSetOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/Sets/SetGroupingOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserCardsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/CardQueryMethods.cs
  src/Lib.MtgDiscovery.Entry/Apis/ICardEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/ISetEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/CardItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/CollectionCardItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/CollectionSetItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/ICardItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/ICollectionCardItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/ICollectionSetItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/ISetItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/SetItemOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/SetsByCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Sets/SetsByIdsEntryService.cs
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor User Set Cards entity types for improved clarity and consistency
  .http/userSetCards-queries.http
  SPEC_UserCardsSetQuery.md
  UserCard_Integration_Phased_Plan.md
  build_output.txt
  src/App.MtgDiscovery.GraphQL/Entities/Types/UserSetCards/UserSetCardOutEntityType.cs
  src/Lib.Aggregator.UserSetCards/Entities/IUserSetCardOufEntity.cs
  src/Lib.Aggregator.UserSetCards/Entities/UserSetCardOufEntity.cs
  src/Lib.Aggregator.UserSetCards/Queries/Mappers/UserSetCardExtToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/UserSetCardOufToOutMapper.cs
  src/Lib.Shared.DataModels/Entities/Outs/UserSetCards/UserSetCardOutEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor GraphQL response types in mutation and query files for consistency
  .http/addCardToCollection-mutation.http
  .http/allsets-queries.http
  .http/artistSearch-queries.http
  .http/card-queries.http
  .http/cardNameSearch-queries.http
  .http/cardsByArtist-queries.http
  .http/registerUser-mutation.http
  .http/set-queries.http
  .http/userSetCards-queries.http
Due: none

Refactor UserSetCardsQueryMethods for improved clarity and consistency
  src/App.MtgDiscovery.GraphQL/Queries/UserSetCardsQueryMethods.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor GraphQL response types in mutation and query files for consistency
  .http/addCardToCollection-mutation.http
  .http/allsets-queries.http
  .http/artistSearch-queries.http
  .http/card-queries.http
  .http/cardNameSearch-queries.http
  .http/cardsByArtist-queries.http
  .http/registerUser-mutation.http
  .http/set-queries.http
  .http/userCardsBySet-queries.http
  .http/userSetCards-queries.http
Due: none

Add mappers for user card transfer to set transfer entity
  .http/addCardToCollection-mutation.http
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSetCardExtEntity.cs
  src/Lib.Adapter.UserCards.Tests/Apis/UserCardsAdapterServiceTests.cs
  src/Lib.Adapter.UserCards.Tests/Commands/UserCardsCommandAdapterTests.cs
  src/Lib.Adapter.UserCards.Tests/Fakes/AddUserCardXfrEntityFake.cs
  src/Lib.Adapter.UserCards/Apis/Entities/IAddUserCardXfrEntity.cs
  src/Lib.Adapter.UserCards/Commands/UserCardsCommandAdapter.cs
  src/Lib.Adapter.UserSetCards/Commands/Integrators/UserSetCardIntegrator.cs
  src/Lib.Adapter.UserSetCards/Commands/Mappers/UserSetCardsUpsertXfrToExtMapper.cs
  src/Lib.Adapter.UserSetCards/Commands/Resolvers/UserSetCardGroupResolver.cs
  src/Lib.Adapter.UserSetCards/Commands/Resolvers/UserSetCardResolver.cs
  src/Lib.Aggregator.UserCards/Commands/Entities/UserCardXfrEntity.cs
  src/Lib.Aggregator.UserCards/Commands/Mappers/AddUserCardXfrToAddCardToSetXfrMapper.cs
  src/Lib.Aggregator.UserCards/Commands/Mappers/IAddUserCardXfrToAddCardToSetXfrMapper.cs
  src/Lib.Aggregator.UserCards/Commands/Mappers/UserCardItrToXfrMapper.cs
  src/Lib.Aggregator.UserCards/Commands/UserCardsCommandAggregator.cs
  src/Lib.Aggregator.UserCards/Lib.Aggregator.UserCards.csproj
  src/Lib.MtgDiscovery.Entry/Commands/Entities/UserCardCollectionInfEntity.cs
  src/Lib.MtgDiscovery.Entry/Commands/Mappers/AddUserCardArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/UserCardArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/UserCardItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/IUserCardInfEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor User Set Cards data structures and queries for collecting status
  .http/userSetCards-queries.http
  src/App.MtgDiscovery.GraphQL/Entities/Types/UserSetCards/UserSetCardCollectingOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/UserSetCards/UserSetCardOutEntityType.cs
  src/App.MtgDiscovery.GraphQL/Schemas/UserSetCardsSchemaExtensions.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Entities/UserSetCardCollectingExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSetCardExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/CLAUDE.md
  src/Lib.Adapter.UserSetCards/Queries/UserSetCardsQueryAdapter.cs
  src/Lib.Aggregator.UserSetCards/Entities/IUserSetCardCollectingOufEntity.cs
  src/Lib.Aggregator.UserSetCards/Entities/IUserSetCardOufEntity.cs
  src/Lib.Aggregator.UserSetCards/Entities/UserSetCardCollectingOufEntity.cs
  src/Lib.Aggregator.UserSetCards/Entities/UserSetCardOufEntity.cs
  src/Lib.Aggregator.UserSetCards/Queries/Mappers/IUserSetCardCollectingExtToOufMapper.cs
  src/Lib.Aggregator.UserSetCards/Queries/Mappers/UserSetCardCollectingExtToOufMapper.cs
  src/Lib.Aggregator.UserSetCards/Queries/Mappers/UserSetCardExtToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Mappers/UserSetCardOufToOutMapper.cs
  src/Lib.Shared.DataModels/Entities/Outs/UserSetCards/UserSetCardCollectingOutEntity.cs
  src/Lib.Shared.DataModels/Entities/Outs/UserSetCards/UserSetCardOutEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: optimize context and type definitions for collection management
  CODE_REVIEW_FIXES_APPLIED.md
  CODE_REVIEW_REPORT.md
  COLLECTION_UPDATE_VALIDATION.md
  RESPONSIVE_MOBILE_SPECIFICATION.md
  UserSetCards_Collection_Design.md
  client/src/App.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/config/cardSortOptions.ts
  client/src/contexts/CollectionContext.tsx
  client/src/utils/globalCardEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: optimize context and type definitions for collection management
  client/src/contexts/CollectionContext.tsx
  client/src/graphql/apollo-client.ts
  client/src/graphql/mutations/addCardToCollection.ts
  client/src/hooks/useCardCache.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add format filtering options and update related components
  client/src/components/organisms/ArtistPageFilters.tsx
  client/src/components/organisms/CardFilterPanel.tsx
  client/src/components/organisms/filters/FilterPanel.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/useCardFiltering.ts
  client/src/types/filters.ts
  client/src/utils/cardUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: implement deferred and progressive rendering for card grid
  client/src/components/organisms/CardGrid.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: implement global search focus handler and optimize search input behavior
  client/src/App.tsx
  client/src/components/atoms/shared/DebouncedSearchInput.tsx
  client/src/components/organisms/SetPageFilters.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/CardSearchPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/useFilterState.ts
  client/src/utils/globalSearchFocusHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: remove example templates for DetailTemplate and SearchTemplate
  client/src/components/atoms/shared/AppButton.tsx
  client/src/components/atoms/shared/AppCard.tsx
  client/src/components/examples/SetCardCollectionExample.tsx
  client/src/components/molecules/Cards/ArtistInfo.tsx
  client/src/components/molecules/Cards/CardCompact.tsx
  client/src/components/molecules/Cards/CardLinks.tsx
  client/src/components/molecules/Cards/CardMetadata.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionSummaryI18n.tsx
  client/src/components/molecules/Cards/MtgCardCollectionActions.tsx
  client/src/components/molecules/Cards/MtgCardMemo.tsx
  client/src/components/organisms/CardDisplayResponsive.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/components/templates/pages/BrowseTemplate.examples.tsx
  client/src/components/templates/pages/DashboardTemplate.examples.tsx
  client/src/components/templates/pages/DetailTemplate.examples.tsx
  client/src/components/templates/pages/SearchTemplate.examples.tsx
  client/src/hooks/useCardFiltering.ts
  client/src/hooks/useFilterState.ts
  client/src/hooks/useSetCollectionProgress.ts
  client/src/hooks/useUrlFilterState.ts
  client/src/hooks/user/useUserSync.ts
  client/src/utils/cardGrouping.ts
  client/src/utils/cardUtils.ts
  client/src/utils/responsiveHelpers.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: update event handler types to use Partial for better type safety
  client/src/components/atoms/shared/AppButton.tsx
  client/src/components/molecules/Cards/CardCompact.tsx
  client/src/components/organisms/CardDisplayResponsive.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: remove Tailwind CSS integration and related components
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/src/components/molecules/Cards/CardCompactResponsive.tsx
  client/src/components/molecules/Cards/CollectorInfo.tsx
  client/src/components/molecules/Cards/ManaCost.tsx
  client/src/components/molecules/Cards/index.ts
  client/src/index.css
  client/tailwind.config.js
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Implement useCardQueries hook for fetching card data with Apollo Client
  client/LOGGING_GUIDE.md
  client/eslint.config.js
  client/src/App.tsx
  client/src/components/ATOMIC_ARCHITECTURE_AUDIT.md
  client/src/components/ErrorBoundaries.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/auth/Auth0TokenProvider.tsx
  client/src/components/auth/AuthButton.tsx
  client/src/components/molecules/Cards/RulingsDisplay.tsx
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/organisms/AllPrintingsDisplay.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/RelatedCardsDisplay.tsx
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/CardSearchPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/components/pages/SignInRedirectPage.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/graphql/apollo-client.ts
  client/src/hooks/useCardQueries.ts
  client/src/hooks/useHapticFeedback.ts
  client/src/hooks/useOptimizedSort.ts
  client/src/hooks/useSetCollectionProgress.ts
  client/src/hooks/useSetGroupToggle.ts
  client/src/hooks/user/useUserSync.ts
  client/src/services/CardCacheManager.ts
  client/src/utils/directDomOverlay.ts
  client/src/utils/globalCardEntryHandler.ts
  client/src/utils/logger.ts
  client/vite.config.ts
Due: .pipelines/deploy/frontend-pipeline.yml
