Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

.pipelines/deploy/backend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push Container
    jobs:
    - job: BuildContainer
      displayName: Build .NET Container Image
      steps:
      - template: ../shared/resource-names.yml
        parameters:
          environment: shared
          includeShared: true
  ...

.pipelines/deploy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: BuildReact
      displayName: Build React Application
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

custom images
  src/Cli.Sealed.ImageScraper/MTGO_REDEMPTION.png
  src/Cli.Sealed.ImageScraper/MTGO_REDEMPTION_FOIL.png
  src/Cli.Sealed.ImageScraper/MtgoRedemption/MtgoRedemptionImageGenerator.cs
  src/Cli.Sealed.ImageScraper/Orchestration/ImageScraperOrchestrator.cs
  src/Cli.Sealed.Ingestion/SealedProductIngestionApplication.cs
Due: .pipelines/deploy/backend-pipeline.yml

backend refactor
  src/App.MtgDiscovery.GraphQL/ErrorHandling/HttpStatusCodeErrorFilter.cs
  src/App.MtgDiscovery.GraphQL/Mutations/ApiMutation.cs
  src/App.MtgDiscovery.GraphQL/Queries/ArtistQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/CardQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/SetQueryMethods.cs
  src/Lib.Adapter.Artists/Apis/Entities/IArtistSearchTermXfrEntity.cs
  src/Lib.Adapter.Artists/Queries/CardsByArtistNameAdapter.cs
  src/Lib.Adapter.Cards/Queries/Mappers/CollectionCardIdToReadPointItemMapper.cs
  src/Lib.Adapter.Sets/Queries/Mappers/CollectionSetCodeToReadPointItemMapper.cs
  src/Lib.Adapter.Sets/Queries/Mappers/CollectionSetIdToReadPointItemMapper.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsForSigning/Mappers/UserCardsToSigningResultMapper.cs
  src/Lib.Cosmos/Apis/Operators/IStringCollectionToReadPointItemMapper.cs
  src/Lib.Cosmos/Apis/Operators/OpResponse.cs
  src/Lib.Cosmos/Apis/Operators/StringCollectionToReadPointItemMapper.cs
  src/Lib.Scryfall.Ingestion/BulkIngestionOrchestrator.cs
  src/Lib.Scryfall.Ingestion/Dashboard/ConsoleDashboard.cs
  src/Lib.Scryfall.Ingestion/Dashboard/SilentDashboard.cs
  src/Lib.Scryfall.Ingestion/Filters/PreviewSetFilter.cs
  src/Lib.Scryfall.Ingestion/Models/ScryfallCard.cs
  src/Lib.Scryfall.Ingestion/Paging/HttpScryfallListPaging.cs
  src/Lib.Scryfall.Ingestion/Pipeline/CardsPipelineService.cs
  src/Lib.Scryfall.Ingestion/Pipeline/SetsPipelineService.cs
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
  src/TestConvenience.Core/Reflection/ValidationInfo.cs
Due: .pipelines/deploy/backend-pipeline.yml

always show counts
  client/src/components/molecules/Binder/BinderSlot.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

fix enter trigger
  client/src/components/molecules/shared/SearchInput.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

sealed product push
  .cosmosConfig/CosmosReload/Run-SealedProductItemsDMT.ps1
  .cosmosConfig/CosmosReload/dmt-SealedProductItems.json
Due: none

archiving
  .docs/.archived/code-review-refactoring-report.md
  .docs/.archived/custom-images-fallback-plan.md
  .docs/.archived/refactoring-plan.md
Due: none

more spec
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none

mds
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .claude/settings.local.json
  .specify/memory/constitution.md
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  specs/001-auth-refactoring/checklists/requirements.md
  specs/001-auth-refactoring/contracts/README.md
  specs/001-auth-refactoring/contracts/apollo-contracts.ts
  specs/001-auth-refactoring/contracts/component-contracts.ts
  specs/001-auth-refactoring/contracts/hook-contracts.ts
  specs/001-auth-refactoring/contracts/utility-contracts.ts
  specs/001-auth-refactoring/data-model.md
  specs/001-auth-refactoring/plan.md
  specs/001-auth-refactoring/quickstart.md
  specs/001-auth-refactoring/research.md
  specs/001-auth-refactoring/spec.md
  specs/001-auth-refactoring/tasks.md
Due: none

ripping out to redo
  specs/001-auth-refactoring/checklists/requirements.md
  specs/001-auth-refactoring/contracts/README.md
  specs/001-auth-refactoring/contracts/apollo-contracts.ts
  specs/001-auth-refactoring/contracts/component-contracts.ts
  specs/001-auth-refactoring/contracts/hook-contracts.ts
  specs/001-auth-refactoring/contracts/utility-contracts.ts
  specs/001-auth-refactoring/data-model.md
  specs/001-auth-refactoring/plan.md
  specs/001-auth-refactoring/quickstart.md
  specs/001-auth-refactoring/research.md
  specs/001-auth-refactoring/spec.md
  specs/001-auth-refactoring/tasks.md
Due: none

docs
  .docs/auth-flow-design.md
  .docs/auth-implementation-mapping.md
  CLAUDE.md
  specs/002-auth-flow-refactor/checklists/requirements.md
  specs/002-auth-flow-refactor/contracts/graphql-schema-changes.md
  specs/002-auth-flow-refactor/data-model.md
  specs/002-auth-flow-refactor/plan.md
  specs/002-auth-flow-refactor/quickstart.md
  specs/002-auth-flow-refactor/research.md
  specs/002-auth-flow-refactor/spec.md
  specs/002-auth-flow-refactor/tasks.md
Due: none

homepage redesign doc
  specs/003-homepage-redesign/spec.md
Due: none

files
  .docs/COLLECTION_IDENTITY_IMPLEMENTATION_PLAN.md
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
Due: .pipelines/deploy/backend-pipeline.yml

fixing ignore
  .gitignore
Due: none

code cleanup
  src/.editorconfig
  src/App.MtgDiscovery.GraphQL/Entities/Outs/Cards/CardFaceOutEntity.cs
  src/App.MtgDiscovery.GraphQL/Startup.cs
  src/BannedSymbols.txt
  src/Directory.Build.props
  src/Example.Scryfall.ApiDemo/Program.cs
  src/Lib.Adapter.Artists/Queries/ArtistCosmosQueryAdapter.cs
  src/Lib.Adapter.Cards/Queries/CardCosmosQueryAdapter.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/ArtistNameTrigramItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/CardNameTrigramItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Nesteds/ArtistAggregateItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Nesteds/ArtistNameTrigramDataItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Nesteds/CardNameTrigramDataItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Nesteds/RulingAggregateItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Nesteds/RulingEntryItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/ScryfallArtistItem.cs
  src/Lib.Adapter.Sets/Queries/SetCosmosQueryAdapter.cs
  src/Lib.Aggregator.Artists/Queries/QueryArtistAggregatorService.cs
  src/Lib.Aggregator.Cards.Tests/Fakes/FakeCardIdsItrEntity.cs
  src/Lib.Aggregator.Cards.Tests/Fakes/FakeCardItemCollectionItrEntity.cs
  src/Lib.Aggregator.User/Apis/UserAggregatorService.cs
  src/Lib.Scryfall.Ingestion/Aggregation/ArtistAggregate.cs
  src/Lib.Scryfall.Ingestion/Aggregation/ArtistTrigramAggregate.cs
  src/Lib.Scryfall.Ingestion/Aggregation/CardNameTrigramAggregate.cs
  src/Lib.Scryfall.Ingestion/Aggregation/MonoStateArtistTrigramAggregator.cs
  src/Lib.Scryfall.Ingestion/Aggregation/MonoStateCardNameTrigramAggregator.cs
  src/Lib.Scryfall.Ingestion/BulkIngestion/CardsBulkDataFetcher.cs
  src/Lib.Scryfall.Ingestion/BulkIngestion/RulingsBulkDataFetcher.cs
  src/Lib.Scryfall.Ingestion/BulkIngestionOrchestrator.cs
  src/Lib.Scryfall.Ingestion/Collections/ReversibleScryfallSetCollection.cs
  src/Lib.Scryfall.Ingestion/Configuration/ConfigBulkProcessingConfiguration.cs
  src/Lib.Scryfall.Ingestion/Dashboard/ConsoleDashboard.cs
  src/Lib.Scryfall.Ingestion/Lib.Scryfall.Ingestion.csproj
  src/Lib.Scryfall.Ingestion/Pipeline/ArtistsPipelineService.cs
  src/Lib.Scryfall.Ingestion/Pipeline/TrigramsPipelineService.cs
  src/Lib.Scryfall.Ingestion/Processors/ArtistItemsProcessor.cs
  src/Lib.Scryfall.Ingestion/Processors/CardNameTrigramWriterProcessor.cs
  src/Lib.Scryfall.Ingestion/Services/SetGroupingsLoader.cs
Due: .pipelines/deploy/backend-pipeline.yml

new agents
  .claude/agents/quinn-spec-validator.md
  .claude/agents/quinn-story-implementer.md
Due: none

agent updates
  .claude/agents/quinn-azdo-items.md
  .claude/agents/quinn-code-reviewer.md
  .claude/agents/quinn-code-tester.md
  .claude/agents/quinn-code-writer.md
  .claude/agents/quinn-spec-layer-tests.md
  .claude/agents/quinn-spec-layer.md
  .claude/agents/quinn-spec-validator.md
  .claude/agents/quinn-story-work-loop.md
Due: none

agents spawn
  .azuredevops/pull_request_template.md
  .claude/agents/quinn-azdo-items.md
  .claude/agents/quinn-coder.md
  .claude/agents/quinn-layer-gen.md
  .claude/agents/quinn-layer-tests-gen.md
  .claude/agents/quinn-pr-cleanup.md
  .claude/agents/quinn-pr-finalizer.md
  .claude/agents/quinn-reviewer.md
  .claude/agents/quinn-tester.md
  .claude/agents/refactoring-specialist.md
  sessions/tasks/done/m-implement-collector-user-registration.md
Due: none

Implement TSK-IMPL 2: Create Project File - User Story 214
  .claude/settings.local.json
  src/Lib.Adapter.UserCards/Lib.Adapter.UserCards.csproj
Due: .pipelines/deploy/backend-pipeline.yml

Prep for feature development
  .claude/agents/quinn-code-tester.md
  .claude/agents/quinn-code-writer.md
  .claude/agents/quinn-spec-layer-tests.md
  .claude/agents/quinn-spec-layer.md
  .claude/agents/quinn-spec-validator.md
  .claude/settings.local.json
Due: none

agent tweaks
  .claude/agents/quinn-code-reviewer.md
  .claude/agents/quinn-pr-cleanup.md
  .claude/agents/quinn-pr-finalizer.md
  .claude/agents/quinn-story-work-loop.md
  .claude/settings.local.json
Due: none

pre-work commit
  .claude/settings.local.json
  FEATURE_UserCards_Adapter_Implementation_AzDO_Create.sh
  FEATURE_UserCards_Adapter_Implementation_Story.md
Due: none

Implement TSK-IMPL 1: Create Project and Folder Structure - User Story 214
  .claude/settings.local.json
  feature_213_context.json
  story_214_context.json
  task_215_context.json
Due: none

adding docs
  client/src/docs/COLLECTION_DISPLAY_DESIGN.md
  client/src/docs/SET_COLLECTION_DISPLAY_DESIGN.md
  client/src/utils/cardGrouping.ts
Due: .pipelines/deploy/frontend-pipeline.yml

Implement TSK-IMPL 3: Create Main Adapter Interface - User Story 243
  src/Lib.Adapter.UserCards/Apis/IUserCardsAdapterService.cs
Due: .pipelines/deploy/backend-pipeline.yml

Implement TSK-IMPL 7: Create Container Name Primitive - User Story 259
  .claude/agents/quinn-story-work-loop.md
  .claude/reviews/review-2025-09-15-pr8.md
  .claude/settings.local.json
  pr-cleanup-summary.md
  response-comment-collection-init.json
  response-comment-collection.json
  response-comment-doc.json
  response-comment-documentation.json
  response-comment-ireadonlycollection.json
  response-comment-readonly.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Nesteds/CollectedItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserCardItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Primitives/UserCardsCosmosContainerName.cs
  thread-status-pending.json
  thread-status-resolved.json
Due: .pipelines/deploy/backend-pipeline.yml

Add tests for TSK-IMPL 5: Create UserCardItem Class - User Story 251
  src/Lib.Adapter.Scryfall.Cosmos.Tests/CosmosItems/UserCardItemTests.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/Nesteds/CollectedItem.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserCardItem.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add tests for TSK-IMPL 7: Create Container Name Primitive - User Story 259
  src/Lib.Adapter.Scryfall.Cosmos.Tests/Cosmos/Primitives/UserCardsCosmosContainerNameTests.cs
Due: .pipelines/deploy/backend-pipeline.yml

Implement TSK-IMPL 8: Create Container Definition - User Story 259
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/Definitions/UserCardsCosmosContainerDefinition.cs
Due: .pipelines/deploy/backend-pipeline.yml

agent tweak
  .claude/agents/quinn-story-work-loop.md
  .claude/settings.local.json
Due: none

Implement TSK-IMPL 4: Create Command Adapter Interface - User Story 243
  src/Lib.Adapter.UserCards/Apis/IUserCardsCommandAdapter.cs
Due: .pipelines/deploy/backend-pipeline.yml

Implement TSK-IMPL 5: Create UserCardItem Class - User Story 251
  .claude/settings.local.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserCardItem.cs
Due: .pipelines/deploy/backend-pipeline.yml

removing old claude files
  FEATURE_UserCards_Adapter_Implementation_AzDO_Create.sh
  FEATURE_UserCards_Adapter_Implementation_Story.md
  feature_213_context.json
  story_214_context.json
  task_215_context.json
Due: none

Add tests for TSK-IMPL 8: Create Container Definition - User Story 259
  src/Lib.Adapter.Scryfall.Cosmos.Tests/Cosmos/Containers/Definitions/UserCardsCosmosContainerDefinitionTests.cs
Due: .pipelines/deploy/backend-pipeline.yml

adding agents
  .claude/agents/quinn-azdo-items.md
  .claude/agents/quinn-code-reviewer.md
  .claude/agents/quinn-pr-cleanup.md
  .claude/agents/quinn-pr-finalizer.md
  .claude/agents/quinn-spec-layer-unified.md
Due: none

Add tests for TSK-IMPL 10: Implementation Task 1 - User Story 269
  src/Lib.Adapter.Scryfall.Cosmos.Tests/Apis/Operators/Scribes/UserCardsScribeTests.cs
Due: .pipelines/deploy/backend-pipeline.yml

Implement TSK-IMPL 10: Implementation Task 1 - User Story 269
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserCardsScribe.cs
Due: .pipelines/deploy/backend-pipeline.yml

Implement TSK-IMPL 11: Implementation Task 2 - User Story 269
  src/Lib.Shared.DataModels/Entities/ICollectedItemItrEntity.cs
  src/Lib.Shared.DataModels/Entities/IUserCardCollectionItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml
