Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

T4.1
  src/Cli.MtgDiscovery.DataMigration/OldSystem/AzureSql/ICollectorDataReader.cs
Due: .pipelines/deploy/backend-pipeline.yml

T9.1
  src/Cli.MtgDiscovery.DataMigration/NewSystem/INewSystemCardAdder.cs
Due: .pipelines/deploy/backend-pipeline.yml

TT3.5
  src/Cli.MtgDiscovery.DataMigration/Migration/MigrationResult.cs
Due: .pipelines/deploy/backend-pipeline.yml

T8.1
  src/Cli.MtgDiscovery.DataMigration/NewSystem/INewSystemCardLookup.cs
Due: .pipelines/deploy/backend-pipeline.yml

T8.2
  src/Cli.MtgDiscovery.DataMigration/NewSystem/NewSystemCardLookup.cs
Due: .pipelines/deploy/backend-pipeline.yml

T3.3
  src/Cli.MtgDiscovery.DataMigration/ErrorTracking/MigrationError.cs
Due: .pipelines/deploy/backend-pipeline.yml

T5.1
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Operators/IDiscoveryCardGopher.cs
Due: .pipelines/deploy/backend-pipeline.yml

T12.2
  src/Cli.MtgDiscovery.DataMigration/SuccessTracking/CsvSuccessLogger.cs
Due: .pipelines/deploy/backend-pipeline.yml

local.settings
  src/Cli.MtgDiscovery.DataMigration/Cli.MtgDiscovery.DataMigration.csproj
Due: .pipelines/deploy/backend-pipeline.yml

T13.,2
  src/Cli.MtgDiscovery.DataMigration/Migration/MigrationProgressTracker.cs
Due: .pipelines/deploy/backend-pipeline.yml

T12.1
  src/Cli.MtgDiscovery.DataMigration/SuccessTracking/ISuccessLogger.cs
Due: .pipelines/deploy/backend-pipeline.yml

T13.1
  src/Cli.MtgDiscovery.DataMigration/Migration/IMigrationProgressTracker.cs
Due: .pipelines/deploy/backend-pipeline.yml

T11.2
  src/Cli.MtgDiscovery.DataMigration/ErrorTracking/IErrorLogger.cs
Due: .pipelines/deploy/backend-pipeline.yml

T11.2
  src/Cli.MtgDiscovery.DataMigration/ErrorTracking/CsvErrorLogger.cs
Due: .pipelines/deploy/backend-pipeline.yml

T15.2
  src/Cli.MtgDiscovery.DataMigration/Program.cs
Due: .pipelines/deploy/backend-pipeline.yml

T11.1
  src/Cli.MtgDiscovery.DataMigration/Mapping/IOldToNewCardMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldToNewCardMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

T14.1
  src/Cli.MtgDiscovery.DataMigration/Migration/IMigrationOrchestrator.cs
Due: .pipelines/deploy/backend-pipeline.yml

T16.1
  src/Cli.MtgDiscovery.DataMigration/DataMigrationApplication.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldToNewCardMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Migration/MigrationOrchestrator.cs
  src/Cli.MtgDiscovery.DataMigration/NewSystem/NewSystemCardLookup.cs
  src/Cli.MtgDiscovery.DataMigration/Program.cs
Due: .pipelines/deploy/backend-pipeline.yml

T15.1
  src/Cli.MtgDiscovery.DataMigration/DataMigrationApplication.cs
Due: .pipelines/deploy/backend-pipeline.yml

T9.2
  src/Cli.MtgDiscovery.DataMigration/NewSystem/NewSystemCardAdder.cs
Due: .pipelines/deploy/backend-pipeline.yml

T14.2
  src/Cli.MtgDiscovery.DataMigration/Migration/MigrationOrchestrator.cs
Due: .pipelines/deploy/backend-pipeline.yml

Refactor Scryfall Set Groupings and Enhance Cosmos Client with Cancellation Support
  src/Example.Scryfall.BulkIngestion/appsettings.json
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
  src/Example.Scryfall.CosmosIngestion/scryfall_set_groupings.json
  src/Lib.Cosmos/Adapters/CosmosGenesisClientAdapter.cs
  src/Lib.Scryfall.Ingestion/Apis/Dashboard/IIngestionDashboard.cs
  src/Lib.Scryfall.Ingestion/BulkIngestionOrchestrator.cs
  src/Lib.Scryfall.Ingestion/Dashboard/ConsoleDashboard.cs
  src/Lib.Scryfall.Ingestion/Dashboard/RazorConsoleDashboard.cs
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/DashboardState.cs
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/IngestionDashboard.razor
  src/Lib.Scryfall.Ingestion/Dashboard/SilentDashboard.cs
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix interface segregation
  src/Lib.Aggregator.UserCards/Apis/IUserCardsAggregatorService.cs
  src/Lib.Aggregator.UserCards/Apis/IUserCardsCommandAggregatorService.cs
  src/Lib.Aggregator.UserCards/Apis/IUserCardsQueryAggregatorService.cs
  src/Lib.Aggregator.UserCards/Apis/UserCardsAggregatorService.cs
  src/Lib.Aggregator.UserCards/Commands/UserCardsCommandAggregator.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsQueryAggregator.cs
  src/Lib.Domain.UserCards/Apis/IUserCardsCommandDomainService.cs
  src/Lib.Domain.UserCards/Apis/IUserCardsDomainService.cs
  src/Lib.Domain.UserCards/Apis/IUserCardsQueryDomainService.cs
  src/Lib.Domain.UserCards/Apis/UserCardsDomainService.cs
  src/Lib.Domain.UserCards/Commands/CommandUserCardsDomainService.cs
  src/Lib.Domain.UserCards/Queries/QueryUserCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Apis/IUserSetCardsCommandDomainService.cs
  src/Lib.Domain.UserSetCards/Apis/IUserSetCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Apis/IUserSetCardsQueryDomainService.cs
  src/Lib.Domain.UserSetCards/Apis/UserSetCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Commands/CommandUserSetCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Queries/QueryUserSetCardsDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

local commit to check gh access
  client/package-lock.json
  client/package.json
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/IngestionDashboard.razor
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

fix card set_group
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
Due: .pipelines/deploy/backend-pipeline.yml

data migration
  src/Cli.MtgDiscovery.DataMigration/Cli.MtgDiscovery.DataMigration.csproj
  src/Cli.MtgDiscovery.DataMigration/DataMigrationApplication.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldFinishMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldSpecialMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldToNewCardMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Migration/MigrationOrchestrator.cs
  src/Cli.MtgDiscovery.DataMigration/NewSystem/NewSystemCardLookup.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/AzureSql/CollectorDataReader.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Operators/DiscoveryCardGopher.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Primitives/MtgDiscoveryOldCosmosDatabaseName.cs
  src/Cli.MtgDiscovery.DataMigration/Program.cs
  src/Cli.MtgDiscovery.DataMigration/appsettings.json
Due: .pipelines/deploy/backend-pipeline.yml

default nothing
  src/Example.Scryfall.BulkIngestion/appsettings.json
Due: .pipelines/deploy/backend-pipeline.yml

feat: Add VSCode settings and setup documentation
  .vscode/settings.json
  setup.md
Due: none

fix set sort
  client/package.json
  client/src/components/pages/AllSetsPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

fixing setgroup processing
  StandaloneGroupingsScraper/Program.cs
  StandaloneGroupingsScraper/scryfall_set_groupings.json
  src/Example.Scryfall.BulkIngestion/appsettings.json
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
Due: .pipelines/deploy/backend-pipeline.yml

fixing artsit display
  client/src/components/molecules/Cards/ArtistLinks.tsx
  client/src/components/molecules/Cards/CardCompact.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/index.ts
  client/src/components/organisms/CardDisplayResponsive.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

fixing collector set display
  client/src/components/atoms/shared/CollectionProgressBar.tsx
  client/src/components/molecules/Sets/MtgSetCard.tsx
  src/Cli.MtgDiscovery.DataMigration/appsettings.json
  src/Example.Scryfall.BulkIngestion/appsettings.json
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

fine tuning
  client/src/components/atoms/shared/CollectionProgressBar.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

more build fixes
  src/Cli.MtgDiscovery.DataMigration/appsettings.json
  src/Lib.Adapter.Scryfall.Cosmos.Tests/Apis/Operators/Scribes/UserCardsScribeTests.cs
  src/Lib.Adapter.Scryfall.Cosmos.Tests/Cosmos/Containers/UserCardsCosmosContainerTests.cs
  src/Lib.Adapter.UserCards.Tests/Commands/UserCardsCommandAdapterTests.cs
  src/Lib.Aggregator.Cards.Tests/Apis/CardAggregatorServiceTests.cs
  src/Lib.Cosmos.Tests/Apis/Ids/ProvidedPartitionKeyValueTests.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix default text.
  client/src/components/molecules/Sets/MtgSetCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

cli migration build fixes.
  src/Cli.MtgDiscovery.DataMigration/Configuration/AzureSqlConfiguration.cs
  src/Cli.MtgDiscovery.DataMigration/Configuration/MigrationConfiguration.cs
  src/Cli.MtgDiscovery.DataMigration/DataMigrationApplication.cs
  src/Cli.MtgDiscovery.DataMigration/ErrorTracking/CsvErrorLogger.cs
  src/Cli.MtgDiscovery.DataMigration/ErrorTracking/IErrorLogger.cs
  src/Cli.MtgDiscovery.DataMigration/ErrorTracking/MigrationError.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/IOldFinishMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/IOldSpecialMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/IOldToNewCardMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldToNewCardMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Migration/IMigrationOrchestrator.cs
  src/Cli.MtgDiscovery.DataMigration/Migration/IMigrationProgressTracker.cs
  src/Cli.MtgDiscovery.DataMigration/Migration/MigrationOrchestrator.cs
  src/Cli.MtgDiscovery.DataMigration/Migration/MigrationResult.cs
  src/Cli.MtgDiscovery.DataMigration/NewSystem/INewSystemCardAdder.cs
  src/Cli.MtgDiscovery.DataMigration/NewSystem/INewSystemCardLookup.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/AzureSql/Entities/CollectorDataRecord.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/AzureSql/ICollectorDataReader.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Entities/OldDiscoveryCardBody.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Entities/OldDiscoveryCardExtEntity.cs
  src/Cli.MtgDiscovery.DataMigration/Program.cs
  src/Cli.MtgDiscovery.DataMigration/SuccessTracking/CsvSuccessLogger.cs
  src/Cli.MtgDiscovery.DataMigration/SuccessTracking/ISuccessLogger.cs
  src/Cli.MtgDiscovery.DataMigration/SuccessTracking/MigrationSuccess.cs
Due: .pipelines/deploy/backend-pipeline.yml

fixing minor issuies
  src/.editorconfig
  src/Directory.Build.props
  src/Example.Core/ExampleApplication.cs
  src/Lib.Cosmos.Tests/Apis/Ids/PartitionKeyValueTests.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosClientAdapterFake.cs
  src/Lib.Cosmos.Tests/Operators/CosmosContainerDeleteOperatorTests.cs
  src/Lib.Cosmos.Tests/Operators/CosmosContainerQueryAsyncOperatorTests.cs
  src/Lib.Cosmos.Tests/Operators/CosmosContainerQueryOperatorTests.cs
  src/Lib.Cosmos.Tests/Operators/CosmosContainerReadOperatorTests.cs
  src/Lib.Cosmos.Tests/Operators/CosmosContainerUpsertOperatorTests.cs
  src/Lib.Cosmos/Adapters/CosmosGenesisClientAdapter.cs
  src/Lib.Scryfall.Ingestion/Models/ScryfallCard.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix text
  client/src/components/molecules/Sets/MtgSetCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

cards to execute service
  src/Lib.Domain.Cards/Apis/CardDomainService.cs
  src/Lib.Domain.Cards/Apis/ICardsQueryDomainService.cs
  src/Lib.Domain.Cards/Queries/CardNameSearchDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsByIdsDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsByNameDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsBySetCodeDomainService.cs
  src/Lib.Domain.Cards/Queries/CardsQueryDomainService.cs
  src/Lib.Domain.Cards/Queries/ICardNameSearchDomainService.cs
  src/Lib.Domain.Cards/Queries/ICardsByIdsDomainService.cs
  src/Lib.Domain.Cards/Queries/ICardsByNameDomainService.cs
  src/Lib.Domain.Cards/Queries/ICardsBySetCodeDomainService.cs
  src/Lib.Domain.Cards/Queries/QueryCardDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

artsits to execute service
  src/Lib.Domain.Artists/Apis/ArtistDomainService.cs
  src/Lib.Domain.Artists/Apis/IArtistsQueryDomainService.cs
  src/Lib.Domain.Artists/Queries/ArtistSearchDomainService.cs
  src/Lib.Domain.Artists/Queries/ArtistsQueryDomainService.cs
  src/Lib.Domain.Artists/Queries/CardsByArtistDomainService.cs
  src/Lib.Domain.Artists/Queries/CardsByArtistNameDomainService.cs
  src/Lib.Domain.Artists/Queries/IArtistSearchDomainService.cs
  src/Lib.Domain.Artists/Queries/ICardsByArtistDomainService.cs
  src/Lib.Domain.Artists/Queries/ICardsByArtistNameDomainService.cs
  src/Lib.Domain.Artists/Queries/QueryArtistDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml
