Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

Task 3.2: Create SealedProductsAdapterException
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Exceptions/SealedProductsAdapterException.cs
  task-3.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.7: Create SealedProductsAdapterService
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Entities/ISealedProductsBySetCodeXfrEntity.cs
  src/Lib.Adapter.SealedProducts/Apis/ISealedProductsAdapterService.cs
  src/Lib.Adapter.SealedProducts/Apis/SealedProductsAdapterService.cs
  task-3.7-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.6: Create SealedProductsBySetCodeAdapter
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Queries/ISealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Apis/Queries/SealedProductsBySetCodeAdapter.cs
  task-3.6-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.5: Create SealedProductExtToOufMapper
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Queries/Mappers/ISealedProductExtToOufMapper.cs
  src/Lib.Adapter.SealedProducts/Queries/Mappers/SealedProductExtToOufMapper.cs
  task-3.5-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 3.4: Create SealedProductOufEntity implementation
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Entities/SealedProductOufEntity.cs
  task-3.4-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Task 4.1: Create Lib.Aggregator.SealedProducts project
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Aggregator.SealedProducts/Lib.Aggregator.SealedProducts.csproj
  src/MtgDiscoveryVibe.sln
  task-4.1-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Fix mappers to implement ICreateMapper interface
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Queries/SealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Queries/Mappers/ISealedProductExtToOufMapper.cs
  src/Lib.Adapter.SealedProducts/Queries/Mappers/SealedProductExtToOufMapper.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/ISealedProductsBySetCodeItrToXfrMapper.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/SealedProductsBySetCodeItrToXfrMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

Task 4.2: Create SealedProductsBySetCode ItrToXfr Mapper
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Aggregator.SealedProducts/Queries/Entities/SetCodeXfrEntity.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/ISealedProductsBySetCodeItrToXfrMapper.cs
  src/Lib.Aggregator.SealedProducts/Queries/Mappers/SealedProductsBySetCodeItrToXfrMapper.cs
  task-4.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Fix ISealedProductsBySetCodeAdapter to extend IOperationResponseService
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.SealedProducts/Apis/Queries/ISealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Apis/Queries/SealedProductsBySetCodeAdapter.cs
  src/Lib.Adapter.SealedProducts/Apis/SealedProductsAdapterService.cs
Due: .pipelines/deploy/backend-pipeline.yml

Complete Aggregator Layer (Tasks 4.3-4.4)
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Aggregator.SealedProducts/Apis/ISealedProductsAggregatorService.cs
  src/Lib.Aggregator.SealedProducts/Apis/Queries/ISealedProductsBySetCodeAggregator.cs
  src/Lib.Aggregator.SealedProducts/Apis/Queries/SealedProductsBySetCodeAggregator.cs
  src/Lib.Aggregator.SealedProducts/Apis/SealedProductsAggregatorService.cs
  src/Lib.Aggregator.SealedProducts/Exceptions/SealedProductsAggregatorException.cs
Due: .pipelines/deploy/backend-pipeline.yml

Complete Domain Layer (Tasks 5.1-5.3)
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Domain.SealedProducts/Apis/ISealedProductsDomainService.cs
  src/Lib.Domain.SealedProducts/Apis/SealedProductsDomainService.cs
  src/Lib.Domain.SealedProducts/Lib.Domain.SealedProducts.csproj
  src/Lib.Domain.SealedProducts/Queries/ISealedProductsBySetCodeDomainService.cs
  src/Lib.Domain.SealedProducts/Queries/SealedProductsBySetCodeDomainService.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

Improve SetPage tabs and sealed product display
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add .http file for sealedProductsBySetCode query
  .http/getSealedProductsBySetCode.http
Due: none

Add Entry Layer for sealed products (Phase 6)
  SEALED_PRODUCTS_TASKS.md
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/ISealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/SealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/Itrs/SealedProducts/SealedProductsBySetCodeItrEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Lib.MtgDiscovery.Entry.csproj
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/CollectionSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ICollectionSealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ISealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/ISealedProductsBySetCodeArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/SealedProductOufToOutMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/SealedProductsBySetCodeArgToItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/HasValidSetCodeSealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/ISealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/IsNotNullSealedProductsBySetCodeArgEntityValidator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Validators/SealedProducts/SealedProductsBySetCodeArgEntityValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/ISealedProductsBySetCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/SealedProductsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add URL-based tab selection and center sealed product cards
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add GraphQL Layer for sealed products (Phase 7)
  SEALED_PRODUCTS_TASKS.md
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/GetSealedProductsBySetCodeArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/IGetSealedProductsBySetCodeArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/SealedProducts/GetSealedProductsBySetCodeArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/SealedProductsResponseModelUnionType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/SealedProductsSuccessDataResponseModelType.cs
  src/App.MtgDiscovery.GraphQL/Entities/Types/SealedProducts/SealedProductType.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Schemas/SealedProductsSchemaExtensions.cs
  src/App.MtgDiscovery.GraphQL/Startup.cs
Due: .pipelines/deploy/backend-pipeline.yml

Move results summary into Cards tab only
  client/src/components/pages/SetPage.tsx
  client/src/components/templates/SetPageTemplate.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Fix Apollo Client import path in useSealedProductsData hook
  client/src/hooks/useSealedProductsData.ts
Due: .pipelines/deploy/frontend-pipeline.yml

Add matching category exclusions to sealed product ingestion
  src/Cli.Sealed.Ingestion/SealedProductIngestionApplication.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add frontend components for sealed products display
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/atoms/Sealed/index.ts
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/organisms/Sealed/index.ts
  client/src/components/pages/SetPage.tsx
  client/src/graphql/queries/sealedProducts.ts
  client/src/hooks/useSealedProductsData.ts
  src/App.MtgDiscovery.GraphQL/appsettings.json
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Fix sealed product grid centering using flexbox
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Improve sealed products UX - Phase 1 visual enhancements
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Top-align sealed product name and exclude subset category
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  src/Cli.Sealed.ImageScraper/Orchestration/ImageScraperOrchestrator.cs
  src/Cli.Sealed.Ingestion/SealedProductIngestionApplication.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Move purchase links to bottom-right of image overlay
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Reduce spacing between product name and purchase links
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move tabs closer to header and restrict Binder View to Cards tab
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Simplify mobile/tablet sealed product cards
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move Binder View toggle above filter/sort controls
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add position relative to card container for purchase links
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move Binder View inside Cards tab
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Position purchase links at bottom-right of entire card
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Remove results summary to save vertical space
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add Binder as a third tab instead of separate page
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Revert: Move Show Card Groups toggle back to original position
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

sealed tweaks
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/atoms/shared/ItemDateBadge.tsx
  client/src/components/atoms/shared/index.ts
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Fix Binder View button labels to match mobile
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add Cosmos DB schema and container for sealed product collection
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSealedProductExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/Definitions/UserSealedProductsCosmosContainerDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/UserSealedProductsCosmosContainer.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Primitives/UserSealedProductsCosmosContainerName.cs
Due: .pipelines/deploy/backend-pipeline.yml

Fix duplicate hasCollector declaration
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Replace toggle switch with Binder View button
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move Binder View button inside Cards tab above filters
  client/src/components/organisms/Sets/SetPageHeader.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml
