Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

.pipelines/deploy/backend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push Container
    jobs:
    - job: BuildContainer
      displayName: Build .NET Container Image
      steps:
      - template: ../shared/resource-names.yml
        parameters:
          environment: shared
          includeShared: true
  ...

.pipelines/deploy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: BuildReact
      displayName: Build React Application
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

Refactor card component exports and update import paths for FilterPanel
  client/package-lock.json
  client/src/components/atoms/Cards/index.ts
  client/src/components/molecules/shared/CollectionStatsSummary.tsx
  client/src/components/organisms/Artists/ArtistPageFilters.tsx
  client/src/components/organisms/Cards/CardFilterPanel.tsx
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/hooks/useUrlFilterState.ts
  client/src/utils/artistUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Add VisibilityOffIcon and implement Hide Collection button functionality
  client/src/components/atoms/Icons.tsx
  client/src/components/molecules/ui/MyCollectionButton.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Add mobile responsive implementation guide and i18n implementation plan
  docs/Accessibility-Implementation-Plan.md
  docs/Mobile-Implementation-Guide.md
  docs/i18n-Implementation-Plan.md
Due: none

feat: Add new indexing policies for various entities and update query definition for user set cards
  cosmos-index-policies/ArtistCards-index-policy.json
  cosmos-index-policies/ArtistItems-index-policy.json
  cosmos-index-policies/ArtistNameTrigrams-index-policy.json
  cosmos-index-policies/ArtistSets-index-policy.json
  cosmos-index-policies/CardItems-index-policy.json
  cosmos-index-policies/CardNameTrigrams-index-policy.json
  cosmos-index-policies/CardsByName-index-policy.json
  cosmos-index-policies/RulingItems-index-policy.json
  cosmos-index-policies/SetArtists-index-policy.json
  cosmos-index-policies/SetCards-index-policy.json
  cosmos-index-policies/SetCodeToIdAssociations-index-policy.json
  cosmos-index-policies/SetItems-index-policy.json
  cosmos-index-policies/SetParentAssociations-index-policy.json
  cosmos-index-policies/UserCards-index-policy.json
  cosmos-index-policies/UserInfo-index-policy.json
  cosmos-index-policies/UserSetCards-index-policy.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/AllUserSetCardsQueryDefinition.cs
Due: .pipelines/deploy/backend-pipeline.yml

update to .net10
  src/App.MtgDiscovery.GraphQL/App.MtgDiscovery.GraphQL.csproj
  src/Directory.Build.props
  src/Directory.Packages.props
  src/slnNugetUpdater.sh
  src/updateNuget.sh
Due: .pipelines/deploy/backend-pipeline.yml

fix: Update query definitions to use 'partition' instead of 'user_id' for consistency
  src/Directory.Packages.props
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/UserCardItemsByArtistQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/UserCardItemsByNameQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/UserCardItemsBySetQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Lib.Adapter.Scryfall.Cosmos.csproj
Due: .pipelines/deploy/backend-pipeline.yml

feat: Enhance click handlers to allow default browser behavior for modifier keys and update AsyncEnumerableFake documentation
  client/src/components/atoms/Cards/ArtistLink.tsx
  client/src/components/atoms/Cards/CardName.tsx
  client/src/components/atoms/Cards/SetLink.tsx
  client/src/hooks/useCollectorNavigation.ts
  client/src/hooks/useUrlFilterState.ts
  src/.editorconfig
  src/Lib.Adapter.Cards.Tests/MSTestSettings.cs
  src/Lib.Adapter.Scryfall.BlobStorage.Tests/MSTestSettings.cs
  src/Lib.Adapter.Scryfall.Cosmos.Tests/MSTestSettings.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/UserCardItemsByNameQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/UserCardItemsBySetQueryDefinition.cs
  src/Lib.Adapter.User.Tests/MSTestSettings.cs
  src/Lib.Adapter.UserCards.Tests/MSTestSettings.cs
  src/Lib.BlobStorage.Tests/MSTestSettings.cs
  src/Lib.Cosmos.Tests/MSTestSettings.cs
  src/Lib.Domain.Cards.Tests/MSTestSettings.cs
  src/Lib.MtgDiscovery.Entry.Tests/MSTestSettings.cs
  src/Lib.Scryfall.Ingestion.Tests/MSTestSettings.cs
  src/Lib.Scryfall.Ingestion/Dashboard/RazorConsoleDashboard.cs
  src/Lib.Scryfall.Shared.Tests/MSTestSettings.cs
  src/Lib.Shared.Abstractions.Tests/MSTestSettings.cs
  src/Lib.Shared.Invocation.Tests/MSTestSettings.cs
  src/Lib.Universal.Tests/MSTestSettings.cs
  src/TestConvenience.Core/AsyncEnumerableFake.cs
  src/TestConvenience.Core/TestConvenience.Core.csproj
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

dmts
  .cosmosConfig/CosmosReload/Run-AllDMT.ps1
  .cosmosConfig/CosmosReload/Run-SetsDMT.ps1
  .cosmosConfig/CosmosReload/Run-UserDMT.ps1
  .cosmosConfig/CosmosReload/dmt-SetParentAssociations.json
  .cosmosConfig/CosmosReload/dmt-UserCards.json
Due: none

latest stuff
  StandaloneGroupingsScraper/Program.cs
  client/src/components/atoms/Cards/BadgePill.tsx
  client/src/components/atoms/Cards/ReservedListShield.tsx
  client/src/components/atoms/Cards/index.ts
  client/src/components/atoms/Sets/SetTitle.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectorInfo.tsx
  client/src/components/molecules/Cards/RarityCollectorBadge.tsx
  client/src/components/organisms/Cards/CardCompact.tsx
  client/src/components/organisms/Cards/CardDetailsModal.tsx
  client/src/components/organisms/Cards/CardDisplayResponsive.tsx
  client/src/components/organisms/Cards/CardImageDisplay.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/queries/cards.ts
  client/src/theme/index.ts
  client/src/utils/badgeFormatters.ts
  deployments.md
  src/App.MtgDiscovery.GraphQL/AppMtgDiscoveryGraphQlProgram.cs
  src/App.MtgDiscovery.GraphQL/appsettings.Local.json
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/ScryfallSetItemExtEntity.cs
  src/Lib.Adapter.UserSetCards/Commands/Integrators/UserSetCardIntegrator.cs
  src/Lib.Aggregator.Sets/Lib.Aggregator.Sets.csproj
  src/Lib.Aggregator.Sets/Queries/Mappers/SetItemExtToItrMapper.cs
  src/Lib.Scryfall.Ingestion/Aggregation/MonoStateCardNameTrigramAggregator.cs
  src/Lib.Scryfall.Ingestion/Services/CardGroupingMatcher.cs
  src/Lib.Scryfall.Ingestion/Services/SetGroupingsLoader.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

price updater
  src/Cli.MtgDiscovery.PriceUpdate/Cli.MtgDiscovery.PriceUpdate.csproj
  src/Cli.MtgDiscovery.PriceUpdate/Configuration/PriceUpdateConfiguration.cs
  src/Cli.MtgDiscovery.PriceUpdate/Dashboard/IPriceUpdateDashboard.cs
  src/Cli.MtgDiscovery.PriceUpdate/Dashboard/RazorConsolePriceUpdateDashboard.cs
  src/Cli.MtgDiscovery.PriceUpdate/Dashboard/RazorUI/PriceUpdateDashboard.razor
  src/Cli.MtgDiscovery.PriceUpdate/Dashboard/RazorUI/PriceUpdateDashboardState.cs
  src/Cli.MtgDiscovery.PriceUpdate/ManaPool/ManaPoolApiClient.cs
  src/Cli.MtgDiscovery.PriceUpdate/Mapping/ManaPoolToPricesMapper.cs
  src/Cli.MtgDiscovery.PriceUpdate/Orchestration/PriceUpdateOrchestrator.cs
  src/Cli.MtgDiscovery.PriceUpdate/PriceUpdateApplication.cs
  src/Cli.MtgDiscovery.PriceUpdate/appsettings.json
Due: .pipelines/deploy/backend-pipeline.yml

script updates
  client/deploy.ps1
  client/deploy.sh
  deploy-backend.ps1
  deploy-backend.sh
Due: .pipelines/deploy/frontend-pipeline.yml

fixing secrets
  .gitignore
  src/App.MtgDiscovery.GraphQL/appsettings.Development.json
  src/App.MtgDiscovery.GraphQL/appsettings.Production.json
Due: .pipelines/deploy/backend-pipeline.yml

file remove
  src/App.MtgDiscovery.GraphQL/appsettings.Local.json
Due: .pipelines/deploy/backend-pipeline.yml

missed
  client/src/components/atoms/Cards/CardName.tsx
  client/src/components/molecules/Cards/ArtistLinks.tsx
  client/src/components/molecules/Cards/CollectionSummary.tsx
  client/src/components/molecules/Cards/QuickEntryKeysFab.tsx
  client/src/components/molecules/shared/ExternalLinkIcon.tsx
  client/src/components/organisms/Cards/CardImageDisplay.tsx
  client/src/components/organisms/Cards/MtgCard.tsx
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/organisms/filters/FilterPanel.tsx
  client/src/hooks/useCardDisplaySettings.ts
  client/src/types/filters.ts
Due: .pipelines/deploy/frontend-pipeline.yml

mobile screens
  .cosmosConfig/CosmosReload/Run-CardsDMT.ps1
  client/src/components/atoms/Cards/SetLink.tsx
  client/src/components/atoms/shared/CardDateBadge.tsx
  client/src/components/atoms/shared/ReleaseDateBadge.tsx
  client/src/components/atoms/shared/SetDateBadge.tsx
  client/src/components/atoms/shared/index.ts
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/RulingsDisplay.tsx
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/molecules/Sets/TopBadges.tsx
  client/src/components/molecules/layouts/ResponsiveGrid.tsx
  client/src/components/molecules/shared/MobileFilterBar.tsx
  client/src/components/organisms/Cards/AllPrintingsDisplay.tsx
  client/src/components/organisms/Cards/CardDetailsModal.tsx
  client/src/components/organisms/Cards/CardGrid.tsx
  client/src/components/organisms/Cards/RelatedCardsDisplay.tsx
  client/src/components/organisms/Sets/SetCollectionPanel.tsx
  client/src/components/organisms/shared/Header.tsx
  client/src/components/organisms/shared/NavigationDrawer.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/useMtgCardInteractions.ts
Due: .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml
