Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

feat: enhance artist and card filtering with unique formats and case-insensitive comparisons
  client/src/components/molecules/Cards/ArtistInfo.tsx
  client/src/components/molecules/Cards/ArtistLinks.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/organisms/ArtistPageFilters.tsx
  client/src/components/organisms/CardFilterPanel.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/CardSearchPage.tsx
  client/src/hooks/useCardFiltering.ts
  client/src/utils/cardUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

moving molecules from atoms
  client/src/App.tsx
  client/src/components/atoms/Cards/index.ts
  client/src/components/atoms/layouts/index.ts
  client/src/components/atoms/shared/index.ts
  client/src/components/molecules/Cards/CardBadges.tsx
  client/src/components/molecules/Cards/CardLinks.tsx
  client/src/components/molecules/Cards/index.ts
  client/src/components/molecules/layouts/ResponsiveGrid.tsx
  client/src/components/molecules/layouts/index.ts
  client/src/components/molecules/shared/AppButton.tsx
  client/src/components/molecules/shared/AppCard.tsx
  client/src/components/molecules/shared/CollectorFiltersSection.tsx
  client/src/components/molecules/shared/DebouncedSearchInput.tsx
  client/src/components/molecules/shared/EmptyState.tsx
  client/src/components/molecules/shared/ExternalLinkIcon.tsx
  client/src/components/molecules/shared/LanguageSwitcher.tsx
  client/src/components/molecules/shared/MultiSelectDropdown.tsx
  client/src/components/molecules/shared/SearchInput.tsx
  client/src/components/molecules/shared/SortDropdown.tsx
  client/src/components/molecules/shared/index.ts
  client/src/components/organisms/AllPrintingsDisplay.tsx
  client/src/components/organisms/ArtistPageCardDisplay.tsx
  client/src/components/organisms/ArtistPageFilters.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/CardFilterPanel.tsx
  client/src/components/organisms/CardGrid.tsx
  client/src/components/organisms/Header.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/components/organisms/RelatedCardsDisplay.tsx
  client/src/components/organisms/SetPageCardDisplay.tsx
  client/src/components/organisms/filters/FilterPanel.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/CardSearchPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Add centralized icon imports from Material-UI Icons
  client/src/components/atoms/Icons.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Add custom hooks for artist cards, card badges, and set page data
  client/src/components/atoms/layouts/CenteredColumn.tsx
  client/src/components/atoms/layouts/FlexBetween.tsx
  client/src/components/atoms/layouts/GridContainer.tsx
  client/src/components/atoms/layouts/README.md
  client/src/components/atoms/layouts/index.ts
  client/src/components/molecules/Cards/CardBadges.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/__tests__/useCardBadges.test.ts
  client/src/hooks/useArtistCardsData.ts
  client/src/hooks/useCardBadges.ts
  client/src/hooks/useSetPageData.ts
  client/src/utils/__tests__/badgeFormatters.test.ts
  client/src/utils/badgeFormatters.ts
Due: .pipelines/deploy/frontend-pipeline.yml

chore: Clean up and organize artist entry service files
  src/Lib.MtgDiscovery.Entry/Queries/Artists/CardsByArtistEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Artists/CardsByArtistNameEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Implement domain services for user, user cards, and user set cards with async operations
  src/Lib.Domain.Artists/Operations/ArtistDomainException.cs
  src/Lib.Domain.Cards/Operations/CardDomainException.cs
  src/Lib.Domain.Sets/Operations/SetDomainException.cs
  src/Lib.Domain.User/Apis/UserDomainService.cs
  src/Lib.Domain.User/Commands/CommandUserDomainService.cs
  src/Lib.Domain.User/Operations/UserDomainException.cs
  src/Lib.Domain.UserCards/Apis/UserCardsDomainService.cs
  src/Lib.Domain.UserCards/Commands/CommandUserCardsDomainService.cs
  src/Lib.Domain.UserCards/Operations/UserCardsDomainException.cs
  src/Lib.Domain.UserCards/Queries/QueryUserCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Apis/UserSetCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Commands/CommandUserSetCardsDomainService.cs
  src/Lib.Domain.UserSetCards/Operations/UserSetCardsDomainException.cs
  src/Lib.Domain.UserSetCards/Queries/QueryUserSetCardsDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

chore: Update project files and clean up unused code
  src/Lib.MtgDiscovery.Entry/Commands/UserCardsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/UserSetCardsCommandEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/Validators/CountNotNegativeValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/Validators/SetGroupIdNotEmptyValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/Validators/SetIdNotEmptyValidator.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemCountValidator.cs
  src/Lib.MtgDiscovery.Entry/Lib.MtgDiscovery.Entry.csproj
  src/Lib.MtgDiscovery.Entry/Queries/Actions/ValidatorWithResponse.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/CardsByNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/CardsBySetCodeEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardNameSearchEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardsByIdsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardsByNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/ICardsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Add mappers for card and set group arguments to enhance data handling
  src/App.MtgDiscovery.GraphQL/Mappers/AddCardToCollectionArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Mappers/AddSetGroupToUserSetCardArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Mappers/IAddCardToCollectionArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Mappers/IAddSetGroupToUserSetCardArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserCardsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserSetCardsMutationMethods.cs
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserCardsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSetCardsCommandEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/AddCardToCollectionEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/IAddCardToCollectionEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/Mappers/IAddCardToCollectionArgsMapper.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCardsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/AddSetGroupToUserSetCardEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/IAddSetGroupToUserSetCardEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/Mappers/IAddSetGroupToUserSetCardArgsMapper.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserSetCards/UserSetCardsCommandEntryService.cs
  src/Lib.MtgDiscovery.Entry/Entities/AddCardToCollectionArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/AddSetGroupToUserSetCardArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/IAddCardToCollectionArgsEntity.cs
  src/Lib.MtgDiscovery.Entry/Entities/IAddSetGroupToUserSetCardArgsEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Implement inquisition classes and query definitions for artist, card, and set searches
  src/Lib.Adapter.Artists/Queries/ArtistsQueryAdapter.cs
  src/Lib.Adapter.Cards/Queries/CardsQueryAdapter.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/Args/ArtistNameTrigramSearchInquisitionArgs.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/Args/CardNameTrigramSearchInquisitionArgs.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/Args/CardsByArtistIdInquisitionArgs.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/Args/CardsByNameGuidInquisitionArgs.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/Args/CardsBySetIdInquisitionArgs.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/ArtistNameTrigramSearchInquisition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/ArtistNameTrigramSearchQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardNameTrigramSearchInquisition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardNameTrigramSearchQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardsByArtistIdInquisition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardsByArtistIdQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardsByNameGuidInquisition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardsByNameGuidQueryDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardsBySetIdInquisition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/CardsBySetIdQueryDefinition.cs
  src/Lib.Adapter.Sets/Apis/ISetQueryAdapter.cs
  src/Lib.Adapter.Sets/Apis/SetAdapterService.cs
  src/Lib.Adapter.Sets/Queries/SetsQueryAdapter.cs
  src/Lib.Aggregator.Sets/Queries/SetsQueryAggregator.cs
  src/Lib.Cosmos/Apis/Operators/ICosmosInquisition.cs
  src/Lib.Domain.Artists/Operations/ArtistDomainException.cs
  src/Lib.Domain.Cards/Operations/CardDomainException.cs
  src/Lib.Domain.Sets/Operations/SetDomainException.cs
  src/Lib.Domain.User/Operations/UserDomainException.cs
  src/Lib.Domain.UserCards/Operations/UserCardsDomainException.cs
  src/Lib.Domain.UserSetCards/Operations/UserSetCardsDomainException.cs
  src/Lib.MtgDiscovery.Entry/Queries/Artists/CardsByArtistEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Artists/CardsByArtistNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/CardsByNameEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/Cards/CardsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Implement mappers for operation response to response model conversion
  src/App.MtgDiscovery.GraphQL/Mappers/IOperationResponseToResponseModelMapper.cs
  src/App.MtgDiscovery.GraphQL/Mappers/OperationResponseToResponseModelMapper.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserCardsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserSetCardsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/ArtistQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/CardQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/SetQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/UserCardsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/UserSetCardsQueryMethods.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: Add SetsAggregatorOperationException for handling aggregation errors
  src/Lib.Aggregator.Sets/Exceptions/AggregatorOperationException.cs
  src/Lib.Aggregator.Sets/Exceptions/SetsAggregatorOperationException.cs
  src/Lib.Aggregator.Sets/Queries/AllSets/AllSetsAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsByCode/SetsByCodeAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsById/SetsByIdAggregatorService.cs
Due: .pipelines/deploy/backend-pipeline.yml

chore: Update CLAUDE.md with additional development commands and guidelines
  CLAUDE.md
Due: none

feat: Implement aggregator services for card and user card queries
  src/Lib.Aggregator.Artists/Queries/ArtistSearch/ArtistSearchAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/ArtistSearch/IArtistSearchAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/ArtistsQueryAggregator.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtist/CardsByArtistAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtist/ICardsByArtistAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtistName/CardsByArtistNameAggregatorService.cs
  src/Lib.Aggregator.Artists/Queries/CardsByArtistName/ICardsByArtistNameAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardNameSearch/CardNameSearchAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardNameSearch/ICardNameSearchAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByIds/CardsByIdsAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByIds/ICardsByIdsAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByName/CardsByNameAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsByName/ICardsByNameAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsBySetCode/CardsBySetCodeAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsBySetCode/ICardsBySetCodeAggregatorService.cs
  src/Lib.Aggregator.Cards/Queries/CardsQueryAggregator.cs
  src/Lib.Aggregator.Sets/Queries/AllSets/AllSetsAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/AllSets/IAllSetsAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsByCode/ISetsByCodeAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsByCode/SetsByCodeAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsById/ISetsByIdAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsById/SetsByIdAggregatorService.cs
  src/Lib.Aggregator.Sets/Queries/SetsQueryAggregator.cs
  src/Lib.Aggregator.UserCards/Commands/AddUserCard/AddUserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Commands/AddUserCard/IAddUserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Commands/UserCardsCommandAggregator.cs
  src/Lib.Aggregator.UserCards/Queries/UserCard/IUserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCard/UserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByArtist/IUserCardsByArtistAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByArtist/UserCardsByArtistAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByIds/IUserCardsByIdsAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByIds/UserCardsByIdsAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByName/IUserCardsByNameAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsByName/UserCardsByNameAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsBySet/IUserCardsBySetAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsBySet/UserCardsBySetAggregatorService.cs
  src/Lib.Aggregator.UserCards/Queries/UserCardsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

feat: add StatusMessage and PageContainer components for improved feedback and layout
  client/eslint.config.js
  client/src/components/molecules/feedback/LoadingIndicator.tsx
  client/src/components/molecules/feedback/StatusMessage.tsx
  client/src/components/molecules/feedback/index.ts
  client/src/components/molecules/index.ts
  client/src/components/molecules/layouts/PageContainer.tsx
  client/src/components/molecules/layouts/Section.tsx
  client/src/components/molecules/layouts/index.ts
  client/src/components/molecules/text/BodyText.tsx
  client/src/components/molecules/text/Heading.tsx
  client/src/components/molecules/text/index.ts
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/CardSearchPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/components/pages/SignInRedirectPage.tsx
  client/src/components/templates/Layout.tsx
  client/src/components/templates/SetPageTemplate.tsx
  client/src/components/templates/pages/BrowseTemplate.tsx
  client/src/components/templates/pages/DashboardTemplate.tsx
  client/src/components/templates/pages/DetailTemplate.tsx
  client/src/components/templates/pages/SearchTemplate.tsx
  client/src/graphql/queries/cards.ts
  client/src/types/card.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fix: update CardCollectionUpdate interface to require setId and setGroupId fields
  client/src/contexts/CollectionContext.tsx
  client/src/types/collection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fix: update package dependencies for Vite and Tinyglobby; enhance navigation hook to support history replacement
  client/package-lock.json
  client/package.json
  client/src/components/organisms/Header.tsx
  client/src/hooks/useCollectorNavigation.ts
  src/Example.Scryfall.CosmosIngestion/scryfall_set_groupings.json
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

fix: update CardCollectionUpdate interface to allow setGroupId to be null
  client/src/types/collection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

T1.3
  src/Directory.Packages.props
Due: .pipelines/deploy/backend-pipeline.yml

T1.3
  src/Cli.MtgDiscovery.DataMigration/Cli.MtgDiscovery.DataMigration.csproj
Due: .pipelines/deploy/backend-pipeline.yml

T1.4
  src/Cli.MtgDiscovery.DataMigration/Cli.MtgDiscovery.DataMigration.csproj
  src/Cli.MtgDiscovery.DataMigration/appsettings.json
  src/Directory.Packages.props
Due: .pipelines/deploy/backend-pipeline.yml

T2.1
  src/Cli.MtgDiscovery.DataMigration/Configuration/MigrationConfiguration.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add Razor Console Dashboard and UI components for bulk ingestion progress tracking
  src/Directory.Packages.props
  src/Example.Scryfall.BulkIngestion/Example.Scryfall.BulkIngestion.csproj
  src/Lib.Scryfall.Ingestion/Apis/Configuration/IBulkProcessingConfiguration.cs
  src/Lib.Scryfall.Ingestion/Configuration/ConfigBulkProcessingConfiguration.cs
  src/Lib.Scryfall.Ingestion/Configuration/DefaultBulkProcessingConfiguration.cs
  src/Lib.Scryfall.Ingestion/Dashboard/DashboardFactory.cs
  src/Lib.Scryfall.Ingestion/Dashboard/RazorConsoleDashboard.cs
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/CompletedCountsSection.razor
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/DashboardState.cs
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/IngestionDashboard.razor
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/ProgressSection.razor
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/RecentActivitySection.razor
  src/Lib.Scryfall.Ingestion/Dashboard/RazorUI/SystemMetricsSection.razor
  src/Lib.Scryfall.Ingestion/Lib.Scryfall.Ingestion.csproj
Due: .pipelines/deploy/backend-pipeline.yml

t1.2
  src/Cli.MtgDiscovery.DataMigration/Cli.MtgDiscovery.DataMigration.csproj
Due: .pipelines/deploy/backend-pipeline.yml

T1.1
  src/Cli.MtgDiscovery.DataMigration/Cli.MtgDiscovery.DataMigration.csproj
  src/Cli.MtgDiscovery.DataMigration/Program.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

T3.1
  src/Cli.MtgDiscovery.DataMigration/OldSystem/AzureSql/Entities/CollectorDataRecord.cs
Due: .pipelines/deploy/backend-pipeline.yml

Enhance RazorConsole support in bulk ingestion application and configuration
  src/Example.Scryfall.BulkIngestion/ScryfallBulkIngestionApplication.cs
  src/Example.Scryfall.BulkIngestion/appsettings.json
  src/Lib.Scryfall.Ingestion/BulkIngestion/CardsBulkDataFetcher.cs
  src/Lib.Scryfall.Ingestion/Pipeline/CardsPipelineService.cs
Due: .pipelines/deploy/backend-pipeline.yml

T2.2
  src/Cli.MtgDiscovery.DataMigration/Configuration/AzureSqlConfiguration.cs
Due: .pipelines/deploy/backend-pipeline.yml

T4.2
  src/Cli.MtgDiscovery.DataMigration/OldSystem/AzureSql/CollectorDataReader.cs
Due: .pipelines/deploy/backend-pipeline.yml

T7.1
  src/Cli.MtgDiscovery.DataMigration/Mapping/IOldSpecialMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldSpecialMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

T6.1
  src/Cli.MtgDiscovery.DataMigration/Mapping/IOldFinishMapper.cs
  src/Cli.MtgDiscovery.DataMigration/Mapping/OldFinishMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

T5.2
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Containers/Definitions/OldDiscoveryCardsCosmosContainerDefinition.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Containers/OldDiscoveryCardsCosmosContainer.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Operators/DiscoveryCardGopher.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Operators/IDiscoveryCardGopher.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Primitives/IdCosmosPartitionKeyPath.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Primitives/MtgDiscoveryOldCosmosAccountName.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Primitives/MtgDiscoveryOldCosmosDatabaseName.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Primitives/OldDiscoveryCardsCosmosContainerName.cs
Due: .pipelines/deploy/backend-pipeline.yml

T3.4
  src/Cli.MtgDiscovery.DataMigration/SuccessTracking/MigrationSuccess.cs
Due: .pipelines/deploy/backend-pipeline.yml

T3.2
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Entities/OldDiscoveryCardBody.cs
  src/Cli.MtgDiscovery.DataMigration/OldSystem/Cosmos/Entities/OldDiscoveryCardExtEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml
