Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml

mds
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .claude/settings.local.json
  .specify/memory/constitution.md
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  specs/001-auth-refactoring/checklists/requirements.md
  specs/001-auth-refactoring/contracts/README.md
  specs/001-auth-refactoring/contracts/apollo-contracts.ts
  specs/001-auth-refactoring/contracts/component-contracts.ts
  specs/001-auth-refactoring/contracts/hook-contracts.ts
  specs/001-auth-refactoring/contracts/utility-contracts.ts
  specs/001-auth-refactoring/data-model.md
  specs/001-auth-refactoring/plan.md
  specs/001-auth-refactoring/quickstart.md
  specs/001-auth-refactoring/research.md
  specs/001-auth-refactoring/spec.md
  specs/001-auth-refactoring/tasks.md
Due: none

ripping out to redo
  specs/001-auth-refactoring/checklists/requirements.md
  specs/001-auth-refactoring/contracts/README.md
  specs/001-auth-refactoring/contracts/apollo-contracts.ts
  specs/001-auth-refactoring/contracts/component-contracts.ts
  specs/001-auth-refactoring/contracts/hook-contracts.ts
  specs/001-auth-refactoring/contracts/utility-contracts.ts
  specs/001-auth-refactoring/data-model.md
  specs/001-auth-refactoring/plan.md
  specs/001-auth-refactoring/quickstart.md
  specs/001-auth-refactoring/research.md
  specs/001-auth-refactoring/spec.md
  specs/001-auth-refactoring/tasks.md
Due: none

homepage redesign doc
  specs/003-homepage-redesign/spec.md
Due: none

files
  .docs/COLLECTION_IDENTITY_IMPLEMENTATION_PLAN.md
  src/Example.Scryfall.BulkIngestion/scryfall_set_groupings.json
Due: .pipelines/deploy/backend-pipeline.yml

docs
  .docs/auth-flow-design.md
  .docs/auth-implementation-mapping.md
  CLAUDE.md
  specs/002-auth-flow-refactor/checklists/requirements.md
  specs/002-auth-flow-refactor/contracts/graphql-schema-changes.md
  specs/002-auth-flow-refactor/data-model.md
  specs/002-auth-flow-refactor/plan.md
  specs/002-auth-flow-refactor/quickstart.md
  specs/002-auth-flow-refactor/research.md
  specs/002-auth-flow-refactor/spec.md
  specs/002-auth-flow-refactor/tasks.md
Due: none

fixing up
  .claude/settings.local.json
  .docs/.archived/SEALED_PRODUCTS_PLAN.md
  .gitignore
  CLAUDE.md
  SEALED_PRODUCTS_PLAN.md
  SEALED_PRODUCTS_TASKS.md
  client/src/utils/globalCardEntryHandler.ts
  git-filter-repo
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserCardsScribe.cs
  src/Lib.Shared.DataModels/Entities/Oufs/UserCards/IUserCardOufEntity.cs
  src/MtgDiscoveryVibe.sln
  task-1.1-codereview.md
  task-1.2-codereview.md
  task-1.3-codereview.md
  task-1.4-codereview.md
  task-1.5-codereview.md
  task-2.1-codereview.md
  task-2.2-codereview.md
  task-2.3-codereview.md
  task-2.4-codereview.md
  task-3.1-codereview.md
  task-3.2-codereview.md
  task-3.3-codereview.md
  task-3.4-codereview.md
  task-3.5-codereview.md
  task-3.6-codereview.md
  task-3.7-codereview.md
  task-4.1-codereview.md
  task-4.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

update scripts
  .cosmosConfig/CosmosReload/Run-AllDMT.ps1
  .cosmosConfig/CosmosReload/Run-IngestionUpdateDMT.ps1
  src/Lib.Cosmos/Apis/Configurations/CosmosContainerAutoscaleMax.cs
Due: .pipelines/deploy/backend-pipeline.yml

debounce
  client/src/components/molecules/shared/SearchInput.tsx
  client/src/components/organisms/filters/FilterPanel.tsx
  client/src/components/pages/ArtistSearchPage.tsx
  client/src/components/pages/CardSearchPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

cosmos throughput update
  src/Example.LibCosmos/appsettings.json
  src/Lib.Cosmos.Tests/Adapters/CosmosGenesisClientAdapterTests.cs
  src/Lib.Cosmos.Tests/Adapters/CosmosSasAuthGenesisDeviceTests.cs
  src/Lib.Cosmos.Tests/Apis/Configurations/CosmosAutoscaleMaxTests.cs
  src/Lib.Cosmos.Tests/Apis/Configurations/CosmosContainerAutoscaleMaxTests.cs
  src/Lib.Cosmos.Tests/Configurations/ConfigCosmosContainerConfigTests.cs
  src/Lib.Cosmos.Tests/Configurations/ConfigCosmosDatabaseAutoscaleMaxTests.cs
  src/Lib.Cosmos.Tests/Configurations/ConfigCosmosDatabaseConfigTests.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosAutoscaleMaxFake.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosContainerConfigFake.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosContainerTimeToLiveFake.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosDatabaseConfigFake.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosGenesisClientAdapterFake.cs
  src/Lib.Cosmos.Tests/Fakes/CosmosThroughputModeFake.cs
  src/Lib.Cosmos.Tests/Fakes/DatabaseFake.cs
  src/Lib.Cosmos.Tests/Fakes/DatabaseResponseFake.cs
  src/Lib.Cosmos/Adapters/CosmosEntraAuthGenesisDevice.cs
  src/Lib.Cosmos/Adapters/CosmosGenesisClientAdapter.cs
  src/Lib.Cosmos/Adapters/CosmosSasAuthGenesisDevice.cs
  src/Lib.Cosmos/Adapters/ICosmosGenesisClientAdapter.cs
  src/Lib.Cosmos/Apis/Configurations/CosmosAutoscaleMax.cs
  src/Lib.Cosmos/Apis/Configurations/ICosmosContainerConfig.cs
  src/Lib.Cosmos/Apis/Configurations/ICosmosDatabaseConfig.cs
  src/Lib.Cosmos/Apis/Configurations/ICosmosThroughputMode.cs
  src/Lib.Cosmos/Apis/CosmosItem.cs
  src/Lib.Cosmos/CLAUDE.md
  src/Lib.Cosmos/Configurations/ConfigCosmosContainerAutoscaleMax.cs
  src/Lib.Cosmos/Configurations/ConfigCosmosContainerConfig.cs
  src/Lib.Cosmos/Configurations/ConfigCosmosDatabaseAutoscaleMax.cs
  src/Lib.Cosmos/Configurations/ConfigCosmosDatabaseConfig.cs
  src/Lib.Cosmos/Configurations/ConfigCosmosThroughputMode.cs
  src/Lib.Cosmos/Operators/CosmosContainerUpsertOperator.cs
Due: .pipelines/deploy/backend-pipeline.yml

docs
  .claude/settings.local.json
  .docs/COLLECTION_IDENTITY_ARCHITECTURE.md
  .docs/COLLECTION_IDENTITY_IMPLEMENTATION_PLAN.md
Due: none

collection state merge
  src/Lib.Adapter.UserCards/Commands/AddUserCardAdapter.cs
  src/Lib.Adapter.UserCards/Commands/Integrators/IUserCardIntegrator.cs
  src/Lib.Adapter.UserCards/Commands/Integrators/UserCardIntegrator.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/AddUserCardXfrToExtMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/AddUserCardXfrToReadPointMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/CollectedItemsMergeMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/CollectedItemsReplaceMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/IAddUserCardXfrToExtMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/IAddUserCardXfrToReadPointMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/ICollectedItemsMergeMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/ICollectedItemsReplaceMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/IUserCardMetadataMapper.cs
  src/Lib.Adapter.UserCards/Commands/Mappers/UserCardMetadataMapper.cs
  src/Lib.Adapter.UserCards/Commands/Resolvers/IUserCardResolver.cs
  src/Lib.Adapter.UserCards/Commands/Resolvers/UserCardResolver.cs
  src/Lib.Adapter.UserCards/Commands/Strategies/CosmosRetryStrategy.cs
  src/Lib.Adapter.UserCards/Commands/Strategies/ICosmosRetryStrategy.cs
  src/Lib.Adapter.UserSetCards/Apis/Entities/IAddCardToSetXfrEntity.cs
  src/Lib.Adapter.UserSetCards/Commands/AddCardToSetAdapter.cs
  src/Lib.Adapter.UserSetCards/Commands/Integrators/UserSetCardIntegrator.cs
  src/Lib.Aggregator.UserCards/Commands/AddUserCardAggregatorService.cs
  src/Lib.Aggregator.UserCards/Commands/Mappers/AddUserCardXfrToAddCardToSetXfrMapper.cs
  src/Lib.Aggregator.UserCards/Commands/Mappers/IAddUserCardXfrToAddCardToSetXfrMapper.cs
  src/Lib.Aggregator.UserSetCards/Commands/Mappers/AddCardToSetItrToXfrMapper.cs
  src/Lib.Aggregator.UserSetCards/Commands/Mappers/IAddCardToSetItrToXfrMapper.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix the slow entry overlay
  client/src/components/auth/Auth0TokenProvider.tsx
  client/src/components/molecules/Binder/BinderSlot.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.tsx
  client/src/components/organisms/Cards/CardGrid.tsx
  client/src/components/organisms/Cards/MtgCard.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/contexts/WishlistContext.tsx
  client/src/hooks/useArtistCardsData.ts
  client/src/hooks/useBinderPageData.ts
  client/src/hooks/useCardCollectionEntry.ts
  client/src/hooks/useCardCollectionFromCache.ts
  client/src/hooks/useCollectionUpdates.ts
  client/src/hooks/useLastDelta.ts
  client/src/hooks/useMtgCardCollectionActions.ts
  client/src/hooks/useSetPageData.ts
  client/src/hooks/useWishlistUpdates.ts
  client/src/utils/badgeFormatters.ts
  client/src/utils/globalCardEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

doc updates
  .docs/.archived/auth-flow-design.md
  .docs/.archived/auth-implementation-mapping.md
  .docs/.archived/auth-refactoring-plan.md
  .docs/bulk-import-export.md
  .docs/deck-check-design.md
  .docs/sqlite-migration-and-search-design.md
  .docs/user-profile-page.md
Due: none

docs
  .docs/010-sqlite-migration-and-search-design.md
  .docs/020-fast-add-plan.md
  .docs/030-user-profile-page.md
  .docs/040a-COLLECTION_IDENTITY_IMPLEMENTATION_PLAN.md
  .docs/040b-COLLECTION_IDENTITY_ARCHITECTURE.md
  .docs/050-deck-check-design.md
  .docs/070-i18n-Implementation-Plan.md
  .docs/080-bulk-import-export.md
  .docs/090-Accessibility-Implementation-Plan.md
  src/App.MtgDiscovery.GraphQL/App.MtgDiscovery.GraphQL.csproj
Due: .pipelines/deploy/backend-pipeline.yml

files
  .claude/agents/code-reviewer.md
  .claude/settings.json
  .claude/settings.local.json
Due: none

sqlite-plan
  .claude/settings.local.json
  CLAUDE.md
  specs/010-sqlite-migration/checklists/requirements.md
  specs/010-sqlite-migration/contracts/advanced-search.graphql
  specs/010-sqlite-migration/data-model.md
  specs/010-sqlite-migration/plan.md
  specs/010-sqlite-migration/quickstart.md
  specs/010-sqlite-migration/research.md
  specs/010-sqlite-migration/spec.md
  specs/010-sqlite-migration/tasks.md
Due: none

feat: enhance user wishlist and sync functionality
  client/src/components/atoms/Cards/ContentWarningIcon.tsx
  client/src/components/atoms/Cards/index.ts
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/RarityCollectorBadge.tsx
  client/src/contexts/AuthStateContext.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/queries/wishlist.ts
  client/src/hooks/auth/useAuthCallback.ts
  client/src/hooks/user/useUserSync.ts
  src/Lib.Aggregator.Cards.Tests/Fakes/CardItemItrEntityFake.cs
  src/Lib.Aggregator.Scryfall.Shared/Entities/CardItemItrEntity.cs
  src/Lib.Cosmos/Adapters/MonoStateCosmosClientAdapter.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/Cards/CardItemOutEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/Cards/ICardItemItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

reference project update
  CLAUDE.md
Due: none

home page upgrade
  CLAUDE.md
  client/package-lock.json
  client/src/App.tsx
  client/src/components/atoms/mui-wrappers/Icons.tsx
  client/src/components/atoms/shared/SeparatedList.tsx
  client/src/components/atoms/shared/index.ts
  client/src/components/organisms/Cards/CardCompact.tsx
  client/src/components/organisms/shared/Header.tsx
  client/src/components/pages/HomePage/HomePage.tsx
  client/src/components/pages/HomePage/components/FadeInSection.tsx
  client/src/components/pages/HomePage/components/FeatureCard.tsx
  client/src/components/pages/HomePage/components/SetPreviewCard.tsx
  client/src/components/pages/HomePage/components/StatBox.tsx
  client/src/components/pages/HomePage/data/featureCards.ts
  client/src/components/pages/HomePage/data/featuredArtists.ts
  client/src/components/pages/HomePage/data/proTips.ts
  client/src/components/pages/HomePage/index.ts
  client/src/components/pages/HomePage/sections/ArtistSpotlight.tsx
  client/src/components/pages/HomePage/sections/BottomCTA.tsx
  client/src/components/pages/HomePage/sections/CollectionPreview.tsx
  client/src/components/pages/HomePage/sections/FeatureHighlights.tsx
  client/src/components/pages/HomePage/sections/FeaturedSetsCarousel.tsx
  client/src/components/pages/HomePage/sections/HeroSection.tsx
  client/src/components/pages/HomePage/sections/QuickSearchSection.tsx
  client/src/hooks/useHomePageData.ts
  client/src/hooks/useInView.ts
  client/src/styles/animations.ts
  client/src/utils/rotation.ts
  specs/003-homepage-redesign/contracts/component-contracts.md
  specs/003-homepage-redesign/data-model.md
  specs/003-homepage-redesign/plan.md
  specs/003-homepage-redesign/quickstart.md
  specs/003-homepage-redesign/research.md
  specs/003-homepage-redesign/spec.md
  specs/003-homepage-redesign/tasks.md
Due: .pipelines/deploy/frontend-pipeline.yml

missed files
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/types/card.ts
Due: .pipelines/deploy/frontend-pipeline.yml

constitution update
  .specify/memory/constitution.md
Due: none

the spec
  specs/001-collection-identity/checklists/requirements.md
  specs/001-collection-identity/contracts/graphql-schema.md
  specs/001-collection-identity/data-model.md
  specs/001-collection-identity/plan.md
  specs/001-collection-identity/quickstart.md
  specs/001-collection-identity/research.md
  specs/001-collection-identity/spec.md
  specs/001-collection-identity/tasks.md
Due: none

reverts BOM and single lines for cleaner commits
  scripts/revert-hidden-changes.sh
Due: none

more accepatable code
  src/Lib.Adapter.Collections/Entities/AuthorizedUserOufEntity.cs
  src/Lib.Adapter.Collections/Entities/CollectionOufEntity.cs
  src/Lib.Adapter.Collections/Entities/CollectionXfrEntity.cs
  src/Lib.Adapter.Collections/Exceptions/CollectionAdapterException.cs
  src/Lib.Adapter.Collections/Lib.Adapter.Collections.csproj
  src/Lib.Aggregator.Collections/Apis/CollectionsAggregatorService.cs
  src/Lib.Aggregator.Collections/Apis/ICollectionCommandAggregatorService.cs
  src/Lib.Aggregator.Collections/Apis/ICollectionQueryAggregatorService.cs
  src/Lib.Aggregator.Collections/Apis/ICollectionsAggregatorService.cs
  src/Lib.Aggregator.Collections/Lib.Aggregator.Collections.csproj
  src/Lib.Domain.Collections/Apis/CollectionsDomainService.cs
  src/Lib.Domain.Collections/Apis/ICollectionAuthorizationService.cs
  src/Lib.Domain.Collections/Apis/ICollectionCommandDomainService.cs
  src/Lib.Domain.Collections/Apis/ICollectionQueryDomainService.cs
  src/Lib.Domain.Collections/Apis/ICollectionsDomainService.cs
  src/Lib.Domain.Collections/Commands/CollectionCommandDomainService.cs
  src/Lib.Domain.Collections/Lib.Domain.Collections.csproj
  src/Lib.Domain.Collections/Queries/CollectionQueryDomainService.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

first _bmad run
  docs/development-guide.md
  docs/existing-documentation-inventory.md
  docs/index.md
  docs/integration-architecture.md
  docs/project-parts.json
  docs/project-scan-report.json
  docs/source-tree-analysis.md
  docs/technology-stack.md
Due: none

remove some docs for now
  docs/development-guide.md
  docs/existing-documentation-inventory.md
  docs/index.md
  docs/integration-architecture.md
  docs/project-parts.json
  docs/project-scan-report.json
  docs/source-tree-analysis.md
  docs/technology-stack.md
  src/Lib.Domain.Collections.Tests/Authorization/CollectionAuthorizationServiceTests.cs
  src/Lib.Domain.Collections/Apis/ICollectionAuthorizationService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fixing file stuff
  src/.editorconfig
Due: .pipelines/deploy/backend-pipeline.yml

lf fix
  .editorconfig
Due: none

domain claude
  csharp/src/Lib.Domains/CLAUDE.md
Due: none

more claude
  client/web/src/assets/CLAUDE.md
  client/web/src/components/CLAUDE.md
  client/web/src/config/CLAUDE.md
  client/web/src/constants/CLAUDE.md
  client/web/src/contexts/CLAUDE.md
  client/web/src/generated/CLAUDE.md
  client/web/src/graphql/CLAUDE.md
  client/web/src/hooks/CLAUDE.md
  client/web/src/i18n/CLAUDE.md
  client/web/src/styles/CLAUDE.md
  client/web/src/theme/CLAUDE.md
  client/web/src/types/CLAUDE.md
  client/web/src/utils/CLAUDE.md
Due: .pipelines/deploy/frontend-pipeline.yml

copilot helpers
  .github/copilot-instructions.md
  .github/instructions/csharp-backend.instructions.md
  .github/instructions/react-frontend.instructions.md
  .github/instructions/testing.instructions.md
Due: none

claude helpers
  .claude/rules/architecture-guide.md
  .claude/rules/csharp-code-style.md
  .claude/rules/testing-guide.md
  CLAUDE.md
  csharp/src/.examples/CLAUDE.md
  csharp/src/Api.MtgDiscovery.GraphQL/CLAUDE.md
  csharp/src/CLAUDE.md
  csharp/src/Cli.Apps/CLAUDE.md
  csharp/src/Lib.Adapters/CLAUDE.md
  csharp/src/Lib.Aggregators/CLAUDE.md
  csharp/src/Lib.Domains/CLAUDE.md
  csharp/src/common/CLAUDE.md
  csharp/src/common/csharp-layer-patterns.md
  csharp/src/core/CLAUDE.md
Due: none

fixy fixy
  client/web/CLAUDE.md
  client/web/package-lock.json
  client/web/src/App.tsx
  client/web/src/components/auth/Auth0TokenProvider.tsx
Due: .pipelines/deploy/frontend-pipeline.yml
