Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

.pipelines/deploy/backend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push Container
    jobs:
    - job: BuildContainer
      displayName: Build .NET Container Image
      steps:
      - template: ../shared/resource-names.yml
        parameters:
          environment: shared
          includeShared: true
  ...

.pipelines/deploy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: BuildReact
      displayName: Build React Application
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

updated set
  src/Lib.Adapter.Sets/Apis/Entities/ISetCodesXfrEntity.cs
  src/Lib.Adapter.Sets/Apis/Entities/ISetIdsXfrEntity.cs
  src/Lib.Adapter.Sets/Apis/ISetQueryAdapter.cs
  src/Lib.Adapter.Sets/Apis/SetAdapterService.cs
  src/Lib.Adapter.Sets/Queries/Entities/SetIdsXfrEntity.cs
  src/Lib.Adapter.Sets/Queries/SetCosmosQueryAdapter.cs
  src/Lib.Aggregator.Sets/Queries/Entities/SetCodesXfrEntity.cs
  src/Lib.Aggregator.Sets/Queries/Entities/SetIdsXfrEntity.cs
  src/Lib.Aggregator.Sets/Queries/Mappers/ISetCodesItrToXfrMapper.cs
  src/Lib.Aggregator.Sets/Queries/Mappers/ISetIdsItrToXfrMapper.cs
  src/Lib.Aggregator.Sets/Queries/Mappers/SetCodesItrToXfrMapper.cs
  src/Lib.Aggregator.Sets/Queries/Mappers/SetIdsItrToXfrMapper.cs
  src/Lib.Aggregator.Sets/Queries/QuerySetAggregatorService.cs
Due: .pipelines/deploy/backend-pipeline.yml

remove claude files
  .claude/reviews/review-2025-09-15-pr2.md
  .claude/reviews/review-xfrentity-pattern-2025-09-17.md
Due: none

feat: Add standardized CardGrid and CardGridContainer components with keyboard navigation support
  client/src/components/atoms/layouts/ResponsiveGrid.tsx
  client/src/components/atoms/shared/ExternalLinkIcon.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/CardGrid.tsx
  client/src/components/organisms/CardGridContainer.tsx
  client/src/components/organisms/CardGroup.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/hooks/useGridNavigation.ts
  client/src/pages/ArtistCardsPage.tsx
  client/src/pages/CardAllPrintingsPage.tsx
  client/src/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

adding recent fix
  client/package-lock.json
  client/package.json
  client/src/components/organisms/VirtualizedCardGrid.tsx
  client/src/contexts/UserContext.tsx
  client/src/hooks/user/useUserSync.ts
Due: .pipelines/deploy/frontend-pipeline.yml

using new gql form
  client/src/components/molecules/Cards/AllPrintingsDisplay.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionSummary.tsx
  client/src/components/molecules/Cards/RelatedCardsDisplay.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/CardGrid.tsx
  client/src/components/organisms/CardGroup.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/components/organisms/VirtualizedCardGrid.tsx
  client/src/config/cardSortOptions.ts
  client/src/contexts/CollectionContext.tsx
  client/src/graphql/queries/cards.ts
  client/src/hooks/useCollectionData.ts
  client/src/hooks/useGridNavigation.ts
  client/src/pages/ArtistCardsPage.tsx
  client/src/pages/CardAllPrintingsPage.tsx
  client/src/pages/SetPage.tsx
  client/src/services/collectionManager.ts
  client/src/types/card.ts
  client/src/utils/collectionFormatters.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

intial display
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionSummary.tsx
  client/src/components/organisms/CardGroup.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/graphql/queries/userCards.ts
  client/src/hooks/useCollectorParam.ts
  client/src/pages/SetPage.tsx
  client/src/types/card.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Implement collection management and navigation features
  client/src/components/atoms/Cards/ArtistLink.tsx
  client/src/components/atoms/Cards/CardName.tsx
  client/src/components/atoms/Cards/SetLink.tsx
  client/src/components/molecules/Cards/AllPrintingsDisplay.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/Header.tsx
  client/src/components/organisms/MtgSetCard.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/graphql/queries/userCards.ts
  client/src/hooks/useCollectionData.ts
  client/src/hooks/useCollectorNavigation.ts
  client/src/pages/ArtistCardsPage.tsx
  client/src/pages/CardAllPrintingsPage.tsx
  client/src/pages/SetPage.tsx
  client/src/services/collectionManager.ts
  client/src/utils/collectionFormatters.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

quick deletes
  SPEC_UserCardsSetQuery.md
  build_output.txt
  client/CARD_COMPONENTS.md
  client/REFACTORING_LEARNINGS.md
Due: .pipelines/deploy/frontend-pipeline.yml

nicely done
  client/src/components/molecules/Cards/CollectionSummary.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/graphql/queries/userCards.ts
  client/src/utils/collectionFormatters.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

adjustments
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionSummary.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

remove finish filter
  client/src/config/cardSortOptions.ts
  client/src/hooks/useCardFiltering.ts
  client/src/pages/ArtistCardsPage.tsx
  client/src/pages/CardAllPrintingsPage.tsx
  client/src/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

added cardcachemanager and setpage works
  client/CLAUDE.md
  client/src/hooks/useCardCache.ts
  client/src/pages/SetPage.tsx
  client/src/services/CardCacheManager.ts
Due: .pipelines/deploy/frontend-pipeline.yml

card cache manager and cocs
  client/src/services/CardCacheManager.ts
Due: .pipelines/deploy/frontend-pipeline.yml

my library works
  Architecture_Layers_Patterns.md
  CLAUDE.md
  TECHNICAL_ARCHITECTURE_MANUAL.md
  client/.env.development
  client/src/App.tsx
  client/src/components/atoms/Cards/CollectionToast.tsx
  client/src/components/auth/Auth0TokenProvider.tsx
  client/src/components/auth/AuthButton.tsx
  client/src/components/molecules/Cards/CardEntryHelpPanel.tsx
  client/src/components/molecules/Cards/CardEntryOverlay.tsx
  client/src/components/molecules/Cards/CardEntryOverlayDirect.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.tsx
  client/src/components/molecules/Cards/CollectionSummary.tsx
  client/src/components/molecules/Cards/GlobalCardEntryHelp.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/components/organisms/MyCollectionButton.tsx
  client/src/components/organisms/NotificationToastStack.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/graphql/apollo-client.ts
  client/src/graphql/mutations/addCardToCollection.ts
  client/src/graphql/mutations/collection.ts
  client/src/graphql/mutations/user.ts
  client/src/hooks/useCardCollectionEntry.ts
  client/src/hooks/useCardCollectionEntry3.ts
  client/src/hooks/useGlobalEntryMode.ts
  client/src/hooks/useOptimizedSort.ts
  client/src/hooks/user/useUserSync.ts
  client/src/main.tsx
  client/src/pages/CardAllPrintingsPage.tsx
  client/src/pages/SetPage.tsx
  client/src/services/CardCacheManager.ts
  client/src/types/collection.ts
  client/src/utils/directDomHelpPanel.ts
  client/src/utils/directDomOverlay.ts
  client/src/utils/globalCardEntryHandler.ts
  src/Architecture.md
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

feat: implement set card collection tracking components and hooks
  client/src/components/examples/SetCardCollectionExample.tsx
  client/src/components/molecules/Sets/SetCollectionTracker.tsx
  client/src/components/organisms/MtgSetCardWithCollection.tsx
  client/src/graphql/queries/cards.ts
  client/src/hooks/useSetCollectionProgress.ts
  client/src/pages/SetPage.tsx
  client/src/types/card.ts
  client/src/utils/optimizedCardGrouping.ts
Due: .pipelines/deploy/frontend-pipeline.yml

collector filters
  client/src/components/molecules/shared/CollectorFiltersSection.tsx
  client/src/components/molecules/shared/FilterPanel.tsx
  client/src/config/cardSortOptions.ts
  client/src/pages/SetPage.tsx
  client/src/types/filters.ts
  client/src/utils/cardUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add etched badge support and improve card entry handling
  client/src/components/atoms/Cards/CardBadges.tsx
  client/src/components/molecules/Cards/QuickEntryKeysFab.tsx
  client/src/components/molecules/Cards/RelatedCardsDisplay.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/hooks/useCardCache.ts
  client/src/pages/SignInRedirectPage.tsx
  client/src/utils/globalCardEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fixing integration
  client/src/components/molecules/Cards/AllPrintingsDisplay.tsx
  client/src/components/molecules/Cards/RelatedCardsDisplay.tsx
  client/src/hooks/useCardCache.ts
  client/src/hooks/useCardFiltering.ts
  client/src/hooks/useCollectorNavigation.ts
  client/src/pages/ArtistCardsPage.tsx
  client/src/pages/CardAllPrintingsPage.tsx
  client/src/pages/SetPage.tsx
  client/src/services/CardCacheManager.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: clean up global card entry handler structure and improve key event handling
  client/src/utils/globalCardEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: remove CardDemo component and optimize collection context handling
  client/package-lock.json
  client/package.json
  client/src/components/atoms/Cards/CardModal.tsx
  client/src/components/atoms/shared/AccessibleLoadingIndicator.tsx
  client/src/components/atoms/shared/AppInput.tsx
  client/src/components/molecules/Cards/AllPrintingsDisplay.tsx
  client/src/components/molecules/Cards/CardEntryOverlay.tsx
  client/src/components/molecules/Cards/CardEntryOverlayDirect.tsx
  client/src/components/molecules/Cards/CardOverlay.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.tsx
  client/src/components/molecules/Cards/CollectionSummary.tsx
  client/src/components/molecules/shared/CollectorFiltersSection.tsx
  client/src/components/organisms/CardDetailsModal.tsx
  client/src/components/organisms/CardGridContainer.tsx
  client/src/components/organisms/CardGroup.tsx
  client/src/components/organisms/MtgCard.tsx
  client/src/components/organisms/VirtualizedCardGrid.tsx
  client/src/components/pages/CardDemo.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/hooks/useCardCollectionEntry3.ts
  client/src/hooks/useOptimizedSort.ts
  client/src/pages/ArtistCardsPage.tsx
  client/src/pages/SetPage.tsx
  client/src/utils/directDomOverlay.ts
  client/src/utils/globalCardEntryHandler.ts
  client/src/utils/performanceMonitor.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add custom hooks for haptic feedback, long press, swipe gestures, and responsive breakpoints
  client/src/components/atoms/layouts/ResponsiveGrid.tsx
  client/src/components/atoms/shared/AppButton.tsx
  client/src/components/atoms/shared/AppCard.tsx
  client/src/components/molecules/Cards/CardCompact.tsx
  client/src/components/organisms/CardDisplayResponsive.tsx
  client/src/hooks/useHapticFeedback.ts
  client/src/hooks/useLongPress.ts
  client/src/hooks/useResponsiveBreakpoints.ts
  client/src/hooks/useSwipeGesture.ts
  client/src/theme/designTokens.ts
  client/src/theme/index.ts
  client/src/utils/responsiveHelpers.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Enhance card display with keyboard navigation and accessibility improvements
  client/src/components/atoms/shared/CollectionProgressBar.tsx
  client/src/components/molecules/Sets/MtgSetCard.tsx
  client/src/components/organisms/ArtistPageFilters.tsx
  client/src/components/organisms/CardDisplayResponsive.tsx
  client/src/components/organisms/SetCollectionGroups.tsx
  client/src/components/organisms/SetCollectionPanel.tsx
  client/src/components/organisms/SetPageHeader.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/graphql/queries/userCards.ts
  client/src/hooks/useCardFiltering.ts
  client/src/hooks/useFilterState.ts
  client/src/hooks/useSetCollectionProgress.ts
  client/src/hooks/useSetGroupToggle.ts
  client/src/utils/logger.ts
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: optimize context and type definitions for card collection management
  client/src/components/molecules/Cards/MtgCardCollectionActions.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/types/collection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: enhance layout and functionality of QuickEntryKeysFab component and related pages
  client/src/App.tsx
  client/src/components/molecules/Cards/QuickEntryKeysFab.tsx
  client/src/components/pages/AllSetsPage.tsx
  client/src/components/templates/Layout.tsx
  client/src/contexts/CollectionContext.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

refactor: clean up unused interfaces and types across components
  client/src/components/organisms/AllPrintingsDisplay.tsx
  client/src/components/organisms/RelatedCardsDisplay.tsx
  client/src/components/pages/ArtistCardsPage.tsx
  client/src/components/pages/CardAllPrintingsPage.tsx
  client/src/components/pages/SetPage.tsx
  client/src/components/pages/SignInRedirectPage.tsx
  client/src/contexts/CollectionContext.tsx
  client/src/graphql/mutations/addCardToCollection.ts
  client/src/graphql/mutations/user.ts
  client/src/graphql/queries/artistSearch.ts
  client/src/graphql/queries/cardNameSearch.ts
  client/src/graphql/queries/cards.ts
  client/src/graphql/queries/sets.ts
  client/src/graphql/queries/userCards.ts
  client/src/types/collection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

no lang for now
  client/src/components/organisms/Header.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

fixing pre-card/user
  .http/userCardsBySet-queries.http
  src/App.MtgDiscovery.GraphQL/Queries/ArtistQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/CardQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/Queries/SetQueryMethods.cs
  src/Lib.Adapter.Cards/Queries/Entities/CardItemItrEntity.cs
  src/Lib.Aggregator.Cards/Queries/Mappers/CardItemExtToItrMapper.cs
  src/Lib.Aggregator.Scryfall.Shared/Entities/CardItemItrEntity.cs
  src/Lib.MtgDiscovery.Entry.Tests/Commands/Validators/AddCardToCollectionArgEntityValidatorContainerTests.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/AddCardToCollectionArgEntityValidatorContainer.cs
  src/Lib.MtgDiscovery.Entry/Commands/Validators/CollectedItemCountValidator.cs
Due: .pipelines/deploy/backend-pipeline.yml

whole bunches of changes, DEAL
  .http/card-queries.http
Due: none

minor tweaks
  .http/userCardsBySet-queries.http
  src/App.MtgDiscovery.GraphQL/Queries/ArtistQueryMethods.cs
  src/Lib.Scryfall.Ingestion/BulkIngestion/CardsBulkDataFetcher.cs
Due: .pipelines/deploy/backend-pipeline.yml

batchin
  src/Lib.Adapter.UserCards/Queries/UserCardsQueryAdapter.cs
Due: .pipelines/deploy/backend-pipeline.yml

updated ctor add to return full card
  .http/addCardToCollection-mutation.http
  src/App.MtgDiscovery.GraphQL/Entities/Types/ResponseModels/AddCardToCollectionResponseModelUnionType.cs
  src/App.MtgDiscovery.GraphQL/Mutations/UserCardsMutationMethods.cs
  src/App.MtgDiscovery.GraphQL/Schemas/ApiMutationExtensions.cs
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserCardsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/AddCardToCollectionEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCards/IAddCardToCollectionEntryService.cs
  src/Lib.MtgDiscovery.Entry/Commands/UserCardsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml
