Repository Fyzxs/MtgDiscoveryClaude: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

.pipelines/deploy/backend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push Container
    jobs:
    - job: BuildContainer
      displayName: Build .NET Container Image
      steps:
      - template: ../shared/resource-names.yml
        parameters:
          environment: shared
          includeShared: true
  ...

.pipelines/deploy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: BuildReact
      displayName: Build React Application
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

feat: Complete TASK-3.4 - useSealedProductCollection Hook
  client/src/hooks/useSealedProductCollection.ts
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.5 - SealedProductCard Collection UI Integration
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: Complete TASK-3.6 - SealedProductGrid and SetPage Integration
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/hooks/useSealedProductsData.ts
Due: .pipelines/deploy/frontend-pipeline.yml

fix: resolve build accessibility errors for user sealed products
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Mappers/UserSealedProducts/UserSealedProductReadPointMapper.cs
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.MtgDiscovery.Entry/Lib.MtgDiscovery.Entry.csproj
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

fix: make UserSealedProductsByUserIdXfrArgs public
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: make adapter implementations public and fix IDE0021 warnings
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: move aggregator interfaces to Apis folder for public access
  src/Lib.Aggregator.UserSealedProducts/Apis/IAddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: create public aggregator wrapper classes in Apis folder
  src/Lib.Aggregator.UserSealedProducts/Apis/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: restructure Lib.Aggregator.UserSealedProducts to match UserCards pattern
  src/Lib.Aggregator.UserSealedProducts/Apis/AddUserSealedProductAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsCommandAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/IUserSealedProductsQueryAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Apis/UserSealedProductsByUserIdAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/IAddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/UserSealedProductsCommandAggregator.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/IUserSealedProductsByUserIdAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsQueryAggregator.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: restructure Lib.Domain.UserSealedProducts to match UserCards pattern
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsCommandDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/IUserSealedProductsQueryDomainService.cs
  src/Lib.Domain.UserSealedProducts/Apis/UserSealedProductsDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/AddUserSealedProductDomainService.cs
  src/Lib.Domain.UserSealedProducts/Commands/UserSealedProductsCommandDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsByUserIdDomainService.cs
  src/Lib.Domain.UserSealedProducts/Queries/UserSealedProductsQueryDomainService.cs
Due: .pipelines/deploy/backend-pipeline.yml

refactor: restructure Lib.Adapter.UserSealedProducts to match established patterns
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsCommandAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsQueryAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/UserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/IAddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Commands/UserSealedProductsCommandAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Adapter.UserSealedProducts/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Adapter.UserSealedProducts/Queries/IUserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdXfrArgs.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsQueryAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/UserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/UserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: update Entry layer to use composite UserSealedProductsDomainService
  src/Lib.MtgDiscovery.Entry/Commands/UserSealedProducts/AddUserSealedProductEntryService.cs
  src/Lib.MtgDiscovery.Entry/Queries/UserSealedProducts/UserSealedProductsByUserIdEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: correct using statements and property access in UserSealedProducts layers
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/Mappers/IUserSealedProductOufMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/IUserSealedProductItrMapper.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/UserSealedProductsByUserIdAggregatorService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

fix: correct GraphQL layer UserSealedProducts integration
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/Lib.MtgDiscovery.Entry/Apis/EntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/IUserSealedProductsEntryService.cs
  src/Lib.MtgDiscovery.Entry/Apis/UserSealedProductsEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml

docs: add HTTP test files for UserSealedProducts feature
  .http/README_UserSealedProducts.md
  .http/addUserSealedProduct.http
  .http/getSealedProductsBySetCode.http
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/getUserSealedProducts.http
Due: none

feat: add collectionId parameter for user sealed products
  .http/README_UserSealedProducts.md
  .http/addUserSealedProduct.http
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/getUserSealedProducts.http
  client/src/hooks/useSealedProductCollection.ts
  src/App.MtgDiscovery.GraphQL/Actions/Mappers/AddUserSealedProductArgsMapper.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/SealedProducts/GetSealedProductsBySetCodeArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Entities/Args/UserSealedProducts/AddUserSealedProductServerArgEntity.cs
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/UserSealedProductExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/UserSealedProductsScribe.cs
  src/Lib.Adapter.UserSealedProducts/Apis/Entities/IUserSealedProductXfrEntity.cs
  src/Lib.Adapter.UserSealedProducts/Apis/IUserSealedProductsQueryAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Apis/UserSealedProductsAdapterService.cs
  src/Lib.Adapter.UserSealedProducts/Commands/AddUserSealedProductAdapter.cs
  src/Lib.Adapter.UserSealedProducts/Queries/UserSealedProductsByUserIdAdapter.cs
  src/Lib.Aggregator.UserSealedProducts/Commands/AddUserSealedProductAggregatorService.cs
  src/Lib.Aggregator.UserSealedProducts/Queries/Mappers/UserSealedProductItrMapper.cs
  src/Lib.MtgDiscovery.Entry/Entities/Outs/UserSealedProducts/UserSealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Mappers/UserSealedProductItrToOutMapper.cs
  src/Lib.Shared.DataModels/Entities/Args/SealedProducts/ISealedProductsBySetCodeArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductClientArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/AddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IAddUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/UserSealedProductItrEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

feat: add HTTP test environment setup and fix GraphQL mutation field names
  .http/.env.example
  .http/.gitignore
  .http/README_UserSealedProducts.md
  client/src/graphql/mutations/sealedProducts.ts
Due: .pipelines/deploy/frontend-pipeline.yml

sealed display w/quantity
  client/src/App.tsx
  client/src/components/atoms/Sealed/SealedCollectionBadge.tsx
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Sealed/SealedProductCollectionEntry.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
  client/src/contexts/SealedCollectionContext.tsx
  client/src/generated/gql.ts
  client/src/generated/graphql.ts
  client/src/graphql/mutations/sealedProducts.ts
  client/src/graphql/queries/sealedProducts.ts
  client/src/hooks/useSealedProductCollection.ts
  client/src/hooks/useSealedProductCollectionActions.ts
  client/src/hooks/useSealedProductCollectionEntry.ts
  client/src/hooks/useSealedProductGridNavigation.ts
  client/src/hooks/useSealedProductInteractions.ts
  client/src/hooks/useSealedProductsData.ts
  client/src/utils/directSealedProductOverlay.ts
  client/src/utils/globalSealedProductEntryHandler.ts
  src/App.MtgDiscovery.GraphQL/Queries/SealedProductsQueryMethods.cs
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Lib.MtgDiscovery.Entry/Entities/Outs/SealedProducts/SealedProductOutEntity.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Enrichments/IUserSealedProductEnrichment.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Enrichments/UserSealedProductEnrichment.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Integrators/IUserSealedProductIntegrator.cs
  src/Lib.MtgDiscovery.Entry/Queries/Actions/Integrators/UserSealedProductIntegrator.cs
  src/Lib.MtgDiscovery.Entry/Queries/SealedProducts/SealedProductsBySetCodeEntryService.cs
Due: .pipelines/deploy/backend-pipeline.yml, .pipelines/deploy/frontend-pipeline.yml

sealed tracked
  client/src/components/atoms/Sealed/LastDeltaBadge.tsx
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Sealed/SealedCollectionSummary.tsx
  client/src/components/molecules/Sealed/SealedProductOverlay.tsx
  client/src/components/organisms/Sealed/SealedProductGrid.tsx
  client/src/components/pages/SetPage.tsx
  client/src/contexts/SealedCollectionContext.tsx
  client/src/hooks/useSealedProductsData.ts
  client/src/types/sealedProduct.ts
Due: .pipelines/deploy/frontend-pipeline.yml

better sealed and collection overly
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/molecules/Binder/BinderSlot.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.MIGRATION.md
  client/src/components/molecules/Cards/CollectionEntryOverlay.README.md
  client/src/components/molecules/Cards/CollectionEntryOverlay.example.tsx
  client/src/components/molecules/Cards/CollectionEntryOverlay.tsx
  client/src/components/molecules/Cards/MIGRATION_GUIDE.md
  client/src/components/molecules/Cards/index.ts
  client/src/components/organisms/Cards/MtgCard.tsx
  client/src/hooks/useCardCollectionEntry.ts
  client/src/hooks/useMtgCardCollectionActions.ts
  client/src/hooks/useSealedProductCollectionActions.ts
  client/src/hooks/useSealedProductCollectionEntry.ts
  client/src/utils/directDomOverlay.ts
  client/src/utils/globalCardEntryHandler.ts
  client/src/utils/globalSealedProductEntryHandler.ts
Due: .pipelines/deploy/frontend-pipeline.yml

wishlist toggle
  client/src/components/atoms/Binder/PageTab.tsx
  client/src/components/molecules/shared/CollectorFiltersSection.tsx
  client/src/components/organisms/Sets/SetPageFilters.tsx
  client/src/components/pages/SetPage.tsx
  client/src/hooks/useSetPageData.ts
  client/src/types/filters.ts
  client/src/utils/cardUtils.ts
Due: .pipelines/deploy/frontend-pipeline.yml

https
  .http/getSealedProductsBySetCodeWithUserQuantity.http
  .http/sdl.http
Due: none

feat(sealed-products): Task 1.3 - Create SealedProductsInquisitor
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitors/SealedProductsInquisitor.cs
  task-1.3-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

pre impl
  SEALED_PRODUCTS_PLAN.md
  SEALED_PRODUCTS_TASKS.md
Due: none

feat(sealed-products): Task 1.4 - Create SealedProductsBySetIdInquisition
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/SealedProductsBySetIdInquisition.cs
  task-1.4-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

feat(sealed-products): Task 1.2 - Create SealedProductsBySetIdQueryDefinition
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/SealedProductsBySetIdQueryDefinition.cs
  task-1.2-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

ignore update
  .gitignore
Due: none

sealed ingestion
  src/App.MtgDiscovery.GraphQL/appsettings.json
  src/Cli.Sealed.ImageScraper/COMING_SOON.jpg
  src/Cli.Sealed.ImageScraper/COMING_SOON.png
  src/Cli.Sealed.ImageScraper/Cli.Sealed.ImageScraper.csproj
  src/Cli.Sealed.ImageScraper/Logging/ISkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/Logging/SkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/Models/SealedProduct.cs
  src/Cli.Sealed.ImageScraper/MtgJson/MtgJsonFetcher.cs
  src/Cli.Sealed.ImageScraper/Orchestration/ImageScraperOrchestrator.cs
  src/Cli.Sealed.Ingestion/Cli.Sealed.Ingestion.csproj
  src/Cli.Sealed.Ingestion/Dashboard/IIngestionDashboard.cs
  src/Cli.Sealed.Ingestion/Dashboard/RazorConsoleIngestionDashboard.cs
  src/Cli.Sealed.Ingestion/Dashboard/RazorUI/IngestionDashboard.razor
  src/Cli.Sealed.Ingestion/Dashboard/RazorUI/IngestionDashboardState.cs
  src/Cli.Sealed.Ingestion/Dtos/AllPrintingsDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonIdentifiersDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonPurchaseUrlsDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonSealedProductDto.cs
  src/Cli.Sealed.Ingestion/Dtos/MtgJsonSetDto.cs
  src/Cli.Sealed.Ingestion/Ingestion/ISealedProductIngestionService.cs
  src/Cli.Sealed.Ingestion/Ingestion/SealedProductIngestionService.cs
  src/Cli.Sealed.Ingestion/Program.cs
  src/Cli.Sealed.Ingestion/SealedProductIngestionApplication.cs
  src/Cli.Sealed.Ingestion/appsettings.json
  src/Lib.Adapter.Scryfall.Cosmos/Apis/CosmosItems/SealedProductExtEntity.cs
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Scribes/SealedProductsScribe.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/Definitions/SealedProductsCosmosContainerDefinition.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Containers/SealedProductsCosmosContainer.cs
  src/Lib.Adapter.Scryfall.Cosmos/Cosmos/Primitives/SealedProductItemsCosmosContainerName.cs
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

image scraper
  .gitignore
  src/Cli.Sealed.ImageScraper/COMING_SOON.png
  src/Cli.Sealed.ImageScraper/Cli.Sealed.ImageScraper.csproj
  src/Cli.Sealed.ImageScraper/Dashboard/IImageScraperDashboard.cs
  src/Cli.Sealed.ImageScraper/Dashboard/RazorConsoleImageScraperDashboard.cs
  src/Cli.Sealed.ImageScraper/Dashboard/RazorUI/ImageScraperDashboard.razor
  src/Cli.Sealed.ImageScraper/Dashboard/RazorUI/ImageScraperDashboardState.cs
  src/Cli.Sealed.ImageScraper/Dashboard/RazorUI/_Imports.razor
  src/Cli.Sealed.ImageScraper/Downloading/IImageDownloader.cs
  src/Cli.Sealed.ImageScraper/Downloading/ImageDownloader.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/CardMarketImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/CardTraderImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/IImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageProviders/TcgPlayerImageProvider.cs
  src/Cli.Sealed.ImageScraper/ImageScraperApplication.cs
  src/Cli.Sealed.ImageScraper/Logging/ISkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/Logging/SkippedProductLogger.cs
  src/Cli.Sealed.ImageScraper/MTGO_REDEMPTION.png
  src/Cli.Sealed.ImageScraper/MTGO_REDEMPTION_FOIL.png
  src/Cli.Sealed.ImageScraper/Models/DownloadResult.cs
  src/Cli.Sealed.ImageScraper/Models/ImageSize.cs
  src/Cli.Sealed.ImageScraper/Models/SealedProduct.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/AllPrintingsDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/MtgJsonIdentifiersDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/MtgJsonSealedProductDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/Dtos/MtgJsonSetDto.cs
  src/Cli.Sealed.ImageScraper/MtgJson/IMtgJsonCache.cs
  src/Cli.Sealed.ImageScraper/MtgJson/IMtgJsonFetcher.cs
  src/Cli.Sealed.ImageScraper/MtgJson/MtgJsonCache.cs
  src/Cli.Sealed.ImageScraper/MtgJson/MtgJsonFetcher.cs
  src/Cli.Sealed.ImageScraper/MtgoRedemption/IMtgoRedemptionImageGenerator.cs
  src/Cli.Sealed.ImageScraper/MtgoRedemption/MtgoRedemptionImageGenerator.cs
  src/Cli.Sealed.ImageScraper/Orchestration/IImageScraperOrchestrator.cs
  src/Cli.Sealed.ImageScraper/Orchestration/ImageScraperOrchestrator.cs
  src/Cli.Sealed.ImageScraper/Program.cs
  src/Cli.Sealed.ImageScraper/appsettings.json
  src/Directory.Packages.props
  src/MtgDiscoveryVibe.sln
Due: .pipelines/deploy/backend-pipeline.yml

feat(sealed-products): Task 1.1 - Create SealedProductsBySetIdArgs
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Inquisitions/Args/SealedProductsBySetIdArgs.cs
  task-1.1-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

feat(sealed-products): Task 1.5 - Create SealedProductsGopher
  SEALED_PRODUCTS_TASKS.md
  src/Lib.Adapter.Scryfall.Cosmos/Apis/Operators/Gophers/SealedProductsGopher.cs
  task-1.5-codereview.md
Due: .pipelines/deploy/backend-pipeline.yml

Reduce spacing between product name and purchase links
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move results summary into Cards tab only
  client/src/components/pages/SetPage.tsx
  client/src/components/templates/SetPageTemplate.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Fix duplicate hasCollector declaration
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move purchase links to bottom-right of image overlay
  client/src/components/atoms/Sealed/SealedProductCard.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Improve SetPage tabs and sealed product display
  client/src/components/atoms/Sealed/SealedProductCard.tsx
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Move tabs closer to header and restrict Binder View to Cards tab
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

feat: add shared data model interfaces for sealed product collection
  src/Lib.Shared.DataModels/Entities/Args/UserSealedProducts/IAddUserSealedProductArgEntity.cs
  src/Lib.Shared.DataModels/Entities/Itrs/UserSealedProducts/IUserSealedProductItrEntity.cs
  src/Lib.Shared.DataModels/Entities/Oufs/UserSealedProducts/IUserSealedProductOufEntity.cs
Due: .pipelines/deploy/backend-pipeline.yml

Add Binder as a third tab instead of separate page
  client/src/components/pages/SetPage.tsx
Due: .pipelines/deploy/frontend-pipeline.yml

Path conditions:
  .pipelines/deploy/backend-pipeline.yml: any of: src, .pipelines/deploy/backend-pipeline.yml
  .pipelines/deploy/frontend-pipeline.yml: any of: client, .pipelines/deploy/frontend-pipeline.yml
